@import 'veriabel';

@include fontface($Roboto, Roboto-Bold, 700, normal);
@include fontface($Roboto, Roboto-Black, 900, normal);
@include fontface($Roboto, Roboto-Medium, 500, normal);
@include fontface($Roboto, Roboto-Regular, 400, normal);
@include fontface($Roboto, Roboto-Light, 300, normal);

@include fontface($Panton, Panton-Bold, 700, normal);
@include fontface($Panton, Panton-Regular, 400, normal);

@include fontface($PantonBlack, Panton-Bold, 400, normal);
@include fontface($PantonBlack, Panton-Black, 400, normal);
@include fontface($PantonBlack, Panton-Black, 300, normal);


* {
  box-sizing: border-box;
}

//html,
//body {
//  overflow-x: hidden;
//}

html {
  &.overflow {
    height: 100vh;
    overflow: hidden;
  }
}
body {
  letter-spacing: 0.05em;
  overflow-x: hidden;

  &.overflow {
    margin-right: 15px;
    overflow: hidden;
    height: 100vh;

    @include respond-to(md) {
      margin-right: 0;
    }
  }
}
a {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

.main {
  display: block;
}

.wrapper {
  margin: auto;
  max-width: 1695px;
}

.red-btn {
  background-color: $second-red;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 181px;
  min-width: 180px;
  height: 40px;
  color: $white;
  font-weight: 600;
  font-family: $Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 13px;
  cursor: pointer;
  transition: $delay;

  @include respond-to(xs) {
    font-size: 14px;
    height: 30px;
  }

  &_small {
    width: 160px;
    min-width: 160px;
    height: 34px;
  }

  &:hover {
    background-color: #FF5F51;
  }

  &:disabled{
    background-color: $light-gray;
    color: #BDBDBD;
  }
}

.page-head {
  margin: auto;
  max-width: 1030px;
  padding-top: 92px;
  letter-spacing: 0;

  @include respond-to(xs) {
    margin: 0;
    padding-top: 10px;
  }

  &__name {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 52px;
      color: $black-custom;
      line-height: 49px;
      font-family: $Panton;
      font-weight: 700;

      @include respond-to(xs) {
        font-size: 32px;
        line-height: 30px;
      }
    }
    p {
      margin-top: 5px;
      transform: translateX(32px);
      font-family: $Roboto;
      line-height: 22px;
      font-size: 20px;
      letter-spacing: 0;
      font-weight: 700;
      color: $black-custom;
      max-width: 798px;

      span {
        display: block;
      }
    }
  }

  &__breadcrumbs {
    margin-top: 23px;
    padding-left: 7px;
    display: flex;
    flex-wrap: wrap;

    @include respond-to(xs) {
      padding-left: 0;
    }

    a {
      font-family: $Roboto;
      font-size: 16px;
      line-height: 22px;
      color: #BDBDBD;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      font-weight: 500;
      letter-spacing: 0;
      transition: all $delay ease;

      &:hover {
        text-decoration: none;
      }

      &.active {
        text-decoration: none;
        cursor: default;
      }
    }

    span {
      margin: 0 12px;
      margin-top: 3px;
      color: #BDBDBD;
    }
  }
}

// Custom Checkboxes
.custom-checkbox {

  &__label {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    left: 0;
    display: inline-block;
    margin-right: 7px;
    width: 18px;
    height: 18px;
    border: 2px solid $second-red;
    border-radius: 3px;
    cursor: pointer;

    &::before {
      content: '';
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 18px;
      height: 18px;
      border-radius: 3px;
      background-image: url('../img/icons/catalog/checked.svg');
      background-size: 100% 100%;
    }
  }

  &__name {
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black-custom;
  }

  &__input {
    appearance: none;
    border-radius: none;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__input:checked + &__checkbox::before {
    display: block;
  }

  &__input:disabled + &__checkbox {
    border-color: #eee;
    cursor: default;
  }

  &__input:disabled ~ &__name {
    color: $light-gray;
    cursor: default;
  }
}
// End Custom Checkboxes

// Pagination
.pagination {
	display: flex;
  justify-content: center;
	align-items: center;
  margin: 65px 0;

  @include respond-to(xs) {
    margin: 25px 0;
  }

	&__Item {
		display: inline-block;
		margin-right: 20px;
    font-family: $Roboto;
		font-weight: 500;
    font-size: 16px;
    line-height: 19px;
		text-decoration: underline;
		text-decoration-skip-ink: none;
    color: $black-custom;
		transition: all .25s;

		@include respond-to(xs) {
			margin-right: 10px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	&__dots {
		display: flex;
		margin-right: 25px;

		&_Item {
      margin-top: 7px;
			margin-right: 3px;
			display: inline-block;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: $light-gray;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__page-num--active {
		padding: 2.5px 7.1px;;
		border-radius: 5px;
		text-decoration: none;
		border: 2px solid $second-red;
    background-color: transparent;
		pointer-events: none;
		cursor: default;
	}
}
// End Pagination

.slick-slider {
  position: relative;
  z-index: 0  ;
}

.slick-initialized .slick-slide {
  outline: none;
}
