.footer {
  background: #FDFDFD;
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.03);
  padding-top: 73px;

  @include respond-to(md) {
    padding-top: 9px;
  }

  @media only screen and (max-width:767px) {
    padding-top: 0;
    box-shadow: none;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1225px;
    display: flex;

    @media only screen and (max-width:1440px) {
      padding: 0 24px;
      justify-content: space-between;
    }

    @include respond-to(md) {
      padding-right: 1px;
    }

    @media only screen and (max-width:767px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
  &__left-side {
    min-width: 220px;

    @include respond-to(md) {
      padding-top: 33px;
    }

    @media only screen and (max-width:767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & > a:first-child::before{

      @include respond-to(xs) {
        content: '';
        display: block;
        height: 2px;
        width: calc(100% + 50px);
        position: relative;
        right: 0px;
        bottom: -70px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.03);
      }
    }
  }
  &__right-side {
    margin: 36px 0 0 79px;
    display: flex;

    @media screen and (max-width:1440px) {
      margin-left: 0;
    }

    @include respond-to(lg) {
      width: 100%;
      justify-content: center;
    }

    @include respond-to(md) {
      flex-direction: column;
      justify-content: flex-end;
    }

    @media only screen and (max-width:767px) {
      margin-top: 32px;
    }
  }

  &__logo {

    @include respond-to(md) {
      margin-left: 1px;
    }

    //@media only screen and (max-width:767px) {
    //  margin: 0 auto;
    //}
  }
  &__banner {
    margin-top: 15px;
    width: 210px;
    height: 308px;
  }
  &__nav {
    color: $black-custom;
    display: flex;
    font-family: $Roboto;

    @include respond-to(md) {
      justify-content: flex-end;
    }

    @media only screen and (max-width:767px) {
      display: none;
    }

    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 22px;
      line-height: 23px;

      @include respond-to(md) {
        margin-bottom: 21px;
        line-height: 26px;
      }
    }

    &-item {
      width: 210px;
      min-width: 210px;

      &_two {
        margin: 0 105px;

        @media screen and (max-width:1440px) {
          margin: 0 50px;
        }

        @include respond-to(lg) {
          margin: 0 20px;
        }

        @include respond-to(md) {
          margin-left: 51px;
          margin-right: 0;
        }
      }
      &_three {
        margin-top: 45px;

        @include respond-to(lg) {
          display: none;
        }
      }
    }

  }
  &__list {

    &-item {
      margin-bottom: 20px;
      transition: all .25s;

      &_mobile {
        display: none;

        @include respond-to(lg) {
          display: block;
        }
      }
    }

    &-item:hover &-link {
      color: $red;
    }

    &-link {
      color: $black-custom;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      transition: all .25s;
    }
  }
  &__socials {
    min-width: 171px;

    /*
    @include respond-to(md) {
      padding: 16px 0 0 37px;
      display: flex;
      flex-direction: row;
    }

    @media only screen and (max-width:767px) {
      padding: 0 0 0 10px;
    }
    */

    //&-icons {
    //  position: relative;
    //  width: 100%;
    //  height: 116px;
    //
    //  @include respond-to(md) {
    //    width: 171px;
    //    min-width: 171px;
    //  }
    //
    //  @media only screen and (max-width:767px) {
    //    width: 131px;
    //    min-width: 131px;
    //  }
    //
    //  img {
    //    position: absolute;
    //
    //    &:nth-child(1) {
    //      top: 37px;
    //      left: 8px;
    //    }
    //    &:nth-child(2) {
    //      top: 2px;
    //      left: 70px;
    //    }
    //    &:nth-child(3) {
    //      top: 27px;
    //      right: 10px;
    //    }
    //    &:nth-child(4) {
    //      left: 72px;
    //      bottom: 0;
    //
    //      @media only screen and (max-width:767px) {
    //        bottom: 3px;
    //        left: 41px;
    //      }
    //    }
    //  }
    //}
    p {
      margin: 22px 0 0 15px;
      max-width: 122px;
      line-height: 29px;
      font-size: 30px;
      color: #191919;
      font-family: $Panton;
      font-weight: 700;

      @include respond-to(md) {
        margin: 27px 0 0 13px;
        letter-spacing: 1.5px;
        max-width: 100%;
      }

      span {
        @include respond-to(md) {
          display: block;
        }
      }

      @media only screen and (max-width:767px) {
        margin: 18px 0 0 21px;
        letter-spacing: -0.1px;
        line-height: 23px;
        font-size: 24px;
      }
    }
  }

  &__catalog {
    margin-top: -3px;
    display: none;


    &-item {
      text-align: center;
      margin-bottom: 20px;
    }

    &-link {
      font-family: $Roboto;
      font-size: 18px;
      font-weight: 500;
      color: $black-custom;
      position: relative;
      text-align: center;
    }

    &-image {
      position: absolute;
      left: -32px;
      top: 2px;
    }


    @media only screen and (max-width:767px) {
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      display: block;
    }
  }
  &__bottom {
    padding: 50px 219px 0;
    margin: 26px auto 0;
    max-width: 1665px;
    border-top: 1px solid #EBEBEB;
    height: 134px;
    color: #EBEBEB;
    font-family: $Roboto;
    display: flex;

    @include respond-to(xl) {
      padding: 50px 50px 0;
    }

    @include respond-to(md) {
      margin: 42px auto 0;
      padding: 46px 0 86px;
      height: auto;
      max-width: calc(100% - 48px);
      justify-content: space-between;
    }

    @media only screen and (max-width:767px) {
      display: none;
    }

    p {
      margin: -6px 0 0 79px;
      max-width: 975px;
      font-weight: 500;
      line-height: 23px;
      font-size: 16px;

      @include respond-to(xl) {
        margin: -5px 0 0;
        max-width: 524px;
      }

    }
  }
  &__copyright {
    font-weight: 500;
    line-height: 15px;
    font-size: 16px;
  }
}

.footer__socials{

  &-icons{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 116px;

    @include respond-to(sm) {
      width: 160px;
      margin: 0 auto;
    }
  }

  &_link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;

    width: auto;
    height: auto;
    position: absolute;
    z-index: 0;

    padding: 3px;
    transition: $delay;
  }

  &_telegram{
    top: 36px;
    left: 9px;

    width: 48px;
    height: 48px;
  }
  &_fb{
    top: 0;
    right: 79px;

    width: 21px;
    height: 21px;
  }
  &_insta{
    top: 26px;
    right: 10px;

    width: 37px;
    height: 37px;
  }
  &_vk{
    bottom: -2px;
    right: 53px;

    width: 46px;
    height: 46px;
  }

  &_link:hover{

    &.footer__socials_telegram{
      background-color: #61A8DE;

      & .svg-telegram path{
        fill: #ffffff;
        transition: #delay;
      }
    }
    &.footer__socials_fb{
      background-color: #475993;

      & .svg-fb path{
        fill: #ffffff;
        transition: #delay;
      }
    }
    &.footer__socials_insta{
      background-color: #A91C8D;

      & .svg-insta path{
        fill: #ffffff;
        transition: #delay;
      }
    }
    &.footer__socials_vk{
      background-color: #4D76A1;

      & .svg-vk path{
        fill: #ffffff;
        transition: #delay;
      }
    }
  }
}