.header {
  max-width: 1265px;
  //position: relative;
  height: 103px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include respond-to(xl) {
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
  }

/*  @include respond-to(lg) {
    padding-left: 44px;
    padding-right: 44px;
  }

  @include respond-to(md) {
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
  }*/

  @include respond-to(xs) {
    padding-left: 11px;
    padding-right: 11px;
  }

  & > a {
    overflow: hidden;
  }

  &__logo {
    min-width: 309px;
    min-height: 168px;

    @include respond-to(xl) {
      margin: 22px 0 0 20px;
      min-width: 170px;
      width: 170px;
      min-height: 93px;
    }

    @include respond-to(xs) {
      margin: 4px 0 0 39px;
      min-width: 130px;
      width: 130px;
      height: 71px;
    }
  }
  &__navbar {
    margin-top: 32px;
    display: flex;
    height: 71px;

    @include respond-to(xl) {
      width: calc(100% - 210px);
      justify-content: space-between;
    }

    @include respond-to(xl) {
      margin: -13px 0 0 35px;
      height: auto;
      align-items: center;
    }

  }

  &__menu {
    display: flex;


    &-link {
      color: $black-custom;
      display: flex;
      align-items: center;
      // transition: $delay;
      letter-spacing: 0.05em;
      padding:  17px 19px 20px 26px;
     // border: 3px solid transparent;
      border-bottom: none;
      cursor: pointer;
      position: relative;
      z-index: 31;

      @include respond-to(xl) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include respond-to(xl) {
        padding: 0;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white;
        bottom: -2px;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: $delay;
      }

      .header__arrow-down {
        transition: $delay;
      }
      path {
        transition: fill $delay;
      }
    }

    &-item {
      // margin-right: 30px;
      font-family: $Roboto;
      font-weight: 500;
      font-size: 18px;
      position: relative;

      &:first-child {
        @include respond-to(lg) {
          display: none;
        }
      }

      //&:nth-child(2):hover .header__menu-link,
      //&:nth-child(4):hover .header__menu-link {
      //  border-bottom: 3px solid #f2f2f2;
      //}

      &:hover .header__submenu {
        display: block;
        opacity: 1;
      }

      &:hover .header__menu-link {
        color: $red;
        border-radius: 5px 5px 0 0;
        border-color: #F2F2F2;

        &:after {
          opacity: 1;
          z-index: 6;
        }

        .header__arrow-down {
          transform: rotate(180deg);
        }

        path {
          fill: $red;
        }
      }

      &_catalog {
        @include respond-to(xl) {
          display: none;
        }
      }

      &_account {
        margin-left: 147px;

        @include respond-to(xl) {
          margin-left: 0;
        }
      }
      &_activites {
        .header__menu-link {
          padding-left: 9px;
          padding-right: 5px;

          @include respond-to(xl) {
            margin-right: 13px;
            padding: 0;
          }
        }
      }
      &_more {
        .header__menu-link {
          padding-left: 22px;

          @include respond-to(xl) {
            padding-left: 10px;
          }

          @include respond-to(xl) {
            display: none;
          }
        }
      }
    }
  }

  &__burger {
    margin: -1px 19px 0 0;

    &-mobile {
      cursor: pointer;
      display: none;
      min-width: 23px;

      &-active {
        display: none;
      }

      &.active {
        .header__burger-mobile-noactive {
          display: none;
        }

        .header__burger-mobile-active {
          display: block;
        }

      }

      @include respond-to(xl) {
        margin-top: -11px;
        display: block;
      }

      @include respond-to(xs) {
        margin-top: -17px;
      }
    }
  }

  &__arrow-down {
    margin-left: 6px;
  }

  &__options {
    margin: 18px 24px 0 48px;
    display: flex;

    @include respond-to(xl) {
      margin-left: 0;
    }

    @include respond-to(xl) {
      margin-top: 6px;
    }

    @include respond-to(xs) {
      margin-top: 0;
    }

    &-label {
      position: absolute;
      top: -8px;
      right: -27px;
      font-weight: 500;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.05em;
      font-family: $Roboto;
      display: flex;
      color: $white;
      justify-content: center;
      align-items: center;
      min-width: 35px;
      padding: 0 5px;
      height: 21px;
      border: 3px solid $white;
      background-color: $black-custom;
      border-radius: 5px;

      @media only screen and (max-width: 767px) {
        display: none
      }
    }

    &-item {
      position: relative;
      cursor: pointer;

      &_search,
      &_cart {
        margin-top: -5px;
      }

      &_search {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }

      &_favorites {
        margin-top: -3px;
        margin-left: 32px;
        margin-right: 46px;

        @include respond-to(xl) {
          margin-left: 20px;
          margin-right: 40px;
        }

        @include respond-to(xl) {
          margin-left: 23px;
          margin-right: 46px;
        }

        @include respond-to(xs) {
          margin-left: 9px;
          margin-right: 31px;
        }

        span {
          top: -9px;
          right: -29px;
        }
      }

      path {
        transition: fill .4s;
      }

      &:hover {
        path {
          fill: $red;
        }
      }
    }
  }

  &__submenu {
    box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid #F2F2F2;
    border-radius: 0 5px 5px 5px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: none;
    // transition: $delay;
    background-color: $white;
    z-index: 999;

    li {
      a {
        display: flex;
        align-items: center;
      }
    }

    &_catalog {
      min-width: 425px;
      padding: 24px 0 9px;

      a {
        padding-left: 15px;
      }
    }
    &_more {
      min-width: 345px;
      padding: 24px 0 13px;

      a {
        padding-left: 24px;
      }
    }

    &-item {
      margin-bottom: 18px;
    }

    &-icon {
      min-width: 54px;
      width: 54px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
    }

    &-link {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: $black-custom;
      transition: $delay;
      position: relative;

      path {
        transition: fill $delay;
      }

      &:hover {
        color: $red;

        path {
          fill: $red;
        }
      }
    }

    &-status {
      display: flex;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      min-width: 33px;
      padding: 0 5px;
      height: 21px;
      position: absolute;
      left: -19px;
      top: -1px;
      background-color: #FF1400;
      border: 2px solid #ffffff;
      border-radius: 5px;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }

  .big-dropdown {
    margin-top: 120px;
    padding-top: 19px;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 411px;
    background: $white;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 35px 45px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    opacity: 0;
    z-index: -1;
    transition: $delay;

    @include respond-to(xl) {
      border-color: transparent;
      margin-top: 459px;
      height: auto;
    }

    @include respond-to(xs) {
      padding-top: 0;
      margin-top: 0;
      top: 79px;
    }

    &.show {
      z-index: 998;
      opacity: 1;
    }

    .wrapper {
      max-width: 1310px;
      height: 100%;
    }

    &__header {
      padding-left: 23px;
      display: flex;
      align-items: flex-start;

      @include respond-to(xl) {
        padding-left: 77px;
        flex-wrap: wrap;
      }

      @media screen and (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
      }

      @include respond-to(xs) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__user {
      display: flex;
      align-items: center;

      &-image {
        border-radius: 12px;

        @include respond-to(xs) {
          width: 30px;
          height: 30px;
          border-radius: 6px;

        }
      }

      @include respond-to(xs) {
        flex-direction: column;
        align-items: center;
        text-align: center;

      }

      &-name {
        max-width: 200px;
        margin: 2px 0 0 19px;
        font-family: $Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $black-custom;

        @include respond-to(xs) {
          margin: 6px 0 0 0;
        }
      }
    }

    &__balance {
      margin: 4px 0 0 62px;
      display: flex;
      align-items: center;

      @include respond-to(xl) {
        margin: -7px 0 0 39px;
        padding: 0 0 4px 42px;
        height: 66px;
        border-left: 1px solid #AAAAAA;
      }

      @media screen and (max-width: 767px) {
        margin-top: 20px;
        margin-left: 0;
        height: auto;
      }

      @include respond-to(xs) {
        width: 100%;
        margin-top: 11px;
        border-left: 0;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #AAAAAA;
      }

      &-text {
        display: flex;
        flex-direction: column;
        font-family: $Roboto;
        color: $black-custom;
        font-weight: 900;
      }

      &-title {
        font-size: 14px;

        @include respond-to(xs) {
          font-weight: 900;
        }
      }

      &-value {
        margin-top: 6px;
        line-height: 18px;
        font-size: 22px;
      }

      .red-btn {
        margin: 3px 0 0 44px;
        max-width: 123px;
        min-width: 123px;
        height: 35px;

        @include respond-to(xl) {
          margin-left: 30px;
        }

        @include respond-to(xs) {
          margin: 17px 0 0 0;
        }
      }
    }

    &__friends {
      margin: 4px 0 0 67px;
      display: flex;

      &::before{
        content: '';
        width: 1px;
        height: 50px;
        background-color: #aaaaaa;
        position: relative;
        z-index: 0;
        top: -2px;
        right: 28px;

        @include respond-to(lg) {
          display: none;
        }
      }

      @include respond-to(xl) {
        margin-top: 20px;
      }

      @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }

      @include respond-to(xs) {
        position: relative;
        margin-top: 16px;
        flex-direction: column;
        align-items: center;
        width: 260px;
      }

      &-text {
        display: flex;
        flex-direction: column;
        font-family: $Roboto;
        color: $black-custom;
        font-weight: 900;
      }

      &-title {
        font-size: 14px;
      }

      &-value {
        margin-top: 6px;
        line-height: 18px;
        font-size: 22px;

        @include respond-to(xs) {
          position: absolute;
          margin-top: 24px;
          left: 0;
        }
      }

      &-list {
        margin: 3px 0 0 31px;

        @include respond-to(xl) {
          margin-left: 35px;
        }

        @include respond-to(xs) {
          margin: 11px 0 0 auto;
        }
      }

      &-item {
        border-radius: 50%;
        width: 15px;
        height: 15px;

        &:not(:first-child) {
          margin-left: -9.8px;
        }
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;

      @include respond-to(xl) {
        margin: 29px auto 0;
        max-width: 670px;
        padding-top: 23px;
        flex-wrap: wrap;
        border-top: 1px solid #AAAAAA;
      }

      @include respond-to(xs) {
        margin-top: 18px;
        padding: 0 9px 0;
        border-color: transparent;
      }

      &-item {
        position: relative;
        overflow: hidden;
        padding: 19px 0 0 21px;
        //width: 320px;
        width: 24.428%;
        height: 288px;
        border: 1px solid #E0E0E0;
        border-radius: 5px;


        @include respond-to(xl) {
          width: 47.763%;
          margin-bottom: 30px;
        }

        @include respond-to(xs) {
          width: 100%;
          height: 270px;
          margin-bottom: 22px;
        }

        &:after {
          content: '';
          position: absolute;
          background-size: 100% 100%;
          top: 12px;
          right: -12px;
        }

        &_one {
          &:after {
            background-image: url("../img/user-dropdown/cat.svg");
            width: 59px;
            height: 67px;
            right: -1px;
            top: 18px;
          }
        }

        &_two {
          &:after {
            background-image: url("../img/user-dropdown/10.svg");
            width: 57.7px;
            height: 59.2px;
          }
        }

        &_three {
          &:after {
            background-image: url("../img/user-dropdown/99.svg");
            width: 57.7px;
            height: 59.2px;
          }
        }

        &_four {
          &:after {
            background-image: url("../img/user-dropdown/like.svg");
            width: 57px;
            height: 51px;
            top: 17px;
            right: -9px;
          }
        }

        h3 {
          max-width: 200px;
          font-family: $Roboto;
          font-weight: 900;
          line-height: 18px;
          font-size: 22px;
          letter-spacing: 1.4px;
          height: 36px;

          @include respond-to(xl) {
            max-width: 180px;
          }

          @include respond-to(xl) {
            max-width: 200px;
          }
        }
      }

      &-product {
        margin-right: 21px;
        max-width: 115px;
        color: $black-custom;

        @include respond-to(xs) {
          margin-right: 11px;
        }

        & > img {
          width: 60px;
          height: 60px;
        }

        h4 {
          margin-top: 4px;
          font-family: $Roboto;
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: 0.56px;
          height: 42px;
        }

      }
    }

    &__flex {
      margin: 16px 0 0 1px;
      display: flex;

      @include respond-to(xs) {
        margin: 8px 0 0 0;
      }
    }
    &__info {

      @include respond-to(xl) {
        margin-top: 20px;
      }

      @include respond-to(xl) {
        margin-top: 0;
      }

      &-image {
        margin-right: 10px;
        width: 13px;
        display: flex;
        justify-content: center;
      }

      &-item {
        margin-top: 7px;
        display: flex;
        align-items: center;

        span {
          height: 12px;
          font-family: $Roboto;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    &__link {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 13px;
      font-family: $Roboto;
      font-size: 18px;
      text-decoration: underline;
      font-weight: 600;
      color: $black-custom;

      @include respond-to(xl) {
        margin-left: 10px;
      }

      @include respond-to(xs) {
        margin-left: 0;
        bottom: 21px;
      }

      &:after {
        position: absolute;
        right: -27px;
        content: '';
        width: 8px;
        height: 17px;
        background-image: url("../img/icons/red-arrow.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }

  }

  &_login {

    @include respond-to(xl) {
      padding-right: 30px;
    }

    @include respond-to(xs) {
      justify-content: flex-start;
    }

    .header__logo {
      @include respond-to(xs) {
        margin: 4px 0 0 14px;
      }
    }

    // .header__menu-item:hover .header__submenu {
    //   display: none;
    // }

    .header__navbar {

      @include respond-to(xl) {
        margin: -13px 0 0 0;
        width: 75%;
        justify-content: flex-end;
      }

      @include respond-to(xs) {
        margin-left: auto;
        width: auto;
      }
    }

    .header__options {

      @include respond-to(xl) {
        margin-right: 18px;
      }

      &-item {

        &_cart {
          @include respond-to(xs) {
            margin-right: -20px;
          }
        }

        &_favorites {
          @include respond-to(xs) {
            margin-right: 22px;
          }
        }
      }
    }

    .header__menu {

      @include respond-to(xl) {
        transform: translateX(-27px);
        margin-top: 28px;
      }

      &-item {

        // &:first-child {
        //   display: none;
        // }

        &_account {

          @include respond-to(xl) {
            transform: translateY(-5px);
            margin-left: 87px;
          }

          @include respond-to(xs) {
            transform: translate(27px, -7px);
            margin-left: 0;
          }
        }
      }
    }

    .header__menu-item_account {
      margin-left: 272px;
      display: flex;
      padding-bottom: 23px;

      @include respond-to(xl) {
        margin-left: 30px;
      }

      &:hover {
        .header__menu-link {
          border-radius: 0;
          border-color: transparent;

          path {
            fill: $black-custom;
          }
        }
      }

      .header__menu-link_login {
        @include respond-to(xs) {
          display: none;
        }
      }

      .header__menu-link {
        margin-right: 15px;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;

        path,
        rect[rx="6"] {
          transition: fill $delay;
        }

        &_login {

          &:hover {
            path {
              fill: $red;
            }
          }
        }

        &_big-dropdown {
          position: relative;

          &:before {
            opacity: 0;
            transition: $delay;
            margin-top: 58px;
            position: absolute;
            content: '';
            background-image: url("../img/icons/dropdown.svg");
            background-size: cover;
            width: 23px;
            height: 12px;
          }

          &:hover {

            rect[rx="6"] {
              fill: $red;
            }
          }
        }

        &_big-dropdown.show {

          & rect[rx="6"] {
            fill: $red;
          }

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  .mobile-dropdown {
    top: 90px;
    left: 0;
    position: absolute;
    z-index: 20;
    background-color: $white;
    width: 100%;
    padding: 16px 49px 66px;
    transition: $delay;
    transform: translateX(-100%);

    &.show {
      transform: translateX(0);
    }

    @include respond-to(xs) {
      padding: 16px 10px 43px;
    }

    .input-group {
      display: none;
      width: 87%;
      margin: auto;

      @include respond-to(xs) {
        display: block;
      }
    }

    &__user-link {
      display: none;
      margin: 23px 0 0 -22px;
      font-family: $Roboto;
      font-size: 18px;
      font-weight: 500;
      color: $black-custom;
      text-align: center;

      @include respond-to(xs) {
        display: block;
      }
    }


    &__flex {
      max-width: 93.3%;
      margin: 0;
      display: flex;
      justify-content: space-between;

      @include respond-to(xs) {
        padding-top: 44px;
        flex-direction: column;
        max-width: 100%;
      }
    }

    .header__submenu {
      display: block;
      padding: 0;
      min-width: auto;
      max-width: 340px;
      opacity: 1;
      z-index: 999;
      position: static;
      box-shadow: none;
      border: none;

      @include respond-to(xs) {
        margin-left: -17px;
      }

      a {
        padding-left: 14px;

        @include respond-to(xs) {
          max-width: 95%;
          line-height: 21px;
        }
      }

      &_more {
        margin-top: 5px;

        @include respond-to(xs) {
          margin: 12px 0 0 48px;
        }

        a {
          @include respond-to(xs) {
            max-width: 100%;
          }
        }
      }
    }

    &__banner {
      margin-top: 19px;
      width: 100%;
      height: 110px;
      background-color: #E0E0E0;
    }
  }
}
