
/* FONTS */

$Roboto: 'Roboto';
$Panton: 'Panton';
$PantonBlack: 'Panton Black';

/* COLOR */

$white: #fff;
$black: #000;
$black-custom: #333;
$red: #F71300;
$second-red: #FF1400;
$yellow: #FBFE6C;
$light-gray: #e0e0e0;
$gray: #828282;


/* TRANSITION */
$delay: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
$ease: 0.3s ease;
