.not-found {
	margin: auto;
	max-width: 1265px;
	padding-top: 139px;
	letter-spacing: 0;

	&.page_404{
		padding-left: 50px;
	}

	@media only screen and (max-width: 992px)  {
		text-align: center;
		padding-top: 40px;
	}
	@media only screen and (max-width: 768px)  {
		padding: 0 10px;
		padding-top: 40px;
	}
	img {
		margin-bottom: 92px;
		max-width: 360px;
		max-height: 260px;
		width: 100%;
		height: 100%;
		transform: translateX(-50px);

		@media only screen and (max-width: 992px)  {
			margin-bottom: 40px;
		}
	}
	h1,
	h2 {
		font-family:$Panton;
		line-height: 49px;
		font-size: 52px;
		color: #333333;
		font-weight: bold;
	}
	p {
		font-family:$Panton;
		line-height: 22px;
		font-size: 20px;
		color: #4F4F4F;
		margin-top: 35px;
		margin-bottom: 90px;
		max-width: 777px;
		font-weight: bold;
		@media only screen and (max-width: 992px)  {
			margin: 0 auto;
			margin-top: 35px;
			margin-bottom: 40px;
		}
	}
}

.not-found-catalog.products-list {
	@media only screen and (max-width: 992px)  {
		justify-content:center;
		align-items:center;
	}
}
.not-found-catalog.catalog-content {
	@media only screen and (max-width: 992px)  {
		background: none;
	}
}

.not-found-catalog .product {
	@media only screen and (max-width: 992px)  {
		max-width: 298px;
	}
}

.not-found-catalog .product .price-container {
	@media only screen and (max-width: 992px)  {
		max-width: none;
		width: 100%;
		flex-direction:column;
		align-items:center;
		height: auto;
		padding-bottom: 15px;
		padding-left: 0;
	}
}

.not-found-catalog .product .product__info {
	@media only screen and (max-width: 992px)  {
		padding: 21px 30px 38px 30px;
	}
}
.not-found-catalog .price-container__old {
	@media only screen and (max-width: 992px)  {
		margin-left: 0;
		margin-top: 30px;
	}
}
.not-found-catalog  .product__socials {
	@media only screen and (max-width: 992px)  {
		margin-left: 0;
	}
	.product__invite-title {
		@media only screen and (max-width: 992px)  {
			display: none;
		}
	}
}
.not-found-catalog .friends-list {
	@media only screen and (max-width: 992px)  {
		padding-left: 0;
	}
}
.not-found-catalog .friends-list__item {
	@media only screen and (max-width: 992px)  {
		width: 36px;
		height: 36px;
	}
}

.not-found-catalog .price-container__discount {
	@media only screen and (max-width: 992px)  {
		right: -20px;
		width: 50px;
		height: 50px;
	}
}
.not-found-catalog .price-container__discount span {
	@media only screen and (max-width: 992px)  {
		font-size: 14px;
	}
}
.not-found-catalog .products-list {
	@media only screen and (max-width: 992px)  {
		justify-content: center;
		align-items: center;
	}
	@media only screen and (max-width: 575px)  {
		display: block;
	}
}

.not-found-catalog .products-list .product {

	@media only screen and (max-width: 650px)  {
		margin-right: 0;
	}

	@media only screen and (max-width: 575px)  {
		position: relative;
		width: 100%;
		max-width: 300px;
		margin:0;
		padding: 0;

		&::after {
			content: '';
			position: absolute;
			top: 25px;
			left: 15px;
			display: block;
			width: 30px;
			height: 30px;
			background-image: url('../img/eye.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			cursor: pointer;
		}
	}
}
.not-found a {
	font-family: "Panton";
	line-height: 22px;
	font-size: 20px;
	color: #4F4F4F;
	font-weight: bold;
	padding-bottom: 0px;
	border-bottom: 1px solid #4F4F4F;
}
.not-found-catalog .catalog-content__flex {
	@media only screen and (max-width: 575px)  {
		max-width: 300px;
		overflow: hidden;
	}

}
.not-found-catalog .slick-slide img {
	@media only screen and (max-width: 575px)  {
		height: 100%;
		object-fit:cover;
	}
}

.not-found-catalog .prev-not-found {

	@media only screen and (max-width: 575px)  {
		background-image: url('../img/prev-not-found.svg');
		background-repeat: no-repeat;
		background-position:50%;
		background-size: cover;
		width: 40px;
		height: 30px;
		position: absolute;
		bottom: -10px;
		left: 0;
	}
}
.not-found-catalog .next-not-found {

	@media only screen and (max-width: 575px)  {
		background-image: url('../img/next-not-found.svg');
		background-repeat: no-repeat;
		background-position:50%;
		background-size: cover;
		width: 40px;
		height: 30px;
		position: absolute;
		bottom: -10px;
		right: 0;
	}
}
.not-found-catalog .slick-dots {

	@media only screen and (max-width: 575px)  {
		display: flex;
		width: 45px;
		justify-content:space-between;
		margin-left: 127.5px;
		position: absolute;
		bottom: 0;
	}
}
.not-found-catalog .slick-dots li {
	@media only screen and (max-width: 575px)  {
		width: 9px;
		height: 9px;
		border-radius:50%;
		background: #E1E1E1;
		display: block;
		margin: 0;
	}
}
.not-found-catalog .slick-dots li.slick-active {
	@media only screen and (max-width: 575px)  {
		width: 9px;
		height: 9px;
		border-radius:50%;
		background: #FF1400;
	}
}
.not-found-catalog .slick-dots li button {
	@media only screen and (max-width: 575px)  {
		display: none;
	}
}

.not-found-catalog .product__invite {

	&-list {
		@include respond-to(sm) {
			left: -150px;
			transform: scale(-1,1);
		}
	}

	&-row {
		@include respond-to(sm) {
			padding-left: 20px;
			transform: scale(-1,1);
		}
	}
}

.not-found-catalog .products-list {
	@include respond-to(xs) {
		max-width: 100vw;
	}

	.next-not-found {
		right: 20px;
	}
}

.price-container__old::after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(30deg);
}
