.page-head h1,
.page-head h2 {
    font-family: $Panton;
    line-height: 49px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 22px;

	@include respond-to(xs) {
		line-height: 30px;
		font-size: 32px;
	}
}
.about-us-wrap {
    margin: auto;
    max-width: 1467px;
    padding-bottom: 76px;
    letter-spacing: 0;
}
.about-us-wrap .section-one, .about-us-wrap .section-two {
	display: flex;
	position: relative;
	justify-content:space-between;
}
.about-us-wrap .section-one {
	    justify-content: flex-end;
	    margin-bottom: 120px;

	    @media only screen and (max-width: 1430px)  {
			display: block;
		}

    @include respond-to(xs) {
      margin-bottom: 30px;
    }

	    p {
	    	max-width: 830px;
	    	width: 100%;
	    	@media only screen and (max-width: 1430px)  {
	    		max-width: none;
	    	}
	    }
}
.about-us-wrap .section-two {
	align-items:center;

	@include respond-to(xl) {
		display: flex;
		flex-wrap: wrap;
	}
	p {
	    max-width: 665px;
	    width: 100%;
	    padding-left: 216px;
	    box-sizing: content-box;

		@include respond-to(xxl) {
	    	max-width: 50%;
	    	padding-left: 0;
				padding-right: 15px;
	    }
		@include respond-to(lg) {
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
			flex: 0 0 100%;
		}
	}
}
.about-us-wrap h2 {
	font-family: $Panton;
    line-height: 49px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 157px;
    margin-top: 88px;
    padding-left: 216px;
    @media only screen and (max-width: 1430px)  {
		padding-left: 0;
		margin-bottom: 527px;
	}
	@media only screen and (max-width: 768px)  {
		line-height: 28px;
		font-size: 30px;
	}
	@media only screen and (max-width: 575px)  {
		margin-bottom: 326px;
	}
}
.about-us-wrap p {
	font-family: $Panton;
	line-height: 47px;
	font-size: 45px;
	letter-spacing: 0.05em;
	color: #333333;
	@media only screen and (max-width: 768px)  {
		font-size:20px;
		line-height: 21px;
	}
}
.about-us-wrap .before {
	top: 0;
    left: 198px;
    position: absolute;
    height: 350px;
    width: 368px;
    @media only screen and (max-width: 1430px)  {
		top: -409px;
    }
    @media only screen and (max-width: 575px)  {
		top: -472px;
    	left: -23px;
    }
	img {
		position: absolute;
		@media only screen and (max-width: 575px)  {
    		display: none;
    	}
	}
	.before-cat {
		top: -272px;
    	left: -40px;
	}
	.likes {
		top: -60px;
    	left: 11px;
	}
	.likes1 {
		top: 196px;
    	left: -171px;
	}
	.per30 {
		top: 37px;
    	left: -177px;
	}
	.per15 {
		top: 186px;
    	left: -335px;
	}
	.per5 {
		bottom: -12px;
    	left: -182px;
	}
}

.section-two {

	&__bg-cloud{
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	&__bg-cloud:after{
		content: '';
		width: 282px;
		height: 185px;
		background: url(../img/about_us/cloud.svg) no-repeat 0 0/cover;
		position: absolute;
		z-index: 0;
		top: 50px;
		left: 56px;

		@include respond-to(xs) {
			width: 155px;
			height: 95px;
			background: url(../img/about_us/cloud.svg) no-repeat 0 0/contain;
			top: 24px;
			left: 40px;
		}
	}

	&__bg-cloud:before{
		content: '';
		width: 110px;
		height: 72px;
		background: url("../img/about_us/cloud.svg") no-repeat 0 0/cover;
		position: absolute;
		z-index: 0;
		bottom: 83px;
		right: 62px;

		@include respond-to(xs) {
			width: 80px;
			height: 39px;
			background: url(../img/about_us/cloud.svg) no-repeat 0 0/contain;
			bottom: 24px;
			right: -10px;
		}
	}

	&__bg-cat{
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	&__bg-cat:after{
		content: '';
		width: 159px;
		height: 185px;
		background: url(../img/about_us/cat.svg) no-repeat 0 0/contain;
		position: absolute;
		z-index: 0;
		top: 23px;
		left: 260px;

		@include respond-to(xs) {
			width: 155px;
			height: 84px;
			background: url(../img/about_us/cat.svg) no-repeat 0 0/contain;
			top: 9px;
			left: 147px;
		}
	}

	&__bg-cat:before{
		content: '';
		width: 110px;
		height: 134px;
		background: url("../img/about_us/cat-2.svg") no-repeat 0 0/contain;
		position: absolute;
		z-index: 0;
		bottom: -27px;
		right: 39px;

		@include respond-to(xs) {
			width: 60px;
			height: 72px;
			background: url(../img/about_us/cat-2.svg) no-repeat 0 0/contain;
			bottom: -37px;
			right: -3px;
		}
	}

  &__img {
		width: 50%;
    position: relative;
		z-index: 0;
    margin-top: 45px;
		height: 332px;

		@include respond-to(xxl) {
			width: 50%;
			margin: 45px auto 0;
		}

		@include respond-to(lg) {
			width: 100%;
			flex: 0 0 100%;
		}

		@include respond-to(xs) {
			height: 150px;
		}
  }

	&__img-link{
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		z-index: 1;

		&.link-1{
			width: 57px;
			height: 57px;

			top: 110px;
			left: 6px;

			@include respond-to(xs) {
				width: 32px;
				height: 32px;
				top: 53px;
				left: 9px;
			}
		}
		&.link-2{
			width: 34px;
			height: 34px;

			bottom: 11px;
			left: -7px;

			@include respond-to(xs) {
				width: 19px;
				height: 19px;
				bottom: -18px;
				left: 3px;
			}
		}
		&.link-3{
			width: 41px;
			height: 40px;

			top: 150px;
			left: 137px;

			@include respond-to(xs) {
				width: 22px;
				height: 22px;
				top: 75px;
				left: 81px;
			}
		}
		&.link-4{
			width: 47px;
			height: 48px;

			top: 30px;
			left: 103px;

			@include respond-to(xs) {
				width: 26px;
				height: 26px;
				top: 10px;
				left: 62px;
			}
		}
		&.link-5{
			width: 26px;
			height: 27px;

			bottom: 38px;
			left: 101px;

			@include respond-to(xs) {
				width: 16px;
				height: 16px;
				bottom: -5px;
				left: 61px;
			}
		}
	}

	&__socials{
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	&__socials_link{
		border-radius: 50%;
		overflow: hidden;
		padding: 7px;

		position: absolute;
		z-index: 1;

		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		transition: $delay;
	}

	&__socials_tel{
		width: 70px;
		height: 70px;

		top: 71px;
		left: 179px;

		@include respond-to(xs) {
			width: 50px;
			height: 50px;
			top: 29px;
			left: 95px;
		}
	}
	&__socials_viber{
		width: 71px;
		height: 71px;

		top: -7px;
		left: -23px;

		@include respond-to(xs) {
			width: 48px;
			height: 48px;

			top: -12px;
			left: -10px;
		}
	}

	&__socials_vk{
		width: 75px;
		height: 75px;

		bottom: 77px;
		left: 246px;

		@include respond-to(xs) {
			width: 51px;
			height: 51px;
			bottom: 12px;
			left: 135px;
		}
	}

	&__socials_fb{
		width: 71px;
		height: 71px;

		top: -25px;
		right: 315px;

		@include respond-to(xs) {
			width: 41px;
			height: 41px;
			top: -21px;
			right: 145px;
		}
	}

	&__socials_inst{
		width: 100px;
		height: 100px;

		top: -30px;
		right: 83px;

		@include respond-to(xs) {
			width: 68px;
			height: 68px;

			top: -28px;
			right: 14px;
		}
	}

	&__socials_email{
		width: 33px;
		height: 33px;

		bottom: 6px;
		left: 257px;

		@include respond-to(xs) {
			width: 32px;
			height: 32px;
			bottom: -28px;
			left: 138px;
		}
	}

	&__socials_wasp{
		width: 71px;
		height: 71px;

		top: 100px;
		right: 35px;

		@include respond-to(xs) {
			width: 48px;
			height: 48px;

			top: 42px;
			right: -10px;
		}
	}

	&__socials_link:hover{

		&.section-two__socials_tel{
			background-color: #509FCF;

			& .socials-telegram path{
				fill: #ffffff;
				transition: #delay;
			}
		}

		&.section-two__socials_viber{
			background-color: #7548A8;

			& .socials-viber path{
				fill: #ffffff;
				transition: #delay;
			}
		}

		&.section-two__socials_vk{
			background-color: #4D6EA6;

			& .socials-vk path{
				fill: #ffffff;
				transition: #delay;
			}
		}

		&.section-two__socials_fb{
			background-color: #42659E;

			& .socials-fb path{
				fill: #ffffff;
				transition: #delay;
			}
		}

		&.section-two__socials_inst{
			background-color: #ffffff;
		}

		&.section-two__socials_email{
			background-color: #6FCF97;

			& .socials-email path{
				fill: #ffffff;
				transition: #delay;
			}
		}

		&.section-two__socials_wasp{
			background-color: #56C034;

			& .socials-wasp path{
				fill: #ffffff;
				transition: #delay;
			}
		}

	}

  &__invite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    top: 193px;
    left: -14px;
    position: absolute;

		@include respond-to(xs) {
			width: 30px;
			height: 30px;
			transform: scale(0.6);
			top: 96px;
			left: 11px;
			z-index: 2;
		}

    .product__invite-btn {
      margin: 0;
      background: url("../img/icons/invite.svg");

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  &__add {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    top: 180px;
    position: absolute;
		z-index: 1;

		@include respond-to(xs) {
			width: 42px;
			height: 42px;
			left: 32px;
			top: 102px;
		}

    .friends-list__item_add {
      width: 100%;
      height: 100%;
    }
  }

	img {
		 margin-right: -75px;
	}
}
.about-us {
	background: linear-gradient(360deg, rgba(247, 248, 239, 0.8) 0%, rgba(249, 244, 241, 0) 100%);
	margin: 0 -30px;
	padding:0 30px;

	@include respond-to(xs) {
		margin: 0 -10px;
		padding:0 10px;
	}
}
.before-mobile {
	display: none;
	@include respond-to(xs) {
		display: block;
	}
	img.mobile-cat-about-us {
		@include respond-to(xs) {
			display: block!important;
		}
		@media only screen and (max-width: 400px)  {
			max-width: 330px;
		}
	}
}
