.articles {
  padding-bottom: 19px;
  @media only screen and (max-width: 1280px) {
    margin: auto;
    max-width: 1030px;
  }

  h5 {
    max-width: 1030px;
    line-height: 22px;
    letter-spacing: 0;
    font-size: 20px;
    color: #4F4F4F;
    font-family: $Panton;
    font-weight: 900;
    margin: 88px auto 44px;
      @media only screen and (max-width: 768px) {
            margin: 45px auto 54px;
      }
      @media only screen and (max-width: 575px) {
          margin: 20px auto 20px;
      }
  }

  &__wrapper {
    margin: auto;
    max-width: 1380px;
    padding-top: 3px;

    &_news {
      max-width: 1455px;
    }
  }

  &__row {
    max-width: 1420px;
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    margin-bottom: 67px;
    padding: 0 20px;
    width: 25%;
    @media only screen and (max-width: 1280px) {
      width: 50%;
    }
    @media only screen and (max-width: 415px) {
      width: 100%;
      margin-bottom: 22px;
    }
  }

  &__item {
    min-height: 527px;
    @media only screen and (max-width: 650px) {
       min-height: 1px;
    }

    &-image {

    }
    img {
          width:100%;
          object-fit:cover;
           @media only screen and (max-width: 575px) {
            max-height:220px;

           }
      }

    &-title {
      line-height: 22px;
      font-size: 20px;
      text-decoration-line: underline;
      font-family: $Panton;
      font-weight: 600;
      height: 44px;
      color: $black-custom;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }

    &-info {
      letter-spacing: 0;
      color: $black-custom;
      padding-top: 38px;
      @media only screen and (max-width: 575px) {
         padding-top: 20px;
      }

      p {
        padding-top: 24px;
        font-family: $Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        font-size: 16px;
        height: 178px;
        @media only screen and (max-width: 650px) {
          height: fit-content;
          padding-top: 20px;
        }

      }
    }

    &-date {
      margin-top: 22px;
      font-family: $Roboto;
      font-weight: 500;
      line-height: 22px;
      font-size: 16px;
      color: #BDBDBD;
    }

    &_without-text {
      .articles__item-info {
        padding-top: 3px;
      }
      img {
          width:100%;
      }
    }
  }

  &__banner {
    margin-bottom: 66px;
    max-width: 1320px;
    height: 110px;
    background: #E0E0E0;
  }

  .text-after-product {
    margin-top: 18px;

    @include respond-to(xs) {
      margin-bottom: 35px;
    }

    span {
      letter-spacing: 0;
      @media only screen and (max-width: 575px) {
        font-size: 18px;
        margin-top: 58px;
      }
    }
  }

  &__nav {
    margin: 0 0 0 218px;
    display: flex;
    position: relative;
    z-index: 0;
    top: 3px;

    @media only screen and (max-width: 1280px) {
      margin: 0;
    }

    &-item {
      margin-right: 38px;
      font-family: $Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: 38px;
      font-size: 26px;
      letter-spacing: 0;
      color: $black-custom;
      border-bottom: 3px solid transparent;
      transition: $delay;
      padding-bottom: 4px;

      @media only screen and (max-width: 575px) {
        margin-right: 18px;
        font-size: 20px;
      }

      &:hover,
      &.active {
        color: $second-red;
        border-bottom-color: $second-red;
      }

    }
  }

  &__line {
    height: 3px;
    background-color: #F9F9F2;
    margin-bottom: 38px;
  }

  &__pagination {
    display: none;
    justify-content: space-between;
    margin: 0 0 55px;

    @media only screen and (max-width: 575px) {
      display: flex;
      margin: 0 0 38px;
    }
  }
}
.news-wrapper {
  @media only screen and (max-width: 575px) {
    padding:  0 10px;
  }
}

.articles__item.articles__item_without-text img {
  @media only screen and (max-width: 575px) {
    max-height: none;
    min-height: 418px;
  }
}
