.balance-refill {

  .subscription,
  .subscription p {
    padding-top: 0;
  }

  .order {
    margin-top: 85px;
    padding-right: 0;

    @include respond-to(xxl) {
      padding-left: 50px;
      padding-right: 20px;
    }

    @include respond-to(lg) {
      display: flex;
      flex-direction: column-reverse;
    }

    @include respond-to(md) {
      margin-top: 0;
      padding: 0;
    }

    &-total {
      margin-top: 0;
      margin-right: -110px;
      padding-left: 0;
      width: 270px;

      @include respond-to(xxl) {
        margin-right: 0;
      }

      @include respond-to(lg) {
        display: flex;
        margin-bottom: 40px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: 3px solid #f9f9f2;
      }

      @include respond-to(xs) {
        display: none;
      }

      &__container {

        @include respond-to(lg) {
          margin-right: 65px;
          padding-left: 0;
          border-bottom: none;
        }
      }
    }

    &-forms {
      flex: 1;

      &__group {
        width: 67%;

        @include respond-to(lg) {
          width: 90%;
        }

        @include respond-to(xs) {
          width: 100%;
        }
      }

      &__info {
        width: 33%;
      }

      &__item {
        margin-bottom: 60px;

        @include respond-to(sm) {
          margin-bottom: 50px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-wrapper {
          margin-top: 40px;

          @include respond-to(xs) {
            margin-top: 20px;
          }
        }
      }

      &__subtitle_total {

        @include respond-to(sm) {
          margin-top: 0;
          font-size: 28px;
          line-height: 26px;
        }
      }

      &__title {

        @include respond-to(xs) {
          margin: 20px 0;
          padding-left: 0;
          font-size: 24px;
          line-height: 23px;
        }
      }
    }
  }

  .input-search {

    @include respond-to(md) {
      margin-left: -10px;
    }

    @include respond-to(xs) {
      margin-top: 20px;
      margin-left: 0;
      width: 95%;
    }

    &::after {
      background-image: url('../img/icons/rub.svg');
    }
  }

  .cart-item-info-size {
    flex-wrap: wrap;
    margin-right: 0;
    padding-right: 0;
    border-right: none;

    a {
      display: inline-block;
      margin-bottom: 10px;
      padding: 10px 16px;
      font-size: 16px;
      line-height: 22px;
      border: 1px solid $light-gray;
      width: auto;
      color: $gray;

      @include respond-to(xs) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 16px;
        min-width: 90px;
        min-height: 40px;
      }

      &.active {
        color: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  .delivery {
    justify-content: flex-start;
    width: 100%;

    @include respond-to(xs) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      margin-right: 17px;

      @include respond-to(md) {
        width: 209px;
      }

      @include respond-to(sm) {
        margin-right: 7px;
      }

      &:nth-child(2n) {
          @include respond-to(sm) {
            margin-right: 7px;
          }

          @include respond-to(xs) {
            margin-right: 0;
          }
      }

      @include respond-to(xs) {
        margin-right: 0;
        width: 145px;
      }

      &::after {

        @media screen and (max-width: 720px) {
          left: 30%;
        }

        @include respond-to(xs) {
          left: 45px;
        }
      }
    }

    &__img {
      margin-left: 10px;

      @include respond-to(xs) {
        margin-left: 2px;
      }
    }

    &__text {
      padding-left: 20px;

      @include respond-to(xs) {
        padding-left: 10px;
        word-wrap: break-word;
        width: 94px;
      }
    }
  }

  &__btn {
    margin-top: 40px;

    @include respond-to(xs) {
      height: 40px;
    }
  }

  .subscription {
    
    @include respond-to(xs) {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0 10px;
    }
  }

  .page-head {
    @include respond-to(md) {
      padding-left: 15px;
    }

    &__breadcrumbs {
      @include respond-to(md) {
        padding-left: 0;
      }
    }
  }

  .input-group {
    margin-top: 20px;

    &__item {
      height: 30px;
    }
  }
}
