.cart-items-wrap h5 {
	margin: auto;
    max-width: 1030px;
	line-height: 22px;
	font-size: 20px;
	color: #4F4F4F;
	font-family: $Panton;
	font-weight: 900;
	margin-bottom: 44px;
	margin-top: 88px;

	@media only screen and (max-width: 480px) {
		margin-bottom: 29px;
		margin-top: 29px;
	}
}

.cart-items {
	display: flex;
	flex-direction: column;
	max-width: 1050px;
	width: 100%;

	@media only screen and (max-width: 1455px) {
		padding-right: 15px;
	}

	@include respond-to(sm) {
		padding-right: 0;
	}
}
.cart-item {
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
	display: flex;
	position: relative;
	max-width: 1050px;
	margin-bottom: 44px;

	@media only screen and (max-width: 480px) {
		flex-direction:column;
	}

	.cart-item-img {
		width: 210px;
		height: 154px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		flex: 0 0 210px;

		@include respond-to(md) {
			flex: 0 1 auto;
		}

		@include respond-to(sm)  {
			border-radius:0;
			width: 75px;
			height: 75px;
			margin-top: 10px;
			margin-left: 10px;
			flex: 0 0 75px;
		}

		@media only screen and (max-width: 480px) {
			display: none;
		}

		img {
			display: inline-block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;

			@include respond-to(sm)  {
				width: 75px;
				height: 75px;
				object-fit:cover;
			}
		}
	}

	.cart-item-info {
		width: 100%;
		padding: 22px 0 14px 25px;
		padding-right: 30px;
		flex: 0 1 auto;
		display: flex;
		flex-wrap: wrap;

		@include respond-to(lg) {
			padding-right: 60px;
		}

		@include respond-to(md) {
			padding-right: 22px;
		}

		@include respond-to(sm)  {
			padding: 22px 23px 14px 13px;
		}

		@include respond-to(xs) {
			padding: 22px 23px 14px 23px;
			display: flex;
			flex-direction: column;
		}
	}
}
.cart-item:last-child {
	margin-bottom: 0;
}

.cart-item-info-top {
	display: flex;
	justify-content:space-between;
	padding-bottom: 19px;
	width: 40%;

	@media only screen and (max-width: 1320px)  {
		flex-wrap:wrap;
		justify-content:space-between;
	}

	@include respond-to(lg) {
		width: 100%;
	}

	@include respond-to(md) {
		width: 100%;
		padding-right: 60px;
	}

	@include respond-to(sm) {
		flex-wrap:nowrap;
		margin-right: 0;
		padding-right: 0;
		border-bottom: none;
		width: 500%;
	}

	@include respond-to(xs) {
		order: 0;
		flex-direction:column;
		padding-bottom: 0;
		width: 100%;
	}
}
.cart-item-info-bottom {
	width: 100%;
	display: flex;
	align-items:center;
	padding-top: 10px;
	border-top: 2px solid #F9F9F2;

	@include respond-to(sm) {
		flex-direction: column;
		align-items: baseline;
		width: 100%;
		border-top: 0;
	}

	@include respond-to(xs) {
		order: 1;
		margin: auto;
		width: 100%;
		margin-bottom: 24px;
	}
}

.cart-item-info-price-block {
		width: 30px;
		flex: 1 1 auto;
		margin-left: 15px;
		margin-right: 10px;

	@include respond-to(xxl) {
		margin-right: 35px;
	}

	@include respond-to(md) {
		width: auto;
		margin-left: 0;
		margin-right: 15px;
		flex: 1 0 auto;
	}


	@include respond-to(sm) {
		margin-right: 0;
		margin-left: 0;
	}

	@include respond-to(xs) {
		margin: 0;
		flex: 1 0 50%;
	}

}
.cart-item-info-name {
	min-width: 190px;
	max-width: 290px;
	width: 100%;
	flex: 0 1 auto;

	@include respond-to(xs) {
		display: flex;
		margin-bottom: 12px;
		max-width: 100%;
	}

	span {
		color: $black-custom;
		font-family: $Panton;
		font-weight:400;
		font-size: 22px;

		@media only screen and (max-width: 1320px)  {
			margin-bottom: 12px;
			display: block;
		}

		@include respond-to(sm) {
			font-size: 18px;
			font-weight:400;
			line-height: normal;
			padding-right: 30px;
			letter-spacing: -0.09px;
		}

		@include respond-to(xs) {
			width: calc(100% - 42px);
		}
	}
}

.cart-item-info-price-block p {
	font-family:$Roboto;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #333333;

	span {
		display: inline-block;
		white-space: nowrap;
		line-height: 29px;
		font-size: 35px;
		margin-top: 5px;
		@media only screen and (max-width: 1320px)  {
			margin-top: 10px;
			margin-bottom: 15px;
		}
	}
}

.item-amount {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
}

.item-amount__value_input {
	display: inline-block;
	font-size: 35px;
	font-family:$Roboto;
	font-weight: bold;
	color: $black-custom;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	border: 0;
	outline: none;
	text-align: center;
	flex: 1 0 auto;
	width: 64px;
	overflow: visible;

	@include respond-to(xs) {
		width: 40px;
	}

	&:focus{
		outline: none;
	}
}
.item-amount__minus {
	display: block;
	width: 19px;
	height: 17px;
	background-image: url('../img/icons/prev.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	cursor: pointer;
	flex: 0 0 19px;
}
.item-amount__plus {
	display: block;
	width: 19px;
	height: 17px;
	background-image: url('../img/icons/next.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	cursor: pointer;
	flex: 0 0 19px;
}
.cart {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 1 0 81px;

	p.h5 {
		text-align: center;
		display: block;
		margin-bottom: 10px;

		font-family: $Roboto;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 0.05em;
	}
}

.cart-item-info-size {
	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;
	padding: 2px 0;
	border-right: 2px solid #F9F9F2;
	padding-right: 24px;

	@include respond-to(sm) {
		border-bottom: 2px solid #F9F9F2;
		border-right:none;
		margin-bottom: 12px;
		padding-bottom: 12px;
		margin-right: 0;
		padding-right: 24px;
	}

	@include respond-to(xs) {
		border-bottom: 2px solid #F9F9F2;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	a {
		font-family:$Roboto;
		color: $black-custom;
		font-weight: 500;
		font-size: 13px;
		text-decoration: none;
		padding: 3.5px 0px;
		width: 43px;
		text-align: center;
		background: #F2F2F2;
		border-radius: 5px;
		display: block;
		margin-right: 7.5px;
		cursor: pointer;
		transition:.3s ease;
		margin-bottom: 10px;

		&:hover {
			color: #fff;
			background: #FF1400;
		}
	}
	a:last-child {
		margin-right: 0;
	}
	a.active {
		color: #fff;
		background: #FF1400;
	}
}
.cart-item-info-color {
	display: flex;
	flex-wrap: wrap;
	outline: none;

	a {
		display: block;
		margin-right: 6.75px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		margin-bottom: 4px;
		outline: none;
	}
	a.q {
		background: #4F4F4F;border: 1px solid #F2F2F2;
	}
	a.w {
		background: #E0E0E0;border: 1px solid #F2F2F2;
	}
	a.e {
		background: #FFFFFF;border: 1px solid #F2F2F2;
	}
	a.r {
		background: #2D9CDB;border: 1px solid #F2F2F2;
	}
	a.t {
		background: #EB5757;border: 1px solid #F2F2F2;
	}
	a.y {
		background: #F8C37F;border: 1px solid #F2F2F2;
	}
	a.u {
		background: #BB6BD9;border: 1px solid #F2F2F2;
	}
	a.active {
		box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
		display: block;
		position: relative;
		&:after {
			content: url(../img/icons/active.svg);
		    position: absolute;
		    width: 6px;
		    height: 3px;
		    -webkit-border-radius: 1px;
		    border-radius: 1px;
		    top: -17px;
		    left: 50%;
		    margin-left: -3px;
		}
	}
}
.cart-item-close {
	position: absolute;
	width: 37px;
	height: 37px;
	top: 30px;
	right: 30px;
	cursor: pointer;
	transition:.3s ease;

	@include respond-to(sm)  {
		display: none;
	}

	span:first-child {
		width: 37px;
		height: 4px;
		display: block;
		background: #E0E0E0;
		transform: rotate(-45deg);
		border-radius: 4px;
		position: absolute;
		top: 16px;
		transition: $delay;
	}
	span:last-child {
		width: 37px;
		height: 4px;
		display: block;
		background: #E0E0E0;
		transform: rotate(45deg);
		border-radius: 4px;
		position: absolute;
		top: 16px;
		transition: $delay;
	}
	&:hover {
		opacity: .8;

		& span {
			background: #FF1400;
		}
	}
}
.cart-main-content {
	display: flex;
	justify-content:space-between;
}

.text-after-product {
	margin-top: 66px;
	margin-bottom: 125px;

	&_desct {
		max-width: 830px;
		align-self: flex-end;

		@include respond-to(lg) {
			display: none;
		}
	}

	&_tablet {
		display: none;

		@include respond-to(lg) {
			display: block;
		}
	}

	span {
		display: block;
		position: relative;
		z-index: 0;
		color: $black-custom;
		font-family:$Roboto;
		font-weight: 700;
		font-size: 26px;
		line-height: 38px;
		text-align: center;
		margin: 0 auto;

	    @media only screen and (max-width: 375px)  {
			font-size: 18px;
    		line-height: 26px;
    		margin-top: 90px;
	    }

	    &:after {
	    	content: "";
	    	position: absolute;
				bottom: -37px;
				right: 0;
				left: 0;
				margin: 0 auto;
				z-index: 0;
				width: 464px;
				height: 22px;
				background: #F2F2F2;

				@include respond-to(sm) {
					width: 330px;
				}

				@include respond-to(xs) {
					width: 300px;
				}
	  }
	}
}

.cart-items-wrap .text-after-product{
	margin-top: 80px;

	@include respond-to(xs) {
		margin-bottom: 60px;
	}
}

.cart-sidebar {
	max-width: 300px;
	margin-left: 15px;

	@include respond-to(xs) {
		margin-left: 0;
		max-width: 100%;
	}

	&_product-image{
		height: 220px;
	}

	&_product-image img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.cart-sidebar-view-product {

	& .products-list .product.view{
		margin: 0 0;
	}

	& .products-list{

		@include respond-to(md) {
			display: none;
		}
	}

	& .product.view .product__socials{
		margin-top: 0;
	}
}

.cart-sidebar-view-product .product.view.view_margin{
	margin-bottom: 0;
}

.cart-sidebar-price-block p {
	font-family: $Panton;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #333333;
    margin-bottom: 35px;

		&:first-child {
			margin-bottom: 0;
		}

    span {
	    display: inline-block;
	    white-space: nowrap;
	    line-height: 29px;
	    font-size: 48px;
	    margin-top: 21px;
	}
}
.cart-sidebar-price-block {
	margin-bottom: 70px;
}
.product.view .progress-bar__empty {
	width: 88%;
}
.products-list .product.view {
	margin: 0 36px;
	margin-bottom: 0;
	width: 100%;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #F2F2F2;
	position: relative;
	-webkit-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
}
.products-list .product.view .product__info {
    padding: 21px 30px 20px 30px;
}
.product.view .price-container {
	width: 100%;
    background: #fff;
    flex-direction: column;
    padding: 0;
    height: auto;
    box-shadow: none;
}
.product.view .price-container__current {
    background: #FBFE6C;
    padding: 10px 0;
    text-align: center;
}
.product.view .price-container__old {
    margin-left: 0;
    text-align: center;
    padding: 30px 0;
}
.product.view .price-container__old:after {
    left: 77px;
    top: 48px;
}
.product.view .product__socials {
	//margin-top: 0;
	margin-left: 0;
}
.products-list .product.view .product__invite-btn {
    margin: 0 0 0 10px;
}
.product.view .friends-list {
	padding: 0 18px;
	margin-top: 0;
	margin-bottom: 20px;
}
.product.view .friends-list__item {
    min-width: 36px;
    width: 36px;
    height: 36px;
}
.product.view .slick-slide {
    min-height: 220px;
    img {
    	min-height: 220px;
    	object-fit:cover;
    }
}
.cart-sidebar-view-product .products-list {
	padding-left: 0;
}
.products-list.view-list {
	margin-left: 0;
}
.products-list.view-list .product__images .slick-dots {
    padding: 0 30px;
}
.products-list.view-list .product__like {
    position: absolute;
    top: 30px;
    left: 34px;
    right: auto;
    z-index: 1;
    cursor: pointer;
}
.products-list.view-list .product__images {
    margin-bottom: 0;
    height: 214px;
}
.products-list.view-list .price-container__discount {
	width: 50px;
	height: 50px;
	right: -20px;
		span {
			font-size: 14px;
		}
}
.products-list.view-list .price-container__old .price-container__label {
    color: #D9D9D9;
}
.products-list.view-list .red-btn {
    width: 200px;
}

.cart-main-content.cart-block {
		flex-direction:row;

		@media only screen and (max-width: 767px)  {
			flex-direction:column-reverse;
		}
}
.product-card-wrap {
	@include respond-to(xs)  {
		padding: 0;
	}
}

.non-block {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	@include respond-to(lg) {
		width: 100%;
		padding-top: 10px;
	}

	@include respond-to(md) {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		flex: 0 1 auto;
		justify-content: flex-end;

		margin-left: 0;
		margin-right: 0;
		width: 100%;
		max-width: 100%;
	}

	@include respond-to(sm) {
		width: 100%;
		flex-direction: column;
		justify-content: flex-end;
		margin-top: -80px;
	}

	@include respond-to(xs) {
		width: 100%;
		min-width: 100%;
		order: 2;
		margin: 0;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 0;
	}
}

.cart-item-close-mobile {
	display: none;

	@include respond-to(sm) {
		order: 3;
		display: flex;
		position: relative;
		align-items:center;
		margin-top: 30px;
	}

	@media only screen and (max-width: 480px)  {
		margin-top: 5px;
	}
	.cart-item-close-mobile-cancel {
	    position: absolute;
	    width: 22px;
	    height: 22px;
	    top: 0px;
	    right: auto;
	    left: 0;
	    cursor: pointer;
	    -webkit-transition: .3s ease;
	    transition: .3s ease;
	}

}
.cart-item-close-mobile span:first-child {
    width: 22px;
    height: 4px;
    display: block;
    background: #E0E0E0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
}
.cart-item-close-mobile span:last-child {
    width: 22px;
    height: 4px;
    display: block;
    background: #E0E0E0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
}
.cart-item-close-mobile a {
	font-family: $Roboto;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
	color: #333333;
	padding-left: 30px;
}

.main-catalog__item-image-mobile {
	display: none;
	@media only screen and (max-width: 480px)  {
		display: block;
		width: 42px;
		height: 42px;
		object-fit:cover;
		margin-right: 13px;
	}
}

.recommendation-slider-tablet.cart-slider-tablet{

	@include respond-to(md) {
		margin-bottom: 44px;
	}

	@include respond-to(xs) {
		max-width: 100%;
		width: 100%;
	}
}

.cart-slider-tablet .product.view .price-container__old{
	padding: 20px 0;
}

.cart-slider-tablet  .products-list .product__socials{
	margin-top: 10px;
}

.recommendation-slider-tablet {
	max-width: 670px;
	margin: 0 auto;
	display: none;
	margin-top: 48px;
	@include respond-to(sm) {
		display: block;
	}
	@include respond-to(xs) {
		max-width: 298px;
	}
}
.recommendation-slider-tablet h2 {

	@include respond-to(sm) {
		margin-bottom: 30px;
		font-size: 52px;
	}
	@include respond-to(xs) {
		font-size: 30px;
		margin-bottom: 20px;
	}
}

.js-slider-tablet-items{
	display: none;

	@include respond-to(md) {
		display: block;
	}

	&.products-list{
		padding: 0;
	}

	&.products-list .slick-arrow{

		@include respond-to(xs) {
			width: 40px;
			bottom: -60px;
		}
	}

	&.products-list .product.view{
		margin: 0;
		padding: 0;

		@include respond-to(md) {
			margin-right: 45px;
		}
	}

	&.products-list .slick-dots{
		bottom: -50px;
	}

	& .slick-dots {
		visibility: hidden;
		pointer-events: none;

		@include respond-to(xs) {
			visibility: visible;
			pointer-events: all;
		}
	}

	&.products-list .product__images .slick-dots li{
		width: 100%;
	}
	& .products-list .product__images-item{
		width: 100%;
	}
}

.red-btn-cart{

	@include respond-to(xs) {
		width: 100%;
		height: 40px;
	}
}

.js-slider-tablet-items {
	max-width: 670px;
	margin: 0 auto;

	@include respond-to(xs) {
		max-width: 100%;
	}

	& .slider-tablet-item{

		@include respond-to(xs) {
			max-width: calc(100vw - 5px);
			width: 100%;
			margin: 0 5px;
			padding: 0;
		}
	}
}
.slider-tablet-item {
	max-width: 300px;
	margin: 0 74px;
	outline: none;
	padding: 0;
}
.product.view.slider-tablet-item {
	padding: 0;
}
.js-slider-tablet-items .prev-not-found {
    background-image: url(../img/prev-not-found.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
		background-color: transparent;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: auto;
    left: -40px;
		transform: scale(-1,1);
    margin-top: -15px;
    z-index: 1;

		@include respond-to(md) {
			width: 40px;
			left: -40px;
    }

		@include respond-to(xs) {
    	margin-top: 0;
    	top: auto;
    	bottom: -50px;
    	left: 0;
    }
}

.js-slider-tablet-items .next-not-found {
    background-image: url(../img/next-not-found.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
		background-color: transparent;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: auto;
    right: -40px;
    margin-top: -15px;
    z-index: 1;

    @include respond-to(md) {
			width: 40px;
			right: -40px;
    }
    @include respond-to(xs) {
    	margin-top: 0;
    	top: auto;
    	bottom: -50px;
			left: auto;
			right: 0;
    }
}
.slick-custom-dots .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 45px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 127.5px;
    position: absolute;
    bottom: -39px;
}
.slick-custom-dots .slick-dots li.slick-active {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF1400;
}
.slick-custom-dots .slick-dots li {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E1E1E1;
    display: block;
    margin: 0;
}
.slick-custom-dots .slick-dots li button {
	display: none;
}


.cart-sidebar-price-block.mobile-price-sidebar {
	display: none;
	@include respond-to(xs) {
		display: block;
		margin-top: 45px;
		font-size: 18px;
		margin-bottom: 45px;
	}
	p {
		span {
			@include respond-to(xs) {
				font-size: 18px;
				display: initial;
				line-height: 1;
			}
		}
	@include respond-to(xs) {
		font-size: 18px;
		margin-bottom: 18px;
	}

	}
}

.cart-sidebar-price-block {

	@include respond-to(xs) {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0px;
		font-size: 18px;
		margin-bottom: 25px;
	}
	p {

		@include respond-to(xs) {
			flex: 0 0 auto;
			margin-right: 10px;
		}

		span {
			@include respond-to(xs) {
				font-size: 18px;
				display: initial;
				line-height: 1;
			}
		}
		@include respond-to(xs) {
			font-size: 18px;
			margin-bottom: 18px;
		}
	}

	& .red-btn-cart{
		@include respond-to(xs) {
			flex: 0 0 100%;
		}
	}
}

.cart-sidebar, .mobile-price-sidebar {
	@media only screen and (max-width: 375px) {
		max-width: none;
	}
	.red-btn {
		@media only screen and (max-width: 375px) {
			width: 100%;
		}
	}
}

.product.view .price-container__old:after {
	@include respond-to(xs) {
	    left: -8px;
	}
}

.price-container__old.cart-price-container__old{

	@include respond-to(xs) {
		display: block;
	}
}

.product.view .cart-price-container__old{
	&:after{
		@include respond-to(xs) {
			left: 50%;
		}
	}
}
