.catalog-banner {
  margin: 89px auto 0;
  max-width: 1320px;
  height: 110px;
  background: #E0E0E0;

  @include respond-to(lg) {
    margin-top: 35px;
  }
}

.main-catalog {
  padding: 71px 0 15px;
  background: linear-gradient(360deg, rgba(247, 248, 239, 0.8) 0%, rgba(249, 244, 241, 0) 100%);

  @include respond-to(xs) {
    padding-top: 30px;
  }

  &__container {
    margin: auto;
    max-width: 1455px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -42.5px;

    @include respond-to(lg) {
      justify-content: space-between;
      margin: 0;
    }
  }

  &__col {
    padding: 0 42.5px;
    width: 25%;
    margin-bottom: 45px;

    @include respond-to(lg) {
      padding: 0;
      width: 45%;
    }

    @include respond-to(xs) {
      width: 100%;
    }
  }

  &__item {
    background: $white;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    display: block;

    &-image {
      @include respond-to(lg) {
        width: 100%;
      }
    }

    &-name {
      min-height: 102px;
      position: relative;
      padding: 16px 33px 31px;
      display: flex;
      align-items: flex-start;
      font-family: $Panton;
      line-height: 26px;
      font-size: 28px;
      font-weight: 700;
      color: $black-custom;
      letter-spacing: 0;
      line-height: 28px;

      @include respond-to(xxl) {
        padding: 16px 10px 31px;
      }

      @include respond-to(xs) {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        min-height: 65px;
      }

      span {
        margin-left: 15px;
      }
    }
  }

  &__products {

    .section-name {
      margin-right: 30%;
      padding-left: 20%;
      text-align: left;

      @include respond-to(xl) {
        margin-right: 30%;
      }

      @include respond-to(xs) {
        margin-right: 10%;
        padding-left: 60px;
      }

      h3 {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          left: -80px;
          width: 65px;
          height: 85px;
          background-image: url('../img/icons/waiting2.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          @include respond-to(xs) {
            left: -60px;
            width: 50px;
            height: 40px;
          }
        }
      }
    }

    .main-catalog__products-slider {
      transform: translateX(0);

      @include respond-to(lg) {
        padding-left: 24px;
      }

      @include respond-to(xs) {
        padding-left: 5px;
      }

      .slick-arrow {
        width: 50px;
        height: 40px;
        background-color: transparent;

        &:hover {
          background-color: transparent;
        }
      }

      .slick-prev {
        left: -4%;

        @include respond-to(xs) {
          left: 5px;
        }
      }

      .slick-next {
        right: -4%;

        @include respond-to(xs) {
          right: 5px;
        }
      }
    }

    .product {
      position: relative;
      outline: none;

      &::after {
        content: '';
        position: absolute;
        top: 25px;
        left: 15px;
        display: block;
        width: 30px;
        height: 30px;
        background-image: url('../img/eye.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }

      @include respond-to(lg) {
        margin-right: 66px;
        width: 300px;
      }

      @media screen and (max-width: 573px) {
        margin-right: 5vw;
        width: 90vw;
      }

      &__invite-title {
        @include respond-to(lg) {
          display: none;
        }
      }
    }

    .progress-bar {
      @include respond-to(lg) {
        display: none;
      }

      &_mobile {
        @include respond-to(lg) {
          display: block;
          margin-top: 15px;
        }

        @include respond-to(xs) {
          width: 100%;
          left: 0;
        }
      }
    }

    .price-container {
      @include respond-to(lg) {
        display: flex;
        justify-content: center;
        padding-left: 0;
        width: 90%;
      }

      &__old {

        @include respond-to(lg) {
          display: none;
        }

        &::after {

          @include respond-to(lg) {
            top: 17px;
            left: 35%;
          }

          @include respond-to(xs) {
            left: 50%;
          }
        }

        &_mobile {
          @include respond-to(lg) {
            display: block;
            margin-left: 0;
            margin-top: 25px;
            text-align: center;
          }
        }
      }

      &__discount {
        @include respond-to(lg) {
          top: -20px;
          right: -20px;
          width: 50px;
          height: 50px;

          span {
            font-size: 14px;
          }
        }
      }
    }

    .friends-list__item {
      @include respond-to(lg) {
        width: 35px;
        height: 35px;
      }
    }

    .product__invite {

      &-list {
        @include respond-to(lg) {
          transform: rotate(180deg) scale(1,-1) translateX(110px);
        }
      }

      &-row {
        @include respond-to(lg) {
          padding-left: 15px;
          transform: scale(-1,1);
        }
      }
    }
  }
}

.page-head_text {

  &-desct {
    @include respond-to(lg) {
      display: none;
    }
  }

  &-mob {
    display: none;

    @include respond-to(lg) {
      display: block;
      margin-top: 22px;
      font-family: $Roboto;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      color: $black-custom;
    }

    @include respond-to(xs) {
      font-size: 16px;
      line-height: 26px;
    }

    span {
      display: block;
    }
  }
}

.subscription.subscription_main-catalog {
  @include respond-to(xs) {
    margin-top: 10px;
    padding-top: 30px;
  }
}

.buy-discount {
  margin: 40px 0 30px 0;
  padding: 0 20px;
  font-size: 18px;
  text-align: center;
  color: #d2d2d2;

  @include respond-to(md) {
    margin: 20px 0;
    font-size: 16px;
  }
}
