.catalog {
  margin: 0 auto;
  max-width: 1450px;

  &-page {
    padding-bottom: 112px;

    @include respond-to(xs) {
      padding-left: 10px;
      padding-right: 10px;
    }

    .subscription,
    .subscription p {
      padding-top: 0;
    }

    .subscription {
      @include respond-to(xs) {
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
  }

  &-filter {
    width: 435px;
    height: 100%;
    z-index: 100;

    @include respond-to(lg) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 100;
      overflow-x: visible;
      overflow-y: scroll;
      background: transparent;
      width: 100%;

      &.show {
        display: block;
        animation: fromLeft 1s ease-in-out both;
      }

      &.closed {
        display: block;
        animation: fromRight 1s ease-in-out both;
      }
    }

    @include respond-to(md) {
      z-index: 100;
    }

    &__container {
      padding: 0;
      width: 435px;
      background: #fff;

      @include respond-to(xs) {
        width: 100%;
      }
    }

    &__Item {
      padding: 3px 22px;
      border: 1px solid #f2f2f2;
      border-radius: 5px;

      @include respond-to(xs) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__section {
      position: relative;
      padding-top: 41px;
      padding-bottom: 20px;
      padding-left: 20px;
      border-bottom: 3px solid #f9f9f2;

      @include respond-to(lg) {
        padding-top: 30px;
      }

      @include respond-to(xs) {
        padding-right: 20px;
      }

      &:last-child {
        border-bottom: none;
      }

      .cart-item-info-size {
        border-bottom: none;
      }
    }

    &__title {
      margin-bottom: 20px;
      font-family: $Panton;
      font-weight: 700;
      font-size: 28px;
      line-height: 26px;
      color: $black-custom;

      @include respond-to(lg) {
        margin-bottom: 15px;
      }
    }

    &__amount {
      display: flex;
      width: 100%;
      height: 44px;

      &_from,
      &_to {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        font-family: $Roboto;
        font-size: 16px;
        line-height: 19px;

        @include respond-to(xs) {
          width: 50%;
        }
      }

      &_to {
        position: relative;
        padding-left: 20px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 1px;
          height: 100%;
          background-color: #e0e0e0;
        }
      }
    }

    // Filter Links
    &__links {
      display: flex;
      margin-top: 80px;
      margin-bottom: 23px;
      padding-left: 450px;

      @include respond-to(lg) {
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
        padding-right: 20vw;
      }

      @include respond-to(md) {
        padding-right: 0;
      }

      @media screen and (max-width: 720px) {
        margin-top: 30px;
      }

      @include respond-to(xs) {
        display: none;
      }

      &-mob {
        display: none;

        @include respond-to(xs) {
          display: block;
          width: fit-content;
          padding-left: 25px;
        }
      }
    }

    &__link {
      position: relative;
      margin-right: 40px;
      margin-bottom: 15px;
      font-family: $Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: $black-custom;
      cursor: pointer;

      @include respond-to(md) {
        margin-right: 30px;
      }

      @include respond-to(xs) {
        margin-right: 0;
      }

      &:hover {
        text-decoration: none;

        &::after {
          animation: downUp 1s ease-in-out infinite;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &_title {
        margin-right: 30px;
        text-decoration: none;
        cursor: default;
      }

      &_cheap::after,
      &_expensive::after {
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }

      &_cheap::after {
        background-image: url('../img/icons/catalog/arrow_down.svg');
      }

      &_expensive::after {
        background-image: url('../img/icons/catalog/arrow_up.svg');
      }

      &_active {

        @include respond-to(lg) {
          padding-left: 115px;
        }

        @include respond-to(xs) {
          padding-left: 0;
        }
      }
    }

    &__ads {
      margin-top: 45px;

      @include respond-to(lg) {
        display: none;
      }

      &_item {
        margin-bottom: 44px;
        width: 100%;
        min-height: 506px;
        background-color: #e0e0e0;
      }

      &_mobile {
        display: none;

        @include respond-to(lg) {
          display: block;
          margin-top: 40px;
          min-height: 110px;
          background-color: $light-gray;
        }

        @include respond-to(xs) {
          margin-top: 23px;
        }

        &-inside {
          @include respond-to(lg) {
            width: 100%;
            margin: 30px 0 40px 0;
          }
        }
      }
    }

    &__wrapper {
      @include respond-to(lg) {
        display: flex;
        align-items: flex-start;
        padding: 50px 0;
      }

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }

      @include respond-to(xs) {
        padding: 20px 0;
      }
    }

    &__btn {
      display: none;

      @include respond-to(lg) {
        display: flex;
        margin-right: 25px;
        padding-left: 10px;
        background-image: url("../img/icons/my-friends_btn.svg");
        background-repeat: no-repeat;
        background-position: 20% 50%;
      }

      @include respond-to(xs) {
        width: 100%;
        height: 40px;
        background-position: 30% 50%;
      }
    }

    &__header {
      position: relative;
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 25px;

      @include respond-to(lg) {
        display: flex;
      }

      &-title {
        font-family: $Panton, Arial, sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 49px;
        color: $black-custom;

        @include respond-to(xs) {
          font-size: 32px;
          line-height: 30px;
        }
      }
    }

    &__mob-btn {
      position: relative;
      width: 100%;

      @include respond-to(lg) {
        width: auto;
      }

      @include respond-to(xs) {
        width: 100%;
      }
    }
  }

  &-wrapper {
    display: flex;
  }

  &-items {
    flex: 1;
    align-content: flex-start;

    @include respond-to(xl) {
      justify-content: space-between;
      margin-left: 0;
      padding-left: 15px;
      padding-right: 0;
    }

    @include respond-to(lg) {
      padding-left: 0;
      max-width: 100%;
    }

    .product:nth-child(2n) {
      margin-right: 0;
    }
  }

  // RangeSlider
  .ui-rangeSlider {
    padding-top: 0;

    &-container {
      margin: 0;
      border: none;
      background: transparent;
      box-shadow: none;

      @include respond-to(lg) {
        width: 100% !important;
      }
    }

    &-innerBar {
      margin: 0;
      height: 4px;
      background-color: #c4c4c4;

      @include respond-to(lg) {
        width: 100% !important;
      }
    }

    &-bar {
      height: 5px;
      background-color: $black-custom;
    }

    &-handle {
      width: 8px;
      height: 16px;
      border-radius: 5px;
      background-image: url('../img/icons/catalog/handle.svg');
    }

    &-label {
      padding: 0;
      background: none;
      box-shadow: none;
      bottom: 40px;

      &-inner {
        display: none;
      }
    }

    &-leftLabel {
      right: 300px !important;
      left: auto !important;

      @media screen and (max-width: 480px) {
        right: 75% !important;
      }
    }

    &-rightLabel {
      right: 75px !important;

      @media screen and (max-width: 480px) {
        right: 15% !important;
      }
    }

    &-innerBar,
    &-bar,
    &-handle {
      top: 50%;
      transform: translateY(-50%);
    }

    &-arrow {
      display: none;
    }
  }

  .ui-editRangeSlider {

    &-inputValue {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #828282;
      border: none;
    }
  }
  // End RangeSlider

  .cart-item-info-size {
    flex-wrap: wrap;
    margin-right: 0;
    padding-right: 0;
    border-right: none;

    a {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 7px 22px;
      width: auto;

      @include respond-to(xs) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .cart-item-info-color a {
    margin-right: 10px;
    width: 27px;
    height: 27px;

    &.active::after {
      content: url(../img/icons/active-big.svg);
      margin-left: -5px;
      width: 10px;
      height: 5px;
    }
  }

  .product {
    height: fit-content;

    @include respond-to(xxl) {
      width: 47%;
    }

    @include respond-to(lg) {
      margin-right: 0;
    }

    @media screen and (max-width: 720px) {
      width: 100%;
    }

    &__info {
      @include respond-to(xl) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
      }
    }

    &__name {
      @include respond-to(xl) {
        padding: 0 25px;
      }

      @include respond-to(lg) {
        line-height: 26px;
      }

      @include respond-to(xs) {
        font-size: 18px;
        line-height: 21px;
      }
    }

    &__invite {

      &-title {
        @include respond-to(xl) {
          display: none;
        }
      }

      &-list {
        @include respond-to(xs) {
          left: -120px;
          transform: scale(-1, 1);
        }
      }

      &-row {
        @include respond-to(xs) {
          transform: scale(-1, 1);
        }
      }
    }

    &__images-item {
      @media screen and (max-width: 720px) {
        display: flex;
        justify-content: center;
      }
    }

    &__socials .red-btn {
      @include respond-to(xs) {
        font-size: 16px;
        height: 37px;
      }
    }
  }

  .price-container {
    @include respond-to(xl) {
      justify-content: center;
      padding-left: 0;
      width: 80%;
    }

    &__old {

      @include respond-to(xl) {
        display: none;
      }

      &::after {
        @include respond-to(xl) {
          top: 20px;
        }
      }

      p {
        @include respond-to(xl) {
          font-size: 25px;
        }
      }

      &_mobile {
        display: none;

        @include respond-to(xl) {
          display: inline-block;
          margin-top: 30px;
          margin-left: 0;
        }
      }

      .price-container__label {
        @include respond-to(xl) {
          color: #d9d9d9;
        }
      }
    }

    &__current {
      @include respond-to(xl) {
        text-align: center;
      }
    }

    &__discount {
      @include respond-to(xl) {
        top: -20px;
        right: -20px;
        width: 50px;
        height: 50px;

        span {
          font-size: 14px;
          line-height: 13px;
        }
      }
    }
  }

  .friends-list {
    padding-left: 0;

    &__item {
      @include respond-to(xl) {
        width: 35px;
        height: 35px;
      }
    }
  }

  .progress-bar {

    @include respond-to(xl) {
      display: none;
    }

    &_mobile {
      display: none;

      @include respond-to(xl) {
        display: block;
        margin-top: 20px;
        width: 100%;
      }
    }
  }

  .products-list {
    justify-content: space-between;

    @include respond-to(xxl) {
      padding-left: 15px;
      max-width: 62vw;
    }

    @include respond-to(lg) {
      max-width: 100%;
    }

    @include respond-to(xs) {
      padding-left: 0;
      padding-bottom: 30px;
    }

    &_small {
      max-width: 930px;
    }

    .product {
      margin-right: 0;

      @include respond-to(xs) {
        width: 100%;
      }
    }
  }

  .products-list .product__invite-list {
    @include respond-to(xs) {
      transform: rotate(180deg) scale(1, -1) translateX(0);
    }
  }
}

.screen-size {
  display: flex;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 57px;
    height: 27px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
}

// Screen-size Modal
.newproduct-label {
	&__modal {
		// visibility: hidden;
		position: absolute;
		top: 55%;
		left: -205px;
		transform: translateY(-50%);
    opacity: 0;
		padding: 12px 30px;
		font-family: $Roboto;
		font-size: 12px;
		line-height: 10px;
		text-align: center;
		border-radius: 5px;
		color: #fff;
		background-color: $second-red;
    box-shadow: 10px 10px 0 rgba(#f2f2f2, 0.5);
		z-index: 2;
		transform-origin: right;
		transition: all 0.3s;

		@include respond-to(xxl) {
			right: auto;
			top: auto;
			left: 370px;
			bottom: 40px;
			transform-origin: left;
			transform: translateY(0);
      box-shadow: none;
		}

    @include respond-to(xs) {
      display: none;
    }

    &-mob {
      display: none;

      @include respond-to(xs) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
      }
    }
	}
	&__shape {
		position: absolute;
		top: 50%;
		right: -16px;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-bottom-right-radius: 50px;
		border-top: 30px solid transparent;
		border-left: 40px solid $second-red;
		border-bottom: 30px solid transparent;

		@include respond-to(xxl) {
			top: 30px;
			left: -27px;
			z-index: -1;
			transform: translateY(-50%) rotate(180deg);
		}
	}
	&__find, &__reset {
		display: block;
	}
	&__show, &__reset {
		text-decoration: underline;
    text-decoration-skip-ink: none;
		transition: all .25s;
    color: #FFF;

		&:hover {
			text-decoration: none;
		}
	}

	&__show {
    display: inline-block;
    margin-bottom: 10px;
		font-size: 25px;
		line-height: 23px;

    @include respond-to(xs) {
      display: flex;
      justify-content: center;
      text-decoration: none;
      height: 40px;
    }
	}

	&__find {
		margin-bottom: 10px;
		width: max-content;

    @include respond-to(xs) {
      margin-bottom: 30px;
      width: 100%;
      font-weight: 700;
      color: $black-custom;
    }
	}

	&__reset {
		margin-top: 15px;

    @include respond-to(xs) {
      margin-bottom: 40px;
      color: $black-custom;
      font-weight: 700;
    }
	}
}

.show-newproduct-modal {
  opacity: 1;
}
// End of Screen-size Modal

// Filter Arrows Animation
@keyframes downUp {
  0% {
    transform: translateY(-50%);
  }
  70% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.rangeInfo__set {
  padding-left: 15px;
  border: none;
  outline: none;
  color: #828282;
  pointer-events: none;
  opacity: 0;
}

.filter-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.7);
  z-index: 7;

  &.show {
    display: block;
    animation: fadeIn 1s ease both;
  }

  &.closed {
    display: block;
    pointer-events: none;
    animation: fadeOut 1s ease both;
  }
}

.dn-xs {
  @include respond-to(xs) {
    display: none;
  }
}

.br-n {
  border-bottom: none;
}

// Animation
@keyframes fromLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    display: block;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
    display: none;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
