.contacts {
  padding: 0;
  width: 100%;

  &-wrapper .price-container__current {
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.03);
  }

  h5 {
    max-width: 500px;
    line-height: 22px;
    letter-spacing: 0;
    font-size: 20px;
    color: #4F4F4F;
    font-family: $Panton;
    font-weight: 900;
    margin: 89px 0 45px 190px;

    @include respond-to(xxl) {
      margin-left: 110px;
    }

    @media only screen and (max-width: 1280px)  {
      margin: 60px 0 45px 0px;
    }

    @include respond-to(md) {
      max-width: 100%;
    }

    @media only screen and (max-width: 480px)  {
      margin: 0px 0 29px 0px;
    }
  }

  &__wrapper {
    margin: auto;
    max-width: 1436px;
  }

  &__content {
    max-width: 1112px;

    @include respond-to(xxl) {
      max-width: 100%;;
    }
  }

  &__info {
    display: flex;
      @media only screen and (max-width: 892px)  {
              flex-direction: column;
      }
  }

  &__map {
    width: 315px;
    height: 165px;
    position: relative;

    @include respond-to(md) {
      width: 100%;
      height: 250px;
      overflow: hidden;
    }

    @media only screen and (max-width: 480px)  {
      width: 100%;
      max-width: none;
      height: 198px;
    }

    img.map-map {

      @include respond-to(md) {
        width: 100%;
      }

     @media only screen and (max-width: 480px)  {
        width: 100%;
        height: 198px;
        object-fit:cover;
     }
    }
    &__catmap {
      position: absolute;
      width: 31px;
      height: 26px;
      top: 50%;
      left: 50%;
      margin-left: -15.5px;
      margin-top: -13px;
    }
  }

  &__list {
    margin-left: 70px;
    height: 100%;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
      margin-left: 0;
      max-width: 100%;
    }

    @include respond-to(xs) {
      flex-direction: column;
    }

    &-wrapper .contacts__list-item:first-child {
      @include respond-to(md) {
        width: 100%;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      height: 40px;

      @include respond-to(md) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        &:first-child {
          width: 50%;

          @include respond-to(xs) {
            width: 100%;
          }
        }
      }

      @media only screen and (max-width: 480px)  {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
      }
    }

    &-text {
      font-family: $Panton;
      line-height: 22px;
      font-size: 20px;
      letter-spacing: 0;
      font-weight: 600;
      color: $black-custom;

      @include respond-to(md) {
        margin-bottom: 20px;
      }

      img {
        margin-right: 18px;
        width: 22px;
        height: 16px;
        object-fit:contain;
      }
    }

    .red-btn {
      width: 175px;
      min-width: 175px;
      margin-left: 31px;

      @include respond-to(xs) {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__reviews {
    padding-top: 70px;

    @include respond-to(md) {
      width: 100vw;
    }

    @include respond-to(xs) {
      padding-top: 20px;
      width: 100%;
    }

    .section-name {
      text-align: left;
      letter-spacing: 0;
      margin-left: 210px;
      margin-bottom: 50px;

       @media only screen and (max-width: 1550px)  {
        margin-left: 0;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 25px;
       }

       @include respond-to(xs) {
         text-align: left;
       }

      h3 {
        font-size: 48px;
        @media only screen and (max-width: 1550px)  {
          font-size: 30px;
        }
      }
    }

    .reviews-slider {
      margin-top: 66px;
      margin-left: -1px;
      margin: 0;
      padding:0;

      @include respond-to(xxl) {
        max-width: 100%;
      }

        @media only screen and (max-width: 1550px)  {
          margin-left: 0;
        }
        @media only screen and (max-width: 1550px) {
          margin: 0 auto;
        }
        @media only screen and (max-width: 992px) {
          max-width: 700px;
        }
        @media only screen and (max-width: 768px) {
          max-width: 660px;
        }
        @media only screen and (max-width: 767px) {
          max-width: 385px;
        }
        @media only screen and (max-width: 480px) {
          max-width: none;
        }

      &__item {
        height: 440px;
         @media only screen and (max-width: 892px)  {
            height: auto;
            width: auto;
         }
      }

      &__image {
        height: 100%;
        margin: 0 auto;
         @media only screen and (max-width: 892px)  {
            height: auto;
            width: 80%;
         }
         @media only screen and (max-width: 480px)  {
            width: 100%;
         }
      }
    }
  }
}

.contacts__reviews .slick-prev {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../img/icons/slide-left-arrow.svg);
  background-position: 50%;
  // background-size:39px 35px;
  background-repeat: no-repeat;
  z-index: 1;
  top: 190px;
  left: -30px;
  cursor: pointer;

  &:before {
    display: none;
  }

  @include respond-to(md)  {
    display: block;
    background-image: url(../img/prev-not-found.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: 0;
    bottom: auto;
    left: -33px;
    z-index: 1;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0;
    transition: all .25s;
  }

  @include respond-to(xs) {
    top: auto;
    bottom: -90px;
    left: -10px;
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: rgba(255,255,255,1);
  }
}

.contacts__reviews .slick-next {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../img/icons/slide-right-arrow.svg);
  background-position: 50%;
  // background-size:39px 35px;
  background-repeat: no-repeat;
  z-index: 1;
  right: -30px;
  bottom: auto;
  top: 190px;
  left: auto;
  cursor: pointer;

  &:before {
    display: none;
  }

  @include respond-to(md)  {
    display: block;
    background-image: url(../img/next-not-found.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 70%;
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: auto;
    top: 50%;
    margin-top: 0;
    right: 0;
    z-index: 1;
    left: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0;
    transition: all .25s;
  }

  @include respond-to(xs) {
    top: auto;
    bottom: -90px;
    right: -10px;
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: rgba(255,255,255,1);
  }
}

.contacts__reviewsfb {
  margin-top: 95px;
  margin-bottom: 33px;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items:center;

  @include respond-to(xxl) {
    max-width: 100%;
    padding-left: 50px;
  }

  @media only screen and (max-width: 1170px)  {
    justify-content:center;
  }

  .slick-dots {
    display: none;
    visibility: hidden;
    pointer-events: none;

    @include respond-to(xs) {
      display: flex;
      visibility: visible;
      pointer-events: all;
    }
  }
}
.contacts__reviewsfb {
  padding-top: 33px;

  @media only screen and (max-width: 892px)  {
    // max-width: 526px;
    margin: 0 auto;
    margin-top: 95px;
    display: block;
    margin-bottom: 72px;
  }
  @media only screen and (max-width: 630px) {
      max-width: 100%;
      padding: 0 35px;
  }
  @media only screen and (max-width: 480px) {
    padding: 0;
  }
}
.contacts__reviewsfb .slick-track {
    padding-top: 34px;
}
.contacts__reviewsfb__item {
    border: 1px solid #F2F2F2;
    padding: 0px 40px 50px 65px;
    max-width: 526px;
    margin-bottom: 60px;
    outline: none;

    @include respond-to(xxl) {
      margin-right: 30px;
    }

    @media only screen and (max-width: 892px)  {
        margin-bottom: 0;
    }
    @media only screen and (max-width: 630px) {
      max-width: 100%;
    }

    @include respond-to(xs) {
      max-width: 320px;
      width: 320px;
    }

  &__header {
    position: relative;
    display: flex;
    align-items:center;
    margin-top: -32px;
    .contacts__item__icon {
      img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
    }
    .contacts__item__name {
      margin-left: 18px;
        p {
          font-family: $Roboto;
          font-weight: 500;
          line-height: 17px;
          font-size: 16px;
          letter-spacing: 0.05em;
          color: #333333;
          max-width: 130px;
          span {
            display: block;
          }
        }
    }
    .contacts__item__social {
      position: absolute;
      width: 28px;
      height: 28px;
      left: -38px;
      img {
        width: 100%;
        height: 100%;
      }
    }

  }
}


.contacts__reviewsfb__item__content {
    margin-top: 20px;
    &__h4 {
      font-family: $Roboto;
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.05em;
      color: #333333;
      margin-bottom: 20px;
    }
    &__p {
      font-family: $Roboto;
      font-weight: 500;
      line-height: 22px;
      font-size: 16px;
      color: #828282;
    }
}
.contacts-wrapp {
  display: flex;
  max-width: 1467px;
  margin: 0 auto;
  justify-content:space-between;

  @media only screen and (max-width: 1550px)  {
    margin-bottom: 130px;
    flex-direction:column;
    align-items:center;
  }

  @include respond-to(xs) {
    margin-bottom: 20px;
  }

  .products-list .product__invite {

    &-list {
      @include respond-to(xxl) {
        left: -150px;
        transform: scale(-1,1);
      }
    }

    &-row {
      @include respond-to(xxl) {
        padding-left: 20px;
        transform: scale(-1,1);
      }
    }
  }

  .recommendation-slider-tablet {
      display: none;

    @media screen and (max-width: 1440px ){
      display: block;
      max-width: 100%;
    }

    @include respond-to(sm) {
      margin-left: 0;
      margin-right: 0;
    }

    .products-list.view-list {
      @include respond-to(xs) {
        padding-left: 0;
      }

      .slider-tablet-item {
        @include respond-to(xs) {
          margin: 0;
        }
      }
    }

    .products-list_small {
      @include respond-to(xxl) {
        max-width: 975px;
      }
      @include respond-to(md) {
        padding-left: 20px;
      }
    }

    .slider-tablet-items .prev-not-found {
      transform: rotate(180deg);
      left: -40px;

      @include respond-to(md) {
        transform: rotate(0);
        left: -10px;
      }
      @include respond-to(sm) {
        left: -10px;
      }
    }

    .slider-tablet-items .next-not-found {
      right: -30px;

      @include respond-to(md) {
        right: -10px;
      }

      @include respond-to(sm) {
        right: -10px;
      }
    }

    .slider-tablet-items .prev-not-found,
    .slider-tablet-items .next-not-found {
      background-size: 60%;

      @include respond-to(xxl) {
        position: absolute;
        top: 0;
        height: 100%;
      }

      @include respond-to(xs) {
        top: 50%;
        transform: translateY(-50%);
      }

      @include respond-to(xs) {
        top: auto;
        bottom: -15px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
    }

    .slider-tablet-items .slick-dots {
      @include respond-to(xs) {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  .slider-tablet-items .prev-not-found {
    cursor: pointer;
    height: 100%;
    background-size: 80%;

    @include respond-to(xxl) {
      top: 0;
      left: -60px;
    }

    @include respond-to(sm) {
      top: 110%;
      left: 50px;
    }

    @include respond-to(xs) {
      top: 93%;
      left: 10px;
      width: 40px;
    }
  }

  .slider-tablet-items .next-not-found {
    background-color: rgba(255,255,255,0.7);
    right: 0;
    cursor: pointer;
    transition: all $delay;
    height: 100%;
    background-size: 80%;

    @include respond-to(xxl) {
      top: 0;
    }

    @include respond-to(sm) {
      top: 110%;
      right: 50px;
    }

    @include respond-to(xs) {
      left: auto;
      top: 93%;
      right: 10px;
      width: 40px;
    }

    &:hover {
      background-color: rgba(255,255,255,1);
    }
    &:active {
      background-color: rgba(255,255,255,0.7);
    }
  }

  .product.view .price-container__current {
    @include respond-to(xs) {
      width: 100%;
      margin-bottom: 22px;
    }
  }
}

.sidebar-contacts {
  margin-top: 89px;
  @media only screen and (max-width: 1550px)  {
    display: none!important;
  }
     @media only screen and (max-width: 892px)  {
      display: block!important;
        margin-top: 0;
     }
}

.contacts {
  padding: 0 30px;

  @include respond-to(lg) {
    padding: 0;
  }

  @media only screen and (max-width: 575px)  {
    padding: 0;
    width: 100%;
  }
}
.contacts-wrapper {
  @media only screen and (max-width: 575px)  {
    padding: 0 10px;
  }
}

.contacts__reviewsfb .next-not-found {
  display: block;
  background-image: url(../img/next-not-found.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 40px;
  height: 100%;
  position: absolute;
  bottom: auto;
  top: 0;
  margin-top: 0;
  right: 0;
  z-index: 1;
  left: auto;
  background-color: rgba(255,255,255,0.5);
  transition: all $delay;
  cursor: pointer;

  @media only screen and (max-width: 630px) {
    right: -7px;
  }

  @include respond-to(xs) {
    top: auto;
    bottom: -55px;
    right: 0;
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: rgba(255,255,255,1);
  }
  &:active {
    background-color: rgba(255,255,255,0.5);
  }
}
.contacts__reviewsfb .prev-not-found {
  display: block;
  background-image: url(../img/prev-not-found.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  margin-top: 0;
  bottom: auto;
  left: 7px;
  z-index: 1;
  cursor: pointer;
  transition: all $delay;
  background-color: rgba(255,255,255, 0.5);

  &:hover {
    background-color: rgba(255,255,255, 1);
  }

  &:active {
    background-color: rgba(255,255,255, 1);
  }

  @media only screen and (max-width: 630px) {
    left: -7px;
  }
  @include respond-to(xs) {
    top: auto;
    bottom: -55px;
    left: 0;
    width: 50px;
    height: 50px;
  }
}


.contacts__reviewsfb .slick-dots li.slick-active, .reviews-slider .slick-dots li.slick-active  {
  @media only screen and (max-width: 480px)  {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FF1400;
  }
}

.contacts__reviewsfb .slick-dots li, .reviews-slider .slick-dots li {
  @media only screen and (max-width: 480px)  {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E1E1E1;
    display: block;
    margin: 0;
  }
}
.contacts__reviewsfb .slick-dots, .reviews-slider .slick-dots {
  @media only screen and (max-width: 480px)  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    bottom: -39px;
    left:50%;
    margin-left: -40px;
  }
}
.reviews-slider .slick-dots {
   @media only screen and (max-width: 480px)  {
       bottom: -45px;
   }
}
.contacts__reviewsfb .slick-dots li button, .reviews-slider .slick-dots li button {
  @media only screen and (max-width: 480px)  {
    display: none;
  }
}
/*

.cart-sidebar .sidebar-contacts{
  @media only screen and (max-width: 1440px)  {
    display: none;
  }

  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.03);
}*/
