.delivery-block {
	margin: auto;
    max-width: 1030px;
    overflow: hidden;
    .page-head {
    	margin-bottom: 87px;
    	@media only screen and (max-width: 768px) {
    		margin-bottom: 22px;
    	}
    }
}
.main.delivery-wrapper  {
	// background: url(../img/moscow.svg),url(../img/map2.svg);
	// background-size: 92px 88px, 920px 787px;
	// background-repeat: no-repeat;
	// background-position: 75% center, right center;
	background:url(../img/map2.svg);
	background-size: 1080px 1080px;
	background-repeat: no-repeat;
	background-position: 113% 38%;
	position: relative;
	z-index: 0;

	@media only screen and (max-width: 1440px){
		background-position: 180% 38%;
	}
	@include respond-to(xl) {
		background-position: 270% 38%;
	}
	@include respond-to(lg) {
		background-position: -555% -58%;
	}
	@include respond-to(md) {
		background-size: 700px;
		background-position: 270% 220%;
	}
	@include respond-to(sm) {
		background-position: 400% -890%;
	}
	@media only screen and(max-height: 480px) {
		background-position: 610% 250%;
	}
	@media only screen and(max-height: 380px) {
		background-position: 290% 210%;
	}
	@media only screen and(max-height: 320px) {
		background-position: -20% -1580%;
	}
	@include respond-to(xs) {
		background-position: 20% 350%;
	}
	@include respond-to(ss) {
		background-size: 580px;
		background-position: 20% 100%;
	}

	&:before{
		content: '';
		width: 92px;
		height: 88px;
		background: url(../img/star_map.png);
		position: absolute;
		z-index: 0;
		top: 55%;
		right: 367px;

		@media only screen and (max-width: 1440px){
			right: 217px;
		}
		@include respond-to(xl) {
			right: 117px;
		}
		@include respond-to(lg) {
			right: 117px;
			top: 67%;
		}
		@include respond-to(md) {
			right: 67px;
			top: 60%;
		}
		@include respond-to(ss) {
			right: 20px;
			top: 60%;
		}
	}
}

.delivery-information {
	max-width: 730px;
	width: 100%;
	@media only screen and (max-width: 575px)  {
		display: flex;
		width: 100%;
		overflow: scroll;
	}
	.delivery-information-string-top {
		display: flex;
		justify-content:space-between;
		align-items:left;
		padding-left: 15px;
		background: #F2F2F2;
		@media only screen and (max-width: 575px)  {
			flex-direction: column;
		}
		p {
			font-family:$Roboto;
			font-style: normal;
			font-weight: bold;
			line-height: 23px;
			font-size: 16px;
			color: #4F4F4F;
			margin: 10px 0;
			    width: max-content;
		}
	}
	.delivery-information-string {
		display: flex;
		justify-content:space-between;
		align-items:left;
		padding-left: 15px;
		border-bottom: 1px solid #F2F2F2;
		@media only screen and (max-width: 575px)  {
			flex-direction: column;
			background:#ffffff;
			    border-bottom: 1px solid #F2F2F2;
			    padding-left: 0;
		}
		p {
			font-family:$Roboto;
			font-style: normal;
			font-weight: 500;
			line-height: 23px;
			font-size: 16px;
			color: #4F4F4F;
			margin: 10px 0;
			    width: max-content;
		}
	}
}
.delivery-information-string .delivery-information-string-cost {
	p {
		background: #FFFC59;
		padding: 0 5px;
	}
}
.delivery-information-string-delivery {
	width: 34%;
	@media only screen and (max-width: 575px)  {
		width: 100%;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 10px;
		padding-right: 35px;
	}
}
.delivery-information-string-time {
	width: 31%;
	@media only screen and (max-width: 575px)  {
		width: 100%;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 10px;
		padding-right: 35px;
	}
}
.delivery-information-string-cost {
	width: 35%;
	@media only screen and (max-width: 575px)  {
		width: 100%;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 10px;
		padding-right: 35px;
	}
}
.text-after-delivery-info {
	margin-top: 55px;
	padding-bottom: 200px;

	@include respond-to(lg) {
		margin-top: 44px;
		max-width: 440px;
	}

	@include respond-to(xs) {
		margin-top: 44px;
		max-width: 300px;
	}
	p {
		font-family:$Panton;
		line-height: 28px;
		font-size: 28px;
		color: #4F4F4F;
		font-weight: bold;
		width: 86%;
		@media only screen and (max-width: 768px)  {
			width: 67%;
			font-size: 24px;
		}
	}
}

.page-head h2 {
	@media only screen and (max-width: 575px)  {
		padding: 0;
	}
}



.page-head {
	@media only screen and (max-width: 768px)  {
		padding-top: 60px;
	}
}