.desires {

  &__info {
    position: relative;
    margin: 85px auto 60px auto;
    // padding-left: 438px;
    // padding-right: 500px;
    max-width: 1030px;
    font-family: $Panton;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #4f4f4f;

    @include respond-to(xl) {
        padding: 0;
    }

    @include respond-to(md) {
      margin-top: 35px;
      margin-bottom: 30px;
    }

    @include respond-to(xs) {
      margin-bottom: 15px;
      padding-left: 0;
      padding-right: 115px;
      letter-spacing: 0;
    }

    &-cat {
      display: none;
      position: absolute;
      top: 10px;
      right: 0;
      width: 120px;
      height: 80px;
      background-image: url('../img/search-cat.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include respond-to(xs) {
        display: block;
      }
    }
  }

  &__items {
    display: flex;
    margin: 0 auto;
    max-width: 1320px;

    @include respond-to(xxl) {
      padding: 0 50px;
    }

    @include respond-to(md) {
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
    }

    @include respond-to(xs) {
      padding: 0;
    }

    .product__info {
      @include respond-to(xs) {
        text-align: center;
      }
    }
  }

  .product {
    position: relative;
    width: 300px;
    height: 100%;

    @include respond-to(md) {
      margin-right: 0;
    }

    @media screen and (max-width: 574px) {
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
    }

    &__images {
      height: 221px;
      overflow: hidden;

      &-item {
        display: flex;
        justify-content: center;
        height: 221px;
        overflow: hidden;
        outline: none;
      }

      img {
        width: auto;
        height: 100%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 20px;
      min-height: 136px;

      @include respond-to(xs) {
        min-height: 90px;
      }
    }

    &__name {
      margin-bottom: 10px;
      line-height: 26px;
    }

    &__not-available {
      display: none;
      font-family: $Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      color: #c5c5c5;
    }

    &.not-available {

      .cart-item-info-color,
      .desires__eye {
        display: none;
      }

      .product__not-available {
        display: inline-block;
      }

      .product__images-item {
        filter: opacity(0.3);
      }
    }

    .price-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: auto;

      @include respond-to(xs) {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
      }

      &__discount {
        top: -12px;
        right: -20px;
        width: 50px;
        height: 50px;

        span {
          font-size: 14px;
          line-height: 13px;
        }
      }

      &__old {
        margin-top: 25px;
        margin-left: 0;
        text-align: center;

        @include respond-to(xs) {
          display: block;
        }

        &::after {
          top: 50%;
          left: 50%;
        }

        p {
          font-size: 25px;
          line-height: 21px;
        }
      }

      &__label {
        color: #d9d9d9;
      }
    }

    .friends-list {
      padding-left: 0;

      &__item {
        width: 36px;
        height: 36px;
      }
    }

    &__socials {
      margin-left: 0;
    }

    .progress-bar {
      @include respond-to(xs) {
        display: block;
      }

      &__empty {
        width: 80%;
      }
    }
  }

  .cart-item-info-color {

    @include respond-to(xs) {
      margin-top: 10px;
      padding-left: 15px;
    }

    a {
      width: 15px;
      height: 15px;
    }
  }

  .handbag {
    .q {
      background-color: #27AE60;
    }
    .w {
      background-color: #F2994A;
    }
    .e {
      background-color: #2D9CDB;
    }
    .r {
      background-color: #EB5757;
    }
  }

  .scooter {
    .e {
      background-color: #EB5757;
    }
  }

  &__eye {
    position: absolute;
    top: 25px;
    left: 21px;
    width: 33px;
    height: 23px;
    background-image: url('../img/eye.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__ads {
    margin: 54px auto;
    max-width: 1320px;
    min-height: 110px;
    background-color: $light-gray;

    @include respond-to(md) {
      margin-top: 30px;
    }

    &-desctop {
      @include respond-to(md) {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @include respond-to(md) {
        display: block;
      }

      @include respond-to(xs) {
        margin: 17px 0 20px 0;
      }
    }
  }

  .subscription {
    margin-top: 100px;
    margin-bottom: 112px;
    padding-top: 0;

    @include respond-to(md) {
      margin-top: 50px;
    }

    @include respond-to(xs) {
      margin-bottom: 30px;
      padding: 0 15px;
    }

    p {
      padding-top: 0;
    }
  }

  // Socials
  .page-head {

    @include respond-to(xs) {
      padding: 0 15px;
    }

    &__name {
      position: relative;
    }
  }

  .stock-detail-big__socials {
    position: absolute;
    top: 0;
    right: -230px;

    @include respond-to(xxl) {
      right: -10%;
    }

    @include respond-to(lg) {
      right: 5%;
    }

    @include respond-to(md) {
      display: none;
    }

    &-mobile {
      display: none;

      @include respond-to(md) {
        display: flex;
        justify-content: center;
        position: static;
        margin-top: 70px;
      }

      @include respond-to(xs) {
        margin-top: 20px;
      }
    }
  }

  .product-slider-share {
    margin: 0;

    @include respond-to(md) {
      display: flex;
      padding-left: 0;
    }

    @include respond-to(xs) {
      flex-direction: column;
    }

    &__icons {
      @include respond-to(md) {
        display: flex;
      }
    }

    a {
      display: inline;
    }

    span {
      display: inline;

      @include respond-to(xs) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  .products-list_big {
    transform: translateX(0);
  }

  .price-container__current-wrapper {
    justify-content: center;
  }

  .products-list .product__images .slick-dots {
    padding: 0 23px;
  }
}
