.desires-small {

  .desires__info {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 0;
    max-width: 1030px;

    @include respond-to(xs) {
      margin-bottom: 30px;
      padding-right: 70px;
    }
  }

  .page-head {
    @include respond-to(xs) {
      padding-left: 0;
    }

    &__name h1 {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -150px;
        width: 100px;
        height: 100px;
        background-image: url('../img/search-cat.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @include respond-to(xs) {
          display: none;
        }
      }
    }
  }

  .linear-info {
    @media screen and (max-width: 574px) {
      padding: 30px 25px 30px 37px;
    }
  }

  .product-slider-share span {
    @include respond-to(lg) {
      display: block;
    }
  }

  .subscription {
    background: transparent;
  }
}

.linear-info {
  padding: 38px 20px;
  font-family: $Panton;
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  min-height: 352px;
  color: #fff;
  background-image: linear-gradient(to right, #2BCE58, #7AF356);
}
