// Inputs
.input-group {
  position: relative;
  margin-top: 30px;
  font-family: $Roboto;
  font-weight: 500;
  color: $gray;
  z-index: 20;

  @include respond-to(sm) {
    margin-top: 40px;
  }

  @media screen and (max-width: 720px) {
    margin-top: 39px;
  }

  &:first-child {
    margin-top: 0;
  }

  &__item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #C4C4C4;
    color: $gray;

    @include respond-to(sm) {
      font-size: 14px;
      line-height: 16px;
      height: 27px;
    }

    &:focus {
      outline: none;
      border-color: #53A189;
      color: #53A189;
    }
  }

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $gray;
    transition: all 0.25s ease;
    pointer-events: none;

    &_num {
      padding-right: 10px;
      color: $light-gray;
    }

    &.is-active{
      top: -10px;
      font-size: 10px;
      line-height: 12px;
      color: #c8c8c8;

      &_num {
        color: #fff;
      }
    }
  }

  // On Input


  // On Error
  &--error,
  &--error &__placeholder,
  .error {
    color: #DB4437;
    border-color: #DB4437;
  }

  //&--error &__item {
  //  border-color: #DB4437;
  //}

  .error {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 12px;
    line-height: 14px;
  }

  // Disabled
  &__item:disabled + &__placeholder {
    color: $light-gray;
  }

  &__item:disabled {
    border-color: $light-gray;
    background-color: transparent;
    pointer-events: none;
    cursor: default;
  }
}
// End Inputs
