.friend-activity {

  &__person {
    margin-top: 86px;

    @include respond-to(md) {
      margin-top: 40px;
    }

    @include respond-to(xs) {
      margin-top: 20px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-family: $Panton;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    color: $black-custom;

    @include respond-to(md) {
      margin-bottom: 42px;
    }

    @include respond-to(xs) {
      margin-bottom: 32px;
    }
  }

  .my-friends {

    &__people_wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__container {
      max-width: 100%;
    }
  }

  .friend {
    margin-bottom: 0;
    margin-right: 0;
    cursor: default;

    &:hover {
      & > .friend__img {
        box-shadow: none;
      }

      & > .friend__name {
        text-decoration: none;
      }
    }
  }

  &__products {
    margin: 60px 0;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(xs) {
      margin: 0;
    }

    .product__images {
      overflow: hidden;
    }
  }

  .products-list {
    justify-content: space-between;

    @include respond-to(md) {
      padding-left: 0;
    }
  }

  .product__images-item {
    display: flex;
    justify-content: center;
  }

  .progress-bar_mobile {
    left: 0;
  }

  .price-container {
    @include respond-to(xxl) {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
