.my-purchases {

  &__head {
    @include respond-to(md) {
      padding-left: 20px;
    }

    @include respond-to(xs) {
      padding-left: 10px;
    }
  }

  .modal_progress-bar_mobile {
    display: none;
  }

  &__info {
    padding-right: 250px;
    font-family: $Panton;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 22px;
    color: #4f4f4f;

    @include respond-to(xxl) {
      padding-right: 0;
      padding-left: 20px;
    }

    @media screen and (max-width: 760px) {
      padding-left: 0;
    }
  }

  &__items {
    margin-top: 45px;
    margin-left: -196px;

    @include respond-to(xxl) {
      margin-left: 0;
    }

    @include respond-to(xs) {
      margin-top: 25px;
    }
  }

  .subscription,
  .subscription p {
    padding-top: 0;
  }

  .subscription {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .product__invite {
    @media screen and (max-width: 760px) {
      display: none;
    }

    &-list {
      @include respond-to(xs) {
        transform: rotate(180deg) scale(1,-1) translateX(100px);
      }
    }

    &-row {
      @include respond-to(xs) {
        transform: scale(-1,1);
        padding-left: 15px;
      }
    }

    &-btn {
      background: url(../img/icons/invite.svg);
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
      color: $second-red;
      position: relative;
      z-index: 3;
      cursor: pointer;
    }

    &_wide {
      @include respond-to(xxl) {
        margin-left: -100px;
      }
    }

    &_mobile {
      display: none;

      @media screen and (max-width: 760px) {
        display: block;
      }
    }
  }


  .order {
    margin-top: 90px;
    margin-bottom: 60px;

    @include respond-to(xxl) {
      flex-direction: column;
    }

    @include respond-to(md) {
      padding-left: 0;
      padding-right: 0;
    }

    @include respond-to(md) {
      margin-top: 0;
    }

    &-total {
      padding-left: 40px;
      width: 290px;

      @include respond-to(xxl) {
        display: flex;
        justify-content: flex-start;
        order: -1;
        padding-left: 20px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: 3px solid #f9f9f2;
      }

      @media screen and (max-width: 1400px) {
        padding-left: 20px;
      }

      @include respond-to(md) {
        padding-left: 20px;
      }

      @include respond-to(xs) {
        display: none;
      }

      &__container {

        @include respond-to(xxl) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-right: 25%;
          padding-left: 0;
          border-bottom: none;
        }

        @include respond-to(lg) {
          margin-right: 25%;
        }

        @include respond-to(md) {
          margin-right: 13%;
        }

        @media screen and (max-width: 760px) {
          margin-right: 5%;
        }

        &:last-child {
          @include respond-to(xxl) {
            margin-right: 0;
          }
        }
      }
    }

    &-forms {
      @include respond-to(xxl) {
        padding-top: 40px;
      }

      @include respond-to(lg) {
        padding-top: 0;
      }

      @include respond-to(sm) {
        padding-right: 0;
      }

      @include respond-to(xs) {
        padding-left: 10px;
        padding-right: 10px;
      }

      &__title {
        @include respond-to(md) {
          font-size: 38px;
        }
      }
    }
  }

  .subscription__line {
    margin-top: 50px;
  }

  .personal-data__person,
  .personal-data__person-img {
    @include respond-to(xxl) {
      margin-top: 0;
    }
  }
}

// My Orders
.my-order {
  margin-bottom: 35px;
  width: 100%;
  min-height: 518px;
  border: 2px solid $black-custom;
  border-radius: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    padding: 23px 0;
    padding-left: 54px;
    background-color: #f2f2f2;

    @include respond-to(md) {
      padding-left: 30px;
    }

    @media screen and (max-width: 760px) {
      padding-right: 30px;
    }

    @include respond-to(xs) {
      padding-top: 16px;
      padding-bottom: 17px;
    }
  }

  &__title {
    font-family: $Panton;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #222;

    @include respond-to(xs) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__body {
    padding: 0 54px;

    @include respond-to(md) {
      padding: 0 30px;
    }

    @include respond-to(xs) {
      padding: 0 20px;
    }
  }

  &__container {
    padding: 25px 0;
    padding-left: 15px;
    border-bottom: 1px solid #bdbdbd;

    @include respond-to(lg) {
      padding-left: 0;
    }

    &:last-child {
      border-bottom: none;
    }

    .modal_progress-bar {
      margin: 0 0 36px 0;
      width: 100%;
      transform: translateX(0);

      &_mobile {

        @include respond-to(md) {
          display: none;
          order: -1;
        }
      }
    }
  }

  .js-modal_friends.active .modal_progress-bar .bar-line {
    max-width: 90%;
  }

  &__goods {
    display: flex;

    @media screen and (max-width: 760px) {
      flex-direction: column;
    }

    @include respond-to(xs) {
      padding-top: 16px;
    }
  }

  &__product,
  &__stars {
    min-height: 110px;

    @media screen and (max-width: 760px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__product {
    display: flex;
    align-items: center;
    width: 57%;
    border-right: 1px solid #bdbdbd;

    @include respond-to(lg) {
      width: 65%;
      border-right: none;
    }

    @include respond-to(xs) {
      position: relative;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: 1px solid #bdbdbd;
    }

    &_item {
      padding-right: 30px;
      display: flex;
      width: 60%;

      @include respond-to(xs) {
        align-items: flex-start;
        padding-right: 0;
        width: 100%;
      }
    }

    &_btn {
      width: 40%;

      @include respond-to(lg) {
        align-self: flex-start;
      }

      @include respond-to(xs) {
        position: absolute;
        bottom: 25px;
        left: 40%;
      }
    }

    &_img {
      width: 92px;
      height: auto;
    }

    &_figcaption {
      display: flex;
      align-items: center;
      padding-left: 32px;
      font-family: $Panton;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: $black-custom;

      @include respond-to(md) {
        padding-left: 15px;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__stars {
    padding: 0 75px;
    width: 43%;

    @include respond-to(lg) {
      padding: 0;
      width: 35%;
    }

    @media screen and (max-width: 760px) {
      flex-direction: column;
    }

    .red-btn {
      width: 200px;

      @include respond-to(xs) {
        font-size: 16px;
        height: 40px;
      }
    }
  }

  &__additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @media screen and (max-width: 1400px) {
      flex-direction: column;
    }

    .price-container,
    .friends-list {
      margin-top: 0;
      padding-left: 0;
    }

    .price-container {
      padding-left: 20px;

      @media screen and (max-width: 760px) {
        display: flex;
        justify-content: center;
        width: 90%;
      }

      &__old {
        @media screen and (max-width: 760px) {
          display: none;
        }

        &::after {
          @include respond-to(xs) {
            top: 20px;
          }
        }

        p {
          @include respond-to(xs) {
            font-size: 25px;
          }
        }

        &_mobile {
          display: none;

          @media screen and (max-width: 760px) {
            display: block;
            margin-top: 30px;
            margin-left: 0;
          }
        }

        .price-container__label {
          @include respond-to(xs) {
            color: #d9d9d9;
          }
        }
      }

      &__current {
        @media screen and (max-width: 760px) {
          text-align: center;
        }
      }

      &__discount {
        @include respond-to(xs) {
          top: -20px;
          right: -20px;
          width: 50px;
          height: 50px;

          span {
            font-size: 14px;
            line-height: 13px;
          }
        }
      }
    }
  }

  &__delivery {
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #222;
  }
}

.green-btn {
  padding: 4px 22px;
  display: inline;
  width: auto;
  height: auto;
  border-radius: 14px;
  background-color: #8be33f;
  cursor: default;

  &:hover {
    background-color: #8be33f;
  }
}
// End My Orders

// Stars Rating
.stars {
  display: flex;
  margin-bottom: 25px;
  padding-top: 10px;

  @media screen and (max-width: 760px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    margin-right: 25px;
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #222;

    @include respond-to(md) {
      margin-right: 0;
      width: 84px;
    }

    @media screen and (max-width: 760px) {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
    }
  }
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin-right: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";

  @include respond-to(xs) {
    margin-right: 17px;
    font-size: 1.5em;
  }
}

.rating label.last-star:before {
  margin-right: 0;

  @include respond-to(xs) {
    margin-right: 0;
  }
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: $light-gray;
  float: right;
  cursor: pointer;
  position: relative;
}

.rating > input:checked ~ label, /* show $second-red star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: $second-red;
  position: relative;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: $second-red;  }
// End Stars Rating

.additional {

  &_first-group,
  &_second-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 49%;

    @media screen and (max-width: 1400px) {
      width: 100%;
    }

    @media screen and (max-width: 760px) {
      justify-content: center;
    }
  }

  &_second-group {

    @media screen and (max-width: 1400px) {
      order: -1;
      margin-bottom: 50px;
    }

    @media screen and (max-width: 760px) {
      flex-direction: column;
    }

    @include respond-to(xs) {
      margin-bottom: 25px;
    }

    .friends-list {
      @media screen and (max-width: 1400px) {
        order: -1;
      }

      @media screen and (max-width: 760px) {
        display: flex;
        justify-content: center;
        order: -2;
        margin-bottom: 25px;
      }

      &__item {
        @include respond-to(xs) {
          width: 37px;
          height: 37px;
        }
      }
    }
  }
}

.back-btn {
  display: none;
  margin-top: 17px;
  margin-bottom: 19px;
  font-family: $Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bdbdbd;
  transition: all $delay;

  &:hover {
    text-decoration: none;
  }

  @include respond-to(xs) {
    display: inline-block;
  }
}

.discount-btn {
  @media screen and (max-width: 760px) {
    display: flex;
    align-items: center;
  }

  .red-btn {
    @include respond-to(xs) {
      font-size: 16px;
      height: 40px;
    }
  }
}
