.greeting {
  max-width: 860px;
  margin: -15px auto 0;
  text-align: center;
  font-family: $Panton;

  @include respond-to(xs) {
    margin-top: 5px;
  }

  h2 {
    margin-top: -19px;
    line-height: 49px;
    font-size: 52px;
    font-weight: 700;

    @include respond-to(xs) {
      font-size: 32px;
      line-height: 30px;
    }
  }

  p {
    margin-top: 5px;
    line-height: 26px;
    font-size: 25px;

    @include respond-to(xs) {
      margin-top: 16px;
      font-size: 16px;
      line-height: 17px;
    }
  }

  h2,
  p {
    color: $black-custom;
  }

  &__discount {
    position: relative;
    z-index: -1;
    max-width: 280px;
    margin: 19px auto 0;
    height: 125px;
    top: 125px;
    transition: all 2s cubic-bezier(.2,1.44,.8,.42);

    @include respond-to(xs) {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: -1;
    }

    &.show {
      top: 0;
      animation: shakePaws 5s infinite alternate both;
      animation-delay: 2s;
    }


    &-label {
      width: 228px;
      height: 50px;
      background: #FF1400;
      box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.03);
      border-radius: 5px;
      transform: rotate(3.5deg);
      position: relative;
      padding-top: 15px;
      display: flex;
      justify-content: center;
      z-index: 2;
      text-transform: uppercase;
      font-size: 18px;
      font-family: $Panton;
      letter-spacing: 0.1em;
      color: $white;

    }
    &-left,
    &-right {
      position: absolute;

    }
    &-left {
      left: -47px;
      bottom: -32px;
      z-index: 1;

      @include respond-to(xs) {
        left: -27px;
      }
    }
    &-right {
      right: 28px;
      bottom: -23px;
      z-index: 2;

      @include respond-to(xs) {
        right: -1px;
      }
    }
    &-star {
      width: 42px;
      height: 42px;
      position: absolute;
      right: -28px;
      top: -19px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../img/star.svg);
      background-size: cover;
      text-shadow: 1px 2px 0 $black-custom;
      padding-bottom: 3px;
      color: #ffffff;
      font-size: 25px;
      letter-spacing: -0.03em;
      font-weight: 700;
      font-family: $Roboto;

      span {
        transform: rotate(-18deg);
      }
    }
    &-text {
      color: $red;
      font-family: $Panton;
      font-weight: 700;
      margin: 15px 45px 0 0;

      @include respond-to(xs) {
        margin-right: 0;
      }

      span {
        display: block;

        &:nth-child(1) {
          font-size: 16px;
        }
        &:nth-child(2) {
          margin-top: 2px;
          font-size: 10px;
        }
      }
    }
  }
}

.steps {
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-family: $Panton;
  color: $black-custom;
  display: flex;
  max-width: 1456px;
  margin: -1px auto 0;
  height: 65px;
  transform: translateX(8px);

  @include respond-to(xs) {
    display: none;
  }

  &__mob {
    display: none;

    @include respond-to(xs) {
      display: block;
      padding: 10px 40px;
      border-radius: 10px;
      text-align: center;
      background-color: #f9f9f2;
      z-index: 10;
    }

    p {
      font-family: $Panton;
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      color: $black-custom;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F2;
    height: 100%;
    position: relative;
    line-height: 18px;
    cursor: pointer;
    transition: all .25s;

    @include respond-to(lg) {
      padding: 0 35px;
    }

    @include respond-to(md) {
      padding-top: 6px;
      padding-right: 12px;
    }

    &:hover {
      background-color: #F6F6E4;

      .steps__item-popup {
        opacity: 1;
        z-index: 1;
      }
    }

    &-popup {
      top: -70px;
      left: 54px;
      position: absolute;
      width: 273px;
      height: 85px;
      background: url("../img/disc-popup.png");
      background-size: cover;
      padding: 9px 11px 0;
      line-height: 14px;
      font-size: 12px;
      color: #828282;
      font-family: $Roboto;
      opacity: 0;
      z-index: -1;
      transition: $delay;

      @include respond-to(xl) {
        left: 10px;
      }

      @include respond-to(lg) {
        left: -10px;
      }

      @include respond-to(md) {
        left: -66px;
      }

      p {
        letter-spacing: 0.05px;
      }
    }

    &-twentyfour {
      font-family: $Roboto;
      font-weight: 700;
      color: $second-red;
      display: flex;
      align-items: center;
      margin-left: 19px;
      margin-right: 8px;
      font-size: 12px;
      line-height: 11px;

      @include respond-to(xxl) {
        display: none;
      }

      @include respond-to(xs) {
        margin-left: 0;
        margin-right: 0;
      }

      div {
        width: 49px;
        height: 49px;
        min-width: 49px;
        min-height: 49px;
        background-color: $yellow;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 18px;
        font-size: 22px;
        margin-right: 10px;

        @include respond-to(md) {
          margin-right: 0;
        }
        @include respond-to(xs) {
          margin-right: 5px;
          width: 39px;
          height: 39px;
          min-height: 39px;
          min-width: 39px;
          font-size: 18px;
        }
      }
      p {
        font-size: 12px;
        font-weight: bold;

        span {
          display: block;
        }
      }
    }

    &_one {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 340px;
      padding-right: 7px;

      @include respond-to(xxl) {
        width: 15%;
      }

      @include respond-to(lg) {
        padding: 0 20px;
      }

      @include respond-to(md) {
        padding-left: 8px;

        .steps__item-popup {
            left: -10px;
            z-index: 15;
        }
      }

      img {
        right: -23px;
      }
    }
    &_two {
      //margin-left: 20px;
      width: 378px;

      @include respond-to(xxl) {
        width: 30%;
      }

      @include respond-to(md) {
        .steps__item-popup {
            left: 30px;
        }
      }

      img {
        right: -23px;
      }
    }
    &_three {
      width: 328px;
      padding-left: 8px;

      @include respond-to(xxl) {
        width: 30%;
      }

      @include respond-to(md) {
        width: 32%;

        .steps__item-popup {
            left: 30px;
        }
      }

      img {
        right: -23px;
      }
    }
    &_four {
      width: 410px;
      justify-content: flex-end;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;

      @include respond-to(xxl) {
        justify-content: center;
        width: 25%;
      }
    }
  }
  &__arrow {
    position: absolute;
    z-index: 3;
  }
}

.counters {
  position: relative;
  transform: translateX(8px);
  display: flex;
  max-width: 1109px;
  margin: auto;
  min-height: 116px;
  z-index: 2;
  background: #fff;

  @include respond-to(md) {
    transform: none;
    margin-top: 35px;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 9px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;

    @include respond-to(md) {
      align-items: flex-start;
    }

    @include respond-to(xs) {
      align-items: center;
    }

    @media only screen and (max-width: 767px) {
      width: 50%;
      margin-bottom: 15px;
    }

    @include respond-to(xs) {
      margin-bottom: 0;
    }

    p {
      //max-width: 148px;
      max-width: 190px;
      padding-left: 20px;
      font-family: $Roboto;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $black-custom;
      letter-spacing: -0.1px;

      @include respond-to(xs) {
        padding-right: 20px;
        font-size: 10px;
        line-height: 12px;
      }

      @include respond-to(md) {
        margin-top: 5px;
        max-width: 100px;
      }

      @include respond-to(xs) {
        margin-top: 0;
      }
    }

    img {
      @include respond-to(xs) {
        height: 30px;
      }
    }

    &_one {
      p {
        max-width: 166px;
        padding-left: 19px;

        @include respond-to(md) {
          max-width: 115px;
        }
      }
    }
    &_two {
      margin-left: 64px;

      @include respond-to(md) {
        margin-left: 0;
      }

      img {
        margin-top: -16px;
      }

      p {
        max-width: 148px;
        padding-left: 11px;

        @include respond-to(md) {
          max-width: 111px;
        }
      }
    }
    &_three {
      margin-left: 51px;

      @include respond-to(md) {
        margin-left: 25px;
      }

      @media only screen and (max-width: 767px) {
        margin-left: 0;
      }

      img {
        margin-top: -17px;
      }

      p {
        @include respond-to(md) {
          word-wrap: break-word;
        }

        padding-left: 13px;
      }
    }
    &_four {
      margin-left: 34px;

      @media only screen and (max-width: 767px) {
        margin-left: 0;
      }

      img {

      }
      p {
        max-width: 264px;
        padding-left: 20px;

        @include respond-to(md) {
          max-width: 135px;
        }
        @include respond-to(xs) {
          padding-left: 13px;
        }
      }
    }
  }
  &__image {

  }
}

.hashtags {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 4px auto 28px;

  @include respond-to(md) {
    margin-top: 30px;
    width: max-content;
  }

  &-wrapper {
    @include respond-to(md) {
      overflow-x: scroll;
    }
  }

  &__item {
    font-weight: 500;
    line-height: 18px;
    font-size: 16px;
    font-family: $Roboto;
    color: $black-custom;
    padding: 2px 5px;
    border: 2px solid #F9F9F2;
    border-radius: 5px;
    transition: $delay;
    cursor: pointer;

    @include respond-to(lg) {
      margin-bottom: 5px;
    }

    @include respond-to(md) {
      margin-bottom: 0;
      margin-right: 10px;
    }

    &:hover {
      border-color: $second-red;
      color: $second-red;
    }

    &.active {
      border-color: $second-red;
      color: $second-red;
    }
  }
}

.catalog-content {
  background: linear-gradient(360deg, rgba(247, 248, 239, 0.8) 0%, rgba(249, 244, 241, 0) 100%);
  padding: 0 30px;
  padding-bottom: 63px;
  margin: 0 -30px;

  @include respond-to(md) {
    position: relative;
    left: auto;
    width: 108%;
    padding: 0;
  }

  @include respond-to(xs) {
    padding-bottom: 40px;
    margin: 0 -12.5px;
  }

  &__flex {
    margin: auto;
    max-width: 1468px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;

    @include respond-to(xxl) {
      flex-direction: column;
    }

    .products-list {
      @include respond-to(xs) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  &__other {
    position: relative;
    left: 50.2%;
    transform: translateX(-50.2%);
    margin: 22px auto 0;
    color: $second-red;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    font-family: $Roboto;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    letter-spacing: 0;

    @include respond-to(lg) {
      left: 50%;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 25px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 8px;
      height: 17px;
      background-image: url("../img/icons/triangle.svg");
      background-size: cover;
      top: 2px;
      margin: auto 0 auto 15px;
      bottom: 0;
    }
  }

  & .products-list .slick-next{
    @include respond-to(xs) {
      right: 0;
    }
  }
}

.discount-sidebar {
  margin-top: 2px;
  width: 485px;
  border-radius: 5px;

  @include respond-to(xxl) {
    width: 100%;
  }

  &__header {
    padding: 18px 0 0 34px;
    position: relative;
    height: 242px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(244.31deg, #7AF356 1.74%, #2BCE58 97.5%);

    @include respond-to(xxl) {
      padding: 50px 50% 55px 85px;
    }

    @include respond-to(md) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @include respond-to(xs) {
      padding: 20px 15% 55px 30px;
      text-align: center;
    }

    h3 {
      font-family: $Panton;
      line-height: 42px;
      font-size: 45px;
      font-weight: 600;
      color: $white;
      letter-spacing: 0.1px;

      @include respond-to(xs) {
        font-size: 24px;
        line-height: 23px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      right: -24px;
      bottom: 0;
      width: 193px;
      height: 183px;
      background-image: url("../img/sidebar-cat.png");
      background-size: cover;

      @include respond-to(xxl) {
        right: 9%;
      }

      @include respond-to(xs) {
        right: 4%;
      }
    }
  }

  &__image {
    position: absolute;
    left: 193px;
    bottom: 0;

    @include respond-to(xxl) {
      left: 51%;
    }

    @include respond-to(xs) {
      left: 19%;
    }
  }

  &__hole {
    width: 48px;
    height: 64px;
    background-color: #165A19;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: -43px;
      width: 81px;
      bottom: 3px;
      height: 27px;
      background-image: url("../img/sidebar-mouse.svg");
      background-size: cover;
    }
  }

  &__star {
    top: -62px;
    left: -71px;
    padding: 4px 12px 2px 0;
    position: absolute;
    z-index: 1;
    width: 99px;
    height: 99px;
    background-image: url("../img/yellow-star.png");
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(xs) {
      top: -76px;
      left: -57px;
    }

    span {
      transform: rotate(-15deg);
      font-family: $Roboto;
      font-size: 22px;
      letter-spacing: -0.03em;
      text-shadow: 4px 2px 0 $black-custom;
      -webkit-text-stroke: 1px $black-custom;
      font-weight: 900;
      color: $white;
    }
  }

  &__main {
    border: 3px solid #6BEC56;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px 14px 50px;
    background-color: #fff;

    @include respond-to(xxl) {
      padding: 0;
      padding-top: 20px;
    }

    @include respond-to(md) {
      border-left: 0;
      border-right: 0;
    }

    @include respond-to(xs) {
      padding-bottom: 70px;
    }

    &-title-tab {
      display: none;

      @include respond-to(xxl) {
        display: block;
        margin-bottom: 20px;
        padding-left: 85px;
        font-family: $Panton;
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;
        color: $black-custom;
      }

      @include respond-to(xs) {
        padding: 0 12px;
        font-size: 24px;
        line-height: 23px;
        text-align: center;
      }
    }
  }

  .discount-product {
    position: relative;
    padding: 31px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to(xxl) {
      margin-right: 50px;
    }

    @include respond-to(xxl) {
      padding-top: 60px;
    }

    @include respond-to(xs) {
      margin-right: 0;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0;
      width: 100vw;
    }

    &:not(:last-child) {
      border-bottom: 3px solid #F9F9F2;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.8);
      z-index: -1;
      opacity: 0;
    }

    &.active {
      &:before {
        opacity: 1;
        z-index: 2;
      }
    }

    &__flex {
      display: flex;

      @include respond-to(xs) {
        position: relative;
      }
    }
    &__images {
      width: 150px;
      height: 150px;
      margin-bottom: 0;

      @include respond-to(xs) {
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        height: 110px;
        overflow: hidden;
      }

      img {
        @include respond-to(xs) {
          height: 110px;
        }
      }

      .slick-dots {
        bottom: 14px;
        display: flex;
        justify-content: center;
        z-index: 1;


        li {
          width: 43px;
          height: 2px;
          margin: 0 2px;

          button {
            width: 100%;
            height: 100%;

            &:before {
              background-color: $white;
              width: 100%;
              height: 100%;
              content: '';
              opacity: .5;
            }
          }

          &.slick-active {
            button {
              &:before {
                background-color: #7AF356;
                opacity: 1;
              }
            }
          }
        }
      }

      &-item {
        outline: none !important;
      }
    }
    &__info {
      padding-left: 19px;

      @include respond-to(xs) {
        padding-left: 0;
      }
    }

    &__name {
      letter-spacing: 0;
      font-family: $Panton;
      line-height: 16px;
      font-size: 15px;
      color: $black-custom;

      @include respond-to(xs) {
        padding-top: 10px;
        padding-left: 130px;
        font-size: 18px;
        line-height: 21px;
      }
    }

    &__invite {
      margin-top: 18px;
      position: relative;
      display: flex;

      @include respond-to(xs) {
        display: none;
      }

      &_mob {
        display: none;

        @include respond-to(xs) {
          display: flex;
          justify-content: center;
        }
      }

      .red-btn {
        height: 39px;

        @include respond-to(xs) {
          font-size: 16px;
          width: 200px;
        }
      }

      &-panel {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 15px;

        span {
          margin-left: 8px;
          font-family: $Roboto;
          font-size: 12px;
          font-weight: 700;
          color: $second-red;
          cursor: pointer;

          @include respond-to(xs) {
            display: none;
          }
        }
      }
      &-btn {
        width: 20px;
        height: 20px;
        background: url('../img/icons/invite.svg');
        background-size: cover;
        cursor: pointer;
        transition: all .25s;
        z-index: 50;

        @include respond-to(xs) {
          width: 33px;
          height: 33px;
        }

        &:hover {
          opacity: 0.6;
        }
      }

      span {
        z-index: 50;
      }
    }
    &__like {
      padding-left: 36px;
      cursor: pointer;
      display: flex;
      align-items: center;

      svg {
        width: 22px;
        height: 20px;
      }
      path {
        transition: fill $delay;
      }

      span {
        margin-left: 7px;
        color: $second-red;
        font-size: 12px;
        font-weight: 700;
        font-family: $Roboto;
      }
      &:hover,
      &.liked {
        path {
          fill: $second-red;
        }
      }
    }

    .price-container__old {

      @include respond-to(xs) {
        padding-left: 130px;
        text-align: left;
      }

      &::after {
        @media screen and (max-width: 576px) {
          left: 43%;
        }

        @media screen and (max-width: 400px) {
          left: 59%;
        }
      }

      p {
        @include respond-to(xs) {
          font-size: 25px;
          line-height: 21px;
        }
      }
    }

    .product__invite {

      &-list {
        @include respond-to(xs) {
          left: -171px;
          transform: scale(-1,1);
        }

        span {
          display: block;
          text-align: center;
          color: #fff;
          font-size: 10px;
          line-height: 12px;
        }
      }

      &-row {
        @include respond-to(xs) {
          padding-left: 20px;
          transform: scale(-1,1);
        }
      }
    }

    .price-container__current-wrapper {
      @include respond-to(xs) {
        justify-content: flex-start;
      }
    }
  }

  .slick-arrow {
    width: 65px;
    height: 100%;
    background-image: url('../img/icons/arrow-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    transition: all $delay;

    @include respond-to(xs) {
      top: auto;
      bottom: -20%;
      width: 50px;
      height: 40px;
      background-color: transparent;
    }

    &:hover {
      background-color: #fff;
    }

    &::before {
      display: none;
    }
  }

  .slick-prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {

    @include respond-to(xs) {
      bottom: -13%;
    }

    li button:before {

      @include respond-to(xs) {
        font-size: 12px;
      }
    }

    li.slick-active button:before {
      @include respond-to(xs) {
        color: $second-red;
      }
    }
  }
}

.share-container {

  &__wrapper {
    margin: auto;
    padding-top: 184px;
    max-width: 1340px;
    min-height: 682px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    @include respond-to(xl) {
      padding-top: 52px;
      padding-bottom: 45px;
    }

    @include respond-to(xs) {
      padding-top: 230px;
      min-height: 560px;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      background-size: cover;

      @include respond-to(lg) {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &:before {
      top: 0;
      left: 324px;
      background-image: url("../img/share-paw1.png");
      width: 266px;
      height: 342px;

      @include respond-to(lg) {
        left: 21%;
        width: 248px;
      }

      @include respond-to(xs) {
        left: auto;
        right: 25%;
        width: 120px;
        transform: rotate(90deg);
      }
    }
    &:after {
      bottom: 0;
      left: -20px;
      background-image: url("../img/share-paw2.png");
      width: 395px;
      height: 296px;

      @include respond-to(lg) {
        left: -18%;
      }

      @include respond-to(xs) {
        left: -111px;
        bottom: auto;
        top: -80px;
        width: 190px;
        transform: rotate(90deg);
      }
    }
  }
  &__give-five {
    position: absolute;
    top: 154px;
    left: 71px;
    background-image: url("../img/give-five.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 165px;
    height: 117px;

    @include respond-to(lg) {
      left: 9px;
      top: 100px;
      width: 116px;
      background-size: contain;
    }

    @include respond-to(xs) {
      top: 20px;
      left: 65%;
      width: 90px;
    }
  }
  &__text {
    margin-right: 57px;
    color: $black-custom;
    font-family: $Panton;
    max-width: 700px;

    @include respond-to(lg) {
      max-width: 36%;
    }

    @include respond-to(xs) {
      margin-right: 0;
      max-width: 100%;
      text-align: center;
    }

    h2 {
      letter-spacing: 0;
      font-weight: 700;
      line-height: 45px;
      margin-bottom: -6px;

      @include respond-to(xs) {
        margin-bottom: 15px;
      }

      span {
        display: block;

        &:nth-child(1) {
          font-size: 54px;

          @include respond-to(lg) {
            font-size: 34px;
          }

          @include respond-to(xs) {
            font-size: 24px;
            line-height: 23px;
          }
        }
        &:nth-child(2) {
          margin-top: 11px;
          font-size: 75px;
          line-height: 65px;

          @include respond-to(lg) {
            margin-top: 18px;
            font-size: 53px;
            line-height: 52px;
          }

          @include respond-to(xs) {
            margin-top: 0;
            font-size: 24px;
            line-height: 23px;
          }
        }
      }
    }
    p {
      letter-spacing: 1.4px;
      padding-top: 45px;
      font-size: 25px;
      line-height: 26px;
      font-weight: 700;

      @include respond-to(xs) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.bottom-linear {
  margin: 0 -30px;
  background: linear-gradient( rgba(247, 248, 239, 0.8)0%, rgba(249, 244, 241, 0) 100%);

  @include respond-to(xs) {
    margin: 0 -10px;
  }
}

.bottom-section {
  padding: 132px 30px 0;
  background: transparent;

  @include respond-to(xs) {
    padding: 52px 10px 0;
    width: 100vw;
    margin: 0;
  }
}

.invite-container {
  position: relative;
  min-height: 286px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 0;

  @include respond-to(xxl) {
    padding-bottom: 70px;
  }

  @include respond-to(xs) {
    padding-bottom: 48px;

  }

  .red-btn {
    margin: 41px 0 0 225px;
    width: 171px;
    min-width: 171px;

    @include respond-to(md) {
      margin-left: 21%;
    }

    @include respond-to(xs) {
      margin-top: 170px;
      font-size: 18px;
      height: 40px;
    }
  }

  &__cloud {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    &_one {
      background-image: url("../img/clouds/cloud1.png");
      width: 66px;
      height: 43px;
      bottom: 19px;
      left: -81px;

      @include respond-to(xs) {
        width: 150px;
        height: 60px;
        bottom: 380px;
        left: 5px;
        background-image: url("../img/clouds/cloud2.png");
        z-index: 0;
      }
    }

    &_two {
      width: 206px;
      height: 135px;
      top: 55px;
      left: -89px;
      z-index: 0;

      &:after {
        background-image: url("../img/clouds/cloud2.png");

        @include respond-to(xs) {
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      @include respond-to(md) {
        left: -146px;
      }

      @include respond-to(xs) {
        left: 80%;
        top: 33%;
        width: 150px;
        height: 85px;
      }

      &:before {
        position: absolute;
        content: '';
        background-image: url("../img/404-cat.png");
        width: 118px;
        height: 117px;
        top: -20px;
        right: -62px;

        @include respond-to(xs) {
          top: -50%;
          right: auto;
          left: -18%;
          transform: rotate(-72deg);
          width: 90px;
          height: 80px;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    &_three {
      width: 81px;
      height: 53px;
      bottom: 38px;
      left: 102px;
      z-index: 0;

      &:after {
        background-image: url("../img/clouds/cloud3.png");
      }

      @include respond-to(md) {
        bottom: 18%;
        left: 2%;
      }

      @include respond-to(xs) {
        bottom: 52%;
        left: 87%;
        transform: scale(-1,1);
      }

      &:before {
        position: absolute;
        content: '';
        background-image: url("../img/tail.png");
        width: 62px;
        height: 98px;
        bottom: -83px;
        left: 17px;
      }
    }

    &_four {
      background-image: url("../img/clouds/cloud4.png");
      width: 66px;
      height: 43px;
      top: -50px;
      right: 209px;
      z-index: 0;

      @include respond-to(xs) {
        top: 180px;
        right:170px;
        background-image: url("../img/clouds/cloud3.png");
      }
    }

    &_five {
      background-image: url("../img/clouds/cloud5.png");
      width: 43px;
      height: 28px;
      top: 84px;
      right: -83px;

      @include respond-to(xs) {
        top: 295px;
        right: auto;
        left: 0;
        background-image: url("../img/clouds/cloud3.png");
        z-index: 0;
      }
    }
    &_six {
      width: 151px;
      height: 99px;
      right: 361px;
      bottom: -38px;

      &:after {
        background-image: url("../img/clouds/cloud6.png");
      }

      @include respond-to(lg) {
        right: -40px;
        bottom: 10px;
      }

      @include respond-to(md) {
          right: -15%;
          bottom: 5%;
      }

      @include respond-to(xs) {
        display: none;
      }

      &:before {
        position: absolute;
        content: '';
        background-image: url("../img/invite-paw.png");
        width: 125px;
        height: 103px;
        top: -52px;
        left: -85px;
      }
    }
    &_seven {
      background-image: url("../img/clouds/cloud7.png");
      width: 71px;
      height: 46px;
      right: -129px;
      bottom: 19px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    padding: 63px 82px 0 225px;

    @include respond-to(xxl) {
      position: relative;
      flex-direction: column;
    }

    @include respond-to(xl) {
      padding-right: 30%;
    }

    @include respond-to(md) {
      padding-left: 21%;
    }

    @include respond-to(xs) {
      padding: 20px;
      text-align: center;
    }
  }
  &__text {
    font-family: $Roboto;
    line-height: 32px;
    font-size: 22px;
    letter-spacing: 0;
    color: $black-custom;

    @include respond-to(md) {
      font-size: 16px;
      line-height: 22px;
    }

    &_one {
      max-width: 756px;
    }
    &_two {
      max-width: 363px;

      @include respond-to(xxl) {
        margin-top: 25px;
      }

      @include respond-to(xs) {
        margin-top: 130px;
      }
    }
  }
  &__count {
    padding-top: 21px;
    margin-right: 49px;
    width: 194px;
    height: 73px;
    letter-spacing: 3.2px;
    font-family: $Panton;
    font-size: 70px;
    font-weight: 700;
    position: relative;

    @include respond-to(xxl) {
      position: absolute;
      top: 70px;
      right: 5px;
    }

    @include respond-to(md) {
      top: 64px;
      right: -30px;
    }

    @include respond-to(xs) {
      top: auto;
      bottom: -25%;
      right: 0;
    }

    span {
      z-index: 1;
      position: relative;
    }

    &:before {
      position: absolute;
      content: '';
      top: 14px;
      left: 7px;
      width: 100%;
      height: 100%;
      background: $yellow;
      border-radius: 5px;
      transform: rotate(-10.42deg);
    }
  }
}

.search-engine {
  margin-top: 154px;
  min-height: 154px;
  position: relative;
  background: #7AF356;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-family: $Roboto;

  @include respond-to(md) {
    margin-top: 40px;
    padding-left: 150px;
    padding-bottom: 36px;
  }

  @include respond-to(xs) {
    padding: 10px 20px 50px 30px;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    bottom: -15px;
    left: 113px;
    width: 197px;
    height: 190px;
    background-image: url("../img/route.png");

    @include respond-to(xxl) {
      left: 0;
    }

    @include respond-to(xl) {
      left: -65px;
      bottom: 7px;
    }

    @include respond-to(xs) {
      left: 35px;
      bottom: auto;
      top: -21px;
      width: 85px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &:after {
    bottom: -28px;
    right: 73px;
    width: 262px;
    height: 204px;
    background-image: url("../img/search-cat.png");

    @include respond-to(xxl) {
      right: 0;
    }

    @include respond-to(xl) {
      bottom: -7px;
      right: -136px;
    }

    @include respond-to(xs) {
      bottom: -101px;
      right: 4px;
      width: 100px;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__form {
    margin-right: 63px;
    max-width: 763px;
    z-index: 2;

    @include respond-to(xs) {
      margin-right: 0;
    }

    &-flex {
      padding-top: 53px;
      display: flex;

      @include respond-to(md) {
        padding-top: 45px;
      }
    }

    &-field {
      border: none;
      border-bottom: 3px solid $black-custom;
      background-color: transparent;
      width: 643px;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0;

      @include respond-to(lg) {
        width: 70%;
      }

      @include respond-to(md) {
        width: 50%;
      }

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(51, 51, 51, 0.5);
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(51, 51, 51, 0.5);
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(51, 51, 51, 0.5);
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(51, 51, 51, 0.5);
      }

      &:focus {
        box-shadow: none;
        outline: none;

      }
    }
    &-btn {
      margin-left: 15px;
      position: relative;
      background-color: $black-custom;
      border-radius: 5px;
      padding-right: 13px;
      width: 105px;
      height: 35px;
      font-weight: 700;
      color: $white;
      font-size: 18px;
      letter-spacing: 0.5px;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      outline: none;
      border: none;
      transition: $delay;

      &:hover {
        opacity: .8;
      }

      &:before {
        content: '';
        position: absolute;
        left: 16px;
        width: 12px;
        height: 12px;
        background-image: url("../img/icons/research.svg");
      }
    }
  }
  &__text {
    padding-top: 5px;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;

    @include respond-to(lg) {
      width: 70%;
    }

    @include respond-to(md) {
      width: 50%;
    }

    @include respond-to(xs) {
      width: 100%;
    }
  }
}

.reviews {
  padding-top: 105px;
  background-color: transparent;
  margin: 0 -30px;

  @include respond-to(md) {
    padding-top: 60px;
  }

  @include respond-to(xs) {
    width: 100vw;
    margin: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  &__slider {
    //margin-top: 62px;
    //width: 100%;
    margin: 62px auto 0;
    width: 125%;

    @include respond-to(xl) {
      width: 100%;
    }

    &-item {
      padding: 30px 50px 0;
      outline: none !important;

      @include respond-to(lg) {
        width: 560px;
      }

      @include respond-to(md) {
        padding: 30px 30px 0;
      }

      @include respond-to(xs) {
        width: 300px;
        padding: 30px 10px 0;
      }
    }
  }

  .review {
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    background-color: $white;
    font-family: $Roboto;
    color: $black-custom;
    padding: 50px 35px 0 62px;
    min-height: 220px;

    @include respond-to(xs) {
      padding: 50px 20px 20px 27px;
    }


    &__head {
      display: flex;
      align-items: center;
      top: -31px;
      position: absolute;

      &-text {
        font-size: 16px;
        font-weight: 700;
        padding-left: 19px;

        span {
          display: block;
        }
      }
    }
    &__image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    &__title {
      line-height: 28px;
      font-size: 22px;
      color: $black-custom;
      font-weight: 700;
      letter-spacing: 0.05em;
    }
    &__text {
      padding-top: 18px;
      font-weight: 500;
      line-height: 22px;
      font-size: 16px;
      color: #828282;
      letter-spacing: 0;
    }
  }

  .with-arrows .slick-prev,
  .with-arrows .slick-next {
    top: 53%;
    bottom: auto;

    @include respond-to(md) {
      top: 115%;
    }

    @include respond-to(xs) {
      top: auto;
      bottom: -24%;
      width: 50px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .with-arrows .slick-prev {
    left: 23%;

    @include respond-to(xs) {
      left: 2%;
      background-image: url('../img/icons/red-arrow-left.svg');
    }
  }

  .with-arrows .slick-next {
    right: 23%;

    @include respond-to(xs) {
      right: 2%;
      background-image: url('../img/icons/red-arrow-right.svg');
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    @include respond-to(xs) {
      bottom: -63px;
    }

    li button:before {
      @include respond-to(xs) {
        font-size: 9px;
      }
    }

     li.slick-active button:before {
       color: $second-red;
     }
  }

.slick-dots li {
  display: none
}
.slick-dots li.slick-active,
.slick-dots li.slick-active + li,
.slick-dots li.slick-active + li + li {
  display: block;
}

.slick-dots li:nth-last-child(1),
.slick-dots li:nth-last-child(2),
.slick-dots li:nth-last-child(3) {
  display: block;
}

.slick-dots li.slick-active ~ li:nth-last-child(1),
.slick-dots li.slick-active ~ li:nth-last-child(2),
.slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}
.slick-dots li.slick-active + li + li:nth-last-child(3),
.slick-dots li.slick-active + li + li:nth-last-child(2),
.slick-dots li.slick-active + li + li:nth-last-child(1),
.slick-dots li.slick-active + li:nth-last-child(3),
.slick-dots li.slick-active + li:nth-last-child(2),
.slick-dots li.slick-active + li:nth-last-child(1){
  display: block;
}
}

.section-name {
  font-family: $Panton;
  color: $black-custom;
  text-align: center;

  h3 {
    font-size: 52px;
    font-weight: 700;

    @include respond-to(xs) {
      font-size: 32px;
      line-height: 30px;
    }
  }
  &__subtitle {
    margin-top: 20px;
    display: block;
    font-size: 30px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: $black-custom;

    @include respond-to(md) {
      margin-top: 22px;
    }

    @include respond-to(xs) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.main__title {
  display: block;

  @include respond-to(xxl) {
    display: block;
    position: relative;
  }

  .steps__item {
    position: absolute;
    top: -66px;
    right: 23%;
    display: inline-block;
    width: auto;
    background-color: transparent;

    @include respond-to(md) {
      right: 21%;
    }

    @include respond-to(xs) {
      right: 0;
      padding-left: 170px;
      padding-right: 0;
    }

    &-twentyfour {
      @include respond-to(xxl) {
        display: flex;
      }

      p {
        font-family: $Roboto;
        font-weight: 700;
        line-height: 11px;
        color: $second-red;

        @include respond-to(md) {
          text-align: left;
          padding-left: 5px;
        }

        @include respond-to(xs) {
          margin-top: 0;
          text-align: left;
          font-size: 12px;
          line-height: 13px;
        }
      }
    }
  }
}

.discount__list {

  @include respond-to(xxl) {
    padding-left: 80px;
  }

  @include respond-to(xs) {
    padding-left: 0;
  }

  .discount-product__like {
    @include respond-to(xs) {
      display: none;
    }
  }
}

.product__btn-mob {
  display: none;

  @include respond-to(lg) {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  @include respond-to(xs) {
    display: none;
  }
}

main.main {
  overflow: hidden;
  padding: 0 30px;

  @include respond-to(xs) {
    padding: 0 10px;
  }
}

@keyframes shakePaws {
  0%{
    transform: translateX(3px) rotate(5deg);
  }
  10%{
    transform: translateX(-3px) rotate(-5deg);
  }
  20%{
    transform: translateX(3px) rotate(5deg);
  }
  30%{
    transform: translateX(-3px) rotate(-5deg);
  }
  50%{
    transform: translateX(0px) rotate(0deg);
  }
}
