/*===================*/
// Defalaut
/*===================*/

$expo: cubic-bezier(0.23, 1, 0.32, 1);
$expoClose: cubic-bezier(0.075, 0.82, 0.165, 1);
.modal {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%) scale(0.9);
	transform-origin: 50% 50%;
	transition: all 500ms $expo;
	background-color: #ffffff;
	width: 100%;
	max-width: 1170px;
	margin: auto;
	overflow: hidden;

	@include respond-to(lg) {
		top: 40%;
	}
}

.modal-close {
	position: absolute;
	z-index: 9;
	top: 33px;
	right: 33px;
	width: 38px;
	height: 38px;
	cursor: pointer;

	@include respond-to(xs) {
		top: 20px;
		right: 15px;
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 37px;
		height: 5px;
		border-radius: 4px;
		background-color: #E0E0E0;
		transition: $delay;
	}

	&::after {
		transform: rotate(45deg);
	}

	&::before {
		transform: rotate(-45deg);
	}

	&:hover {

		&::after {
			background-color: #FF1400;
		}

		&::before {
			background-color: #FF1400;
		}
	}
}

.modal--wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	background: rgba(51, 51, 51, 0.7);
	transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
	visibility: hidden;
	opacity: 0;
	z-index: -1;

	&.active {
		visibility: visible;
		opacity: 1;
		z-index: 999;

		@include respond-to(md) {
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

	&.active .modal {
		transform: translateY(-50%) scale(1);
	}

	& .friends-list__item {
		width: 47px;
		height: 47px;
		position: relative;
		border-radius: 50%;
		overflow: hidden;

		&:not(.friends-list__item_empty) {
			border: 2px solid $second-red;
		}

		& img{
			position: absolute;
			top: 0;
			left: -2px;
			right: 0;
			bottom: 0;
			max-width: 53px;
			height: auto;
			margin: auto;
		}

		&_empty{
			& img{
				display: none;
			}
		}
	}
}

.no-scroll-el{
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

/*===================*/
	// Custom style
/*===================*/

.modal__wrapper{
	max-width: 1035px;
	min-height: 487px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 27px;
	overflow: visible;

	@include respond-to(lg) {
		max-width: 920px;
	}

	@include respond-to(md) {
		max-width: 722px;
	}

	@include respond-to(sm) {
		width: calc(100vw - 20px);
	}

	@include respond-to(xs) {
		min-height: 317px;
		max-height: 100%;
	}
}

.modal__title{
	font-family: $Panton;
	line-height: 56px;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0;

	@include respond-to(md) {
		font-size: 52px;
		line-height: 49px;
	}

	@include respond-to(xs) {
		line-height: 30px;
		font-size: 32px;
	}
}

.modal_cloud {
	position: absolute;
	z-index: 10;

	opacity: 0;
	transform: scale(0.85) rotate(-21deg);
	transition: $delay;

	&-big {
		width: 210px;
		height: 150px;
		top: 47px;
		left: -105px;
		background: url(../img/clouds/cloud_modal_1.svg) no-repeat center/contain;
		transition-delay: 200ms;

		@include respond-to(xs) {
			width: 106px;
			left: -17%;
			top: 17%;
		}
	}

	&-small {
		width: 102px;
		height: 71px;
		bottom: -91px;
		left: 151px;
		background: url(../img/clouds/cloud_modal_1.svg) no-repeat center/contain;
		transition-delay: 350ms;

	}
	&-small-tab{
		visibility: hidden;
		bottom: 27px;
		left: -12px;
		width: 86px;
		height: 71px;
		transition-delay: 550ms;

		@include respond-to(md) {
			visibility: visible;
			bottom: 15%;
			left: -2%;
		}
	}
	&-small--two {
		width: 107px;
		height: 71px;
		bottom: 65px;
		left: unset;
		right: -55px;
		transition-delay: 750ms;

		@include respond-to(md) {
			bottom: 46%;
		}
		@include respond-to(xs) {
			bottom: 23%;
		}
	}

	&-small-tab-two{
		visibility: hidden;
		left: unset;
		right: 8%;
		bottom: 20%;
		width: 69px;
		transition-delay: 150ms;

		@include respond-to(md) {
			visibility: visible;
		}
		@include respond-to(xs) {
			bottom: 23%;
			left: -5%;
		}
	}
}

.modal--wrap.active{
	visibility: visible;
	transition-delay: 550ms;

	& .modal_cloud{
		opacity: 1;
		transform: scale(1) rotate(0);
		transition-timing-function: linear;
	}

	& .modal_cloud-mirror.modal_cloud-small:not(.modal_cloud-small--two){
		transform: scale(-1, 1) rotate(0);
	}
}

.modal__conteiner{
	max-width: 819px;
	width: 100%;
	margin: 0 auto;
}

/*===================*/
// modal__skimp
/*===================*/

.modal__skimp{
	padding-top: 46px;

	@include respond-to(xs) {
		padding-top: 16px;
	}

	&-wr {
		background: url(../img/clouds/modal_cloud.svg) no-repeat center 90%;
		background-color: #ffffff;

		@include respond-to(md) {
			background: #ffffff;
			top: 36.5%;
		}
		@include respond-to(xs) {
			max-height: 317px;
			height: 100%;
			min-height: auto;
			top: 51%;
		}
		@media screen and (max-height: 480px) {
			top: 90%;
		}
	}

	&__cat .svg{
		position: absolute;
		bottom: -139px;
		right: 0;
		left: 0;
		margin: 0 auto;
		overflow: visible;
		z-index:0;
		pointer-events: none;

		transform-origin: 100% 71%;
		transform: rotate3d(1, 0, 0, 90deg);
		transition-delay: 300ms;
		transition: all 0.42s ease;

		@include respond-to(xs) {
			max-width: 245px;
			max-height: 335px;
			bottom: -99px;
		}

		& .cat-tail{
			transform-origin: 93% 50%;
			transform: rotate3d(0, 0, 1, 0deg);
		}
	}

	&__title{
		max-width: 50%;
		margin: 0 auto;
		margin-bottom: 58px;

		@include respond-to(xs) {
			max-width: 100%;
			text-align: center;
			margin-bottom: 30px;
		}
	}

	& .wr_btn{
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 9;
	}

	&__red-btn{
		padding-bottom: 2px;

		@include respond-to(xs) {
			width: 142px;
			min-width: 142px;
			height: 40px;
		}
	}
}

.modal--wrap.active {

	& .modal__skimp__cat .svg{
		transform: rotate3d(1, 0, 0, 0deg);
	}

	& .modal__skimp__cat .svg .cat-tail{
		animation: moveTail 2s infinite;
		animation-delay: 200ms;
		transition-timing-function: ease-out;
	}
}

@keyframes moveTail {
	0% {transform: rotate3d(0, 0, 1, 0deg);}
	50% {transform: rotate3d(0, 0, 1, -7deg);}
	100% {transform: rotate3d(0, 0, 1, 0deg);}
}

.sociale {
	&-ul{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-li{
		width: 31px;
		height: 31px;
		margin: 0 10px;
		transition: $delay;
	}

	& .path{
		transition: $delay;
	}

	&-li:hover{

		& .path_bg-vk{
			fill: #ffffff;
		}
		& .path_fill-vk{
			fill: #4D76A1;
		}

		& .path_bg-in{
			fill: #ffffff;
		}
		& .path_fill-in{
			fill: #DC44BA;
		}

		& .path_bg-gl{
			fill: #ffffff;
		}
		& .path_fill-gl{
			fill: #F34A38;
		}

		& .path_bg-fb{
			fill: #ffffff;
		}
		& .path_fill-fb{
			fill: #3B5998;
		}
	}

	&-a{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.cloud-hidde{
	@include respond-to(xs) {
		display: none;
	}
}

/*===================*/
// modal_kod
// modal_logined
// modal__pass
// modal__kod
/*===================*/

.modal__form{
	width: 615px;
	min-height: 500px;

	@include respond-to(md) {
		top: 35%;
		max-width: 615px;
	}
	@include respond-to(xs) {
		top: 36%;
		min-height: 385px;
		max-height: 100%;
	}

	& .form__wrapp{
		max-width: 355px;
		width: 100%;
		margin: 0 auto;
	}

	& .input-group__poss-hint{
		font-family: $Roboto;
		font-weight: 500;
		font-style: normal;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: -0.16px;
		color: $gray;
		border-bottom: 1px solid $gray;
		transition: all 0.25s ease;

		height: 19px;
		position: absolute;
		top: 8px;
		bottom: 0;
		right: -77px;

		@include respond-to(md) {
			top: -2px;
			right: -79px;
		}
		@include respond-to(xs) {
			position: relative;
			top: 20px;
			right: 0;
			margin-left: 37%;
		}

		&:hover{
			color: $black;
			border-color: $black;
		}
	}

	&--title{
		font-size: 54px;
		line-height: 54px;
		margin-top: 42px;
		margin-bottom: 50px;

		@include respond-to(xs) {
			margin-top: 15px;
		}
	}

	& .form_btn{
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 9;
		margin-top: 10px;
		margin-bottom: 55px;

		@include respond-to(xs) {
			margin-bottom: 19px;
		}
	}

	& .form__logined_red-btn{
		@include respond-to(xs) {
			width: 142px;
			min-width: 142px;
			height: 40px;
		}
	}

	& .code_sent{
		font-family: $Roboto;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.06px;
		font-size: 12px;
		line-height: 14px;
		color: #C4C4C4;
		display: inline-block;
		margin-top: 5px;
	}

	& .modal_cloud-big{
		width: 160px;
		height: 120px;
		top: 20px;
		left: -86px;
	}

	& .modal_cloud-small:not(.modal_cloud-small--two){
		width: 94px;
		height: 56px;
		bottom: 139px;
		left: -24px;
	}

	& .modal_cloud-small--two{
		width: 102px;
		height: 55px;
		bottom: 126px;
		left: unset;
		right: -35px;
	}

	& .form_btn{
		margin-top: 44px;
	}

	& .input-group{
		@include respond-to(xs) {
			margin-bottom: 36px;
		}
	}
}

.modal__pass{

	&_wr{
		@include respond-to(xs) {
			top: 34%;
			padding-left: 22px;
			padding-right: 22px;
			min-height: 368px;
		}
	}
	&_title{
		@include respond-to(xs) {
			margin-top: 29px;
			margin-bottom: 46px;
		}
	}

	& .input-group{
		@include respond-to(xs) {
			margin-bottom: 5px;
		}
	}

	& .form_btn{
		@include respond-to(xs) {
			margin-top: 10px;
			margin-bottom: 25px;
		}
	}

}

.modal__kod{

	&_wr{
		@include respond-to(xs) {
			top: 34%;
			padding-left: 22px;
			padding-right: 22px;
			min-height: 368px;
		}
		@include respond-to(xs) {
			& .input-group {
				margin-bottom: 5px;
			}
		}
	}

	&_title{
		@include respond-to(xs) {
			padding-top: 10px;
			margin-bottom: 50px;
		}
	}

	& .form_btn{
		@include respond-to(xs) {
			margin-top: 26px;
			margin-bottom: 26px;
		}
	}
}

/*===================*/
// modal_friends
// modal_pay
/*===================*/

.js-modal_friends.active{

	& .modal_progress-bar .bar-line{
		max-width: 587px;
	}
}

.modal_friends{

	&__wr{
		padding: 0 84px;
		padding-top: 82px;
		padding-bottom: 60px;

		overflow: hidden;
		min-height: 739px;
		max-width: 819px;

		@include respond-to(md) {
			padding: 0px 50px;
			padding-top: 68px;
			top: 47%;
		}

		@include respond-to(xs) {
			top: 50%;
			min-height: auto;
			height: 98vh;
			padding: 0 13px;
			padding-top: 57px;
			padding-bottom: 40px;
			overflow-y: auto;
		}
	}

	&__wr-pd{
		@include respond-to(md) {
			padding-top: 40px;
			min-height: 698px;
		}
	}

	&__wr &_text{
		font-family: $Panton;
		line-height: 22px;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		text-align: center;
		color: $black-custom;
		padding: 0 25px;
		margin-bottom: 40px;

		@include respond-to(md) {
			line-height: 22px;
			font-size: 20px;
			letter-spacing: -0.16px;
			margin-bottom: 48px;
		}

		@include respond-to(xs) {
			padding: 0;
			margin-bottom: 25px;
		}

		&:last-child{
			margin-bottom: 0;
		}

		& span:not(.link){
			display: block;

			@include respond-to(md) {
				display: inline;
			}
		}
	}

	& .link{
		display: inline-block;
		color: $second-red;
		border-bottom: 1px solid $second-red;
		line-height: 18px;
		transition: all $delay;

		&:hover {
			border-bottom: none;
		}
	}

	&__count{
		font-family: $Panton;
		line-height: 26px;
		font-size: 26px;
		font-weight: 900;
		font-style: normal;
		text-align: center;
		color: $black-custom;

		& .num-1{
			font-size: 49px;
			font-weight: 700;
			color: $light-gray;
		}
		& .num-2{
			font-size: 29px;
			font-weight: 700;
		}
	}

	&__items{
		padding-top: 27px;
		padding-right: 43px;
		padding-left: 60px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 28px;

		@include respond-to(md) {
			padding-right: 0;
			padding-left: 36px;
		}

		@include respond-to(xs) {
			flex-direction: column;
		}
	}

	&__friends-list{
		margin-top: 0;
		padding: 0;

		@include respond-to(xs) {
			margin-bottom: 27px;
		}
	}

	& .friends-list--last{
		border: 2px solid #FF1400;
		border-radius: 50%;
		box-sizing: border-box;
	}

	& .price-container{
		background: #ffffff;
		box-shadow: none;
		padding: 0;
		margin-top: 0;
	}

	& .friends-list__item{
		@include respond-to(xs) {
			width: 35px;
			height: 35px;
		}
	}

	&_product{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background: #ffffff;
		padding: 0 25px;
		align-items: flex-start;

		width: 100%;
		max-width: 454px;
		margin: 0 auto;
		margin-bottom: 30px;

		@include respond-to(xs) {
			padding: 0 5px;
			margin-bottom: 65px;
		}
	}

	& .col-flex{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 40px;

		@include respond-to(xs) {
			padding: 0;
			padding-left: 10px;
		}
	}

	&_image{
		width: 63px;
		height: 70px;
		flex: 0 0 70px;
	}

	& .price-container{
		align-items: center;
		justify-content: space-between;
		height: 50px;
		width: 100%;

		@include respond-to(xs) {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}
	}

	& .price-container__discount{
		width: 50px;
		height: 50px;

		position: relative;
		top: auto;
		right: -15px;
		margin-left: 0;

		@include respond-to(xs) {
			position: absolute;
			top: 55px;
			right: 20px;
		}

		& span{
			line-height: 13px;
			font-size: 14px;
			text-align: center;
			letter-spacing: 0.05em;
		}
	}


	& .price-container__label{
		color: #D9D9D9;
		margin-bottom: 0;
	}

	& .price-container__old{
		margin-left: 0;

		@include respond-to(xs) {
			display: block;
			margin-left: 6px;
		}

		& p {
			@include respond-to(xs) {
				font-size: 22px;
			}
		}
	}

	& .price-container__current p{
		@include respond-to(xs) {
			margin-bottom: 20px;
		}
	}

	& .product_title{
		margin-bottom: 15px;
	}

	& .product_title,
	& .product_title h3{
		font-family: $Panton;
		line-height: 15px;
		font-size: 16px;
		font-weight: 700;
		color: $black-custom;
		letter-spacing: 0.16px;
	}

	&--btn{
		max-width: 460px;
		width: 100%;
		height: 85px;
		margin: 0 auto;

		font-family: $Roboto;
		font-style: normal;
		font-weight: bold;
		line-height: 26px;
		font-size: 32px;
		text-align: center;
		letter-spacing: 0.05em;

		&_join {
			@include respond-to(xs) {
				font-size: 32px;
				line-height: 26px;
				height: 88px;
			}
		}
	}

	& .red-btn:disabled{
		color: #ffffff;
	}
}

.modal_pay{

	&__wr{
		padding-top: 42px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 15px;

		overflow: hidden;
		min-height: 734px;
	}

	& .modal_friends_text{
		margin-bottom: 38px;
		padding: 0 83px;

		@include respond-to(md) {
			padding: 0 42px;
			margin-bottom: 30px;
		}
	}

	& .modal_friends__items{
		padding: 0;
		padding-left: 39px;
		padding-right: 24px;
		margin-bottom: 50px;

		@include respond-to(md) {
			padding-left: 8px;
			padding-right: 8px;
		}
		@include respond-to(xs) {
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
		}
	}

	&--btn{
		width: 238px;
		height: 44px;
		letter-spacing: 0.22px;

		@include respond-to(xs) {
			width: 219px;
			height: 38px;
			font-size: 16px;
			letter-spacing: 2px;
		}
	}

	& .modal_progress-bar{
		transform: none;
		margin-bottom: 50px;

		@include respond-to(xs) {
			margin-bottom: 46px;
		}
	}

	& .modal_friends--btn{
		margin-bottom: 52px;

		@include respond-to(md) {
			margin-bottom: 48px;
		}

		@include respond-to(xs) {
			line-height: 26px;
			font-size: 32px;
			text-align: center;
			letter-spacing: 0.05em;

			width: 271px;
			height: 85px;
			margin-bottom: 43px;
		}
	}
}

.js-modal_pay.active{

	& .modal_progress-bar .bar-line{
		max-width: 100%;
	}
}

.modal_activity{

	&__wr{
		padding-top: 75px;
		padding-right: 53px;
		padding-left: 53px;

		overflow: hidden;
		min-height: 697px;
		width: 819px;

		@include respond-to(md) {
			padding-right: 35px;
			padding-left: 35px;
			top: 47%;
		}
	}

	&_title{
		font-family: $Panton;
		line-height: 49px;
		font-size: 52px;
		font-weight: 700;
		text-align: center;
		letter-spacing: 0;
		margin-bottom: 15px;

		@include respond-to(xs) {
			font-size: 32px;
			line-height: 34px;
		}
	}

	& .modal_friends_text{
		max-width: 680px;
		margin: 0 auto 45px;
		padding: 0 80px;

		@include respond-to(md) {
			padding: 0 60px;
		}
	}

	&_btn{
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respond-to(xs) {
			flex-direction: column;
		}
	}

	&-btn{
		width: 228px;
		height: 44px;

		@include respond-to(md) {
			width: 100%;
			max-width: 207px;
		}

		@include respond-to(xs) {
			margin-bottom: 5px;
		}
	}

	&_timer{
		font-family: $Panton;
		line-height: 22px;
		font-size: 20px;
		font-weight: 500;
		color: $black-custom;
		margin-bottom: 50px;

		display: flex;
		justify-content: center;

		@include respond-to(xs) {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		& .col{
			max-width: 123px;

			@include respond-to(md) {
				margin-right: 12px;
			}

			@include respond-to(xs) {
				margin-right: 0;
			}

			&-1,
			&-2 {
				font-weight: 700;

				@include respond-to(xs) {
					margin: 0;
					max-width: 63%;
				}
			}

			&-1 {
				@include respond-to(xs) {
					margin-bottom: 10px;
				}
			}
		}
	}

	& .col-offset{
		margin: 0 15px;

		@include respond-to(xs) {
			margin: 0;
		}
	}

	&-time{
		line-height: 45px;
		font-size: 48px;
		font-weight: 700;

		&:first-child {
			@include respond-to(xs) {
				margin-left: 50px;
			}
		}
	}

	& .modal_friends__items{
		margin-bottom: 53px;

		@include respond-to(xs) {
			padding-left: 0;
		}
	}
}

.js-modal_activity.active{

	& .modal_progress-bar .bar-line{
		max-width: 100%;
	}
}

.modal_progress-bar{
	position: relative;
	z-index: 1;
	width: 644px;
	height: 18px;
	background: url(../img/modal/rubs.svg) repeat 0 0;
	border: 1px solid #F2F2F2;
	margin: 0 auto;
	margin-bottom: 42px;
	//transform: translateX(-25px);

	@include respond-to(xs) {
		width: 100%;
	}

	&-show-xs{
		display: none;

		@include respond-to(xs) {
			display: block;
		}
	}

	&-hidden-xs{

		@include respond-to(xs) {
			display: none;
		}
	}

	& .bar-line__move{

		@include respond-to(xs) {
			width: calc(100% - 70px);

			& .circle{
				color: #F5EC0A;
				border-color: #F5EC0A;
			}

			& .bar-counter span{
				height: 20px;
				background: url(../img/modal/bar-yellow.svg) no-repeat 0 0;
			}
		}
	}

	& .bar-line .inline{
		top: 1px;
	}
}

.bar-line{
	background: linear-gradient(270deg, #FF0000 -3.83%, #FFEC06 65.01%, #1EDA75 100%);

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 18px;
	width: 100%;
	line-height: 18px;
	max-width: 0;
	z-index: 0;
	transition: max-width 700ms ease;
	transition-delay: 200ms;
	cursor: default;

	animation: waves linear infinite;
	max-width: 100% !important;
	width: 100%;

	& .bar-counter{
		width: 40px;
		height: 18px;
		position: absolute;
		top: -1px;
		left: -22px;

		font-family: $Roboto;
		font-style: normal;
		font-size: 11px;
		font-weight: 700;
		letter-spacing: 0.05em;
	}

	& .seconds{
		display: none;
		position: absolute;
		top: 2px;
		bottom: 0;
		margin: auto 0;
		right: -75px;
		z-index: 2;
		width: 69px;
		height: 18px;
		line-height: 1;
		background: url(../img/modal/bar-green.svg) no-repeat 0 0;

		color: #ffffff;
	}

	& .inline{
		display: flex;
		color: #ffffff;
		line-height: 1;

		text-align: center;
		justify-content: center;
		align-items: center;

		position: absolute;
		z-index: 3;
		top: 2px;
		bottom: 0;
		left: 30px;
		margin: auto 0;
		overflow: visible;
	}

	& .inline__seconds{
		display: block;
		position: relative;
		z-index: 1;
		top: 0;
		left: 0;
		right: auto;
		background: transparent;
		margin: 0 auto;
		width: auto;
		padding-left: 0;
		line-height: 19px;
	}

	& .circle{
		display: none;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		background: #ffffff;
		border: 2px solid #8BE33F;
		border-radius: 50%;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
		position: absolute;
		z-index: 3;
		top: 0;
		bottom: 0;
		left: 18px;
		margin: auto 0;
		overflow: visible;

		font-family: $Roboto;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 11px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #8BE33F;

		&__show{
			display: flex;
		}
	}

	& .circle__seconds{
		line-height: 18px;
		padding-left: 15px;
		right: -86px;
	}
}

.bar-line:hover{

	& .circle{
		display: flex;
	}

	& .circle__seconds{
		display: block;
	}

	& .inline{
		display: none;
	}
}

@keyframes waves {
	0% { width: 100%;}
	100% {width: 0;}
}

/*===================*/
// modal_cardPay
/*===================*/

.modal_cardPay{

	&__wr{
		padding-top: 75px;
		padding-right: 85px;
		padding-left: 85px;

		height: 98vh;
		max-height: 1120px;

		@media screen and (max-width: 1900px){
			overflow-y: auto;
		}

		@include respond-to(lg) {
			top: 50%;
			max-height: 80vh;
		}
		@include respond-to(md) {
			overflow-y: hidden;
			max-height: 1120px;
			top: 62%;
			padding-right: 36px;
			padding-left: 36px;
		}
		@include respond-to(sm) {
			max-height: 100%;
			min-height: 1120px;
		}
		@include respond-to(xs) {
			max-height: 100%;
			min-height: 1120px;
			top: 90.5%;
			padding: 62px 10px;
		}

		@include respond-to(ss) {
			top: 119.2%;
		}
		@media screen and(max-height: 420px){
			top: 152%;
			min-height: 1120px;
		}

		@media screen and(max-height: 360px){
			top: 85%;
		}
	}

	&__title{
		font-family: $Panton;
		line-height: 49px;
		font-size: 52px;
		font-weight: 700;
		text-align: center;
		color: $black-custom;
		margin-bottom: 20px;

		@include respond-to(xs) {
			line-height: 30px;
			font-size: 32px;
			text-align: center;
			margin-bottom: 15px;
		}
	}

	&__text{
		font-family: $Panton;
		line-height: 22px;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		letter-spacing: 0px;
		color: $black-custom;
		margin-bottom: 5px;

		@include respond-to(xs) {
			margin-bottom: 20px;
		}
	}

	&__order{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 40px;

		@include respond-to(xs) {
			flex-direction: column;
		}

		& .order-forms__subtitle_total{
			font-size: 26px;
			line-height: 28px;

			@include respond-to(md) {
				font-size: 26px;
				line-height: 28px;
				margin-top: 0;
			}
			@include respond-to(xs) {
				font-size: 24px;
				line-height: 23px;
				margin-bottom: 25px;
			}
		}

		& .col{
			width: 50%;

			@include respond-to(xs) {
				width: 100%;
			}
		}

		.order-total__container{
			padding-left: 0;
		}

		.order-product__container{
			padding: 16px 0;
			padding-left: 0;
			border-bottom: 3px solid #f9f9f2;

			& .personal-data__balanse{
				font-size: 48px;
				line-height: 45px;
				color: #E0E0E0;

				display: flex;
				justify-content: space-between;

				& .order__total-sum{
					color: $black-custom;

					position: relative;
					font-family: $Panton;
					font-size: 47px;
					font-weight: 700;
					line-height: 36px;
					border: 0;
					display: inline-block;
					max-width: 100%;
					height: 45px;
					padding-right: 32px;

					& + span{
						position: relative;
						right: 32px;
					}
				}
			}
		}

		& .line {
			width: 100%;
			height: 3px;
			margin-bottom: 20px;
			background-color: #f9f9f2;
		}

		& .personal-data__balanse {
			font-size: 48px;
			line-height: 45px;
		}

		.my-cards__new-card{
			font-size: 14px;

			@include respond-to(md) {
				font-size: 16px;
				line-height: 19px;
			}
		}
	}

	&__cards {
		position: relative;
		width: 100%;
		min-height: 330px;
		margin-top: 38px;
		margin-bottom: 38px;

		@include respond-to(xs) {
			min-height: 220px;
			margin-top: 0;
			margin-bottom: 45px;
		}
		@media screen and(max-height: 420px) {
			min-height: 295px;
		}
	}

	& .cardFace{
		width: 464px;
		height: 295px;
		padding: 34px;
		padding-bottom: 54px;
		background-image: url("../img/modal/creditcard-pay.svg");
		background-repeat: no-repeat;
		background-position: calc(100% - 30px) 30px;
		background-size: 188px 35px;

		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		background-color: #E0E0E0;
		box-shadow: 0px 44px 60px rgba(0, 0, 0, 0.1);
		border-radius: 25px;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media screen and(max-width: 740px){
			width: 100%;
			height: 300px;
			margin: 0 auto;
			background-position: calc(100% - 20px) 30px;
			padding: 15px;
			padding-bottom: 35px;
		}
		@include respond-to(xs) {
			height: 220px;
		}

		& .input-group:first-child{
			margin-bottom: 44px;

			@include respond-to(xs) {
				margin-bottom: 35px;
			}
		}

		& .col-wrap{
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			& .input-group{
				flex: 0 0 122px;
				width: 122px;
				margin: 0;
				margin-right: 46px;

				&:first-child{
					margin-bottom: 0;
				}

				&:last-child{
					margin-right: 0;
				}

				@include respond-to(xs) {
					flex: 0 0 67px;
					width: 67px;
					margin-right: 17px;
				}
			}
		}
	}

	& .cardBack{
		width: 464px;
		height: 295px;
		padding: 34px;
		padding-bottom: 89px;

		background: #E0E0E0;
		border-radius: 25px;
		position: absolute;
		z-index: 0;
		top: 10%;
		left: 27.5%;

		@include respond-to(xs) {
			display: none;
		}
		@media screen and(max-height: 420px) {
			display: none;
		}

		&:before{
			content: '';
			width: 100%;
			height: 75px;
			background-color: #4F4F4F;

			position: absolute;
			top: 52px;
			right: 0;
		}

		& .col-wrap {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			width: 100%;
			height: 100%;

			& .input-group{
				flex: 0 0 auto;
				width: 122px;
				margin: 0;
			}
		}
	}

	&_btn{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	&_btn-size{
		max-width: 460px;
		width: 100%;
		height: 65px;

		@include respond-to(md) {
			height: 85px;
			font-size: 32px;
		}

		@include respond-to(xs) {
			height: 85px;
			line-height: 26px;
			font-size: 32px;
			text-align: center;
			letter-spacing: 0.05em;
		}
	}

	&_exit {
		display: flex;
		justify-content: center;
	}
	&_exit a{
		font-family: $Roboto;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 16px;
		text-align: center;
		border-bottom: 1px solid $black-custom;
		text-decoration-line: none;
		color: #333333;
	}
}

.modal_newcardPay{

	&__wr{
		height: auto;
		padding: 92px;
		padding-top: 78px;
		padding-bottom: 85px;

		@include respond-to(md) {
			padding: 38px;
			padding-top: 78px;
			padding-bottom: 85px;
			top: 45%;
		}

		@include respond-to(xs) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&_btn{
		display: flex;
		justify-content: center;
	}

	&_btn-size{
		min-width: 182px;
		height: 40px;

		@include respond-to(xs) {
			font-size: 16px;
			height: 40px;
		}
	}

	&__cards{
		margin-bottom: 85px;
		@include respond-to(md) {
			margin-bottom: 90px;
		}
	}
}

.input-group__item-cardPay{
		background: rgba(0,0,0,0);
}

.modal--wrap .modal_friends {

	.form_btn-invite {
		width: 100%;
		max-width: 207px;
	}

	.red-btn_invite {
		@extend .form_btn-invite;
		height: 44px;
	}
}

.input-group_hidde-xs{
		display: none;

	@include respond-to(xs) {
		display: block;
	}
}

.modal--wrap .friends-list_join .friends-list__item {
	border: none;
}
