.my-friends {

  @include respond-to(xxl) {
    padding: 0 50px;
  }

  @include respond-to(xs) {
    padding: 0 15px;
  }

  &__container {
    margin: 0 auto;
    max-width: 1500px;
  }

  &__filter {
    margin: 90px 0;

    @include respond-to(md) {
      margin-top: 45px;
    }

    @include respond-to(xs) {
      display: none;
    }

    &_wrapper {
      display: flex;

      @include respond-to(md) {
        flex-direction: column;
      }
    }

    &_title {
      font-family: $Panton;
      font-weight: 700;
      font-size: 28px;
      line-height: 26px;
      color: $black-custom;

      @include respond-to(xs) {
        font-size: 32px;
        line-height: 30px;
      }
    }

    &_items {
      position: relative;
      flex: 1;
      padding-bottom: 15px;
      border-bottom: 3px solid #f9f9f9;

      @include respond-to(xs) {
        border-bottom: none;
      }
    }

    &-btn {
      display: none;

      @include respond-to(xs) {
        display: flex;
        margin-top: 26px;
        margin-bottom: 26px;
        padding-left: 10px;
        font-size: 16px;
        width: 100%;
        height: 40px;
        background-image: url('../img/icons/my-friends_btn.svg');
        background-repeat: no-repeat;
        background-position: 10% 50%;
      }
    }

    &-mobile {
      padding: 27px 0;

      &-wrapper {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: #fff;
        overflow-y: scroll;

        &.show {
          display: block;
          animation: fromLeft 1s ease-in-out both;
        }

        &.closed {
          display: block;
          animation: fromRight 1s ease-in-out both;
        }
      }
    }
  }

  &__title-wrapper {
    padding-right: 20px;
    width: 320px;

    @include respond-to(md) {
      margin-bottom: 30px;
      width: 100%;
    }

    @include respond-to(xs) {
      margin-bottom: 25px;
      padding-left: 23px;
    }

    .modal-close {
      top: 20px;
      right: 20px;
    }
  }

  .cart-item-info-size {
    flex-wrap: wrap;
    margin-right: 0;
    padding-right: 0;
    border-right: none;

    @include respond-to(xs) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 70px;
    }

    a {
      padding: 5px 10px;
      margin-right: 20px;
      margin-bottom: 10px;
      width: auto;
      border: 2px solid #f9f9f9;
      background-color: transparent;

      @include respond-to(md) {
        font-size: 16px;
        line-height: 18px;
      }

      @include respond-to(xs) {
        margin-right: 0;
        margin-bottom: 26px;
        padding: 1px 7px;
        font-size: 16px;
        text-align: left;
      }

      &.active {
        background-color: $second-red;
      }

      &:hover {
        background-color: $second-red;
      }
    }
  }

  &__btn {
    position: absolute;
    bottom: -60px;
    left: 0;
    padding: 5px 20px;
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: auto;
    height: auto;

    @include respond-to(xs) {
      position: relative;
      bottom: 0;
      display: inline-block;
      margin-top: 20px;
      margin-left: 23px;
      padding: 3px 10px;
      font-size: 16px;
      line-height: 18px;
      height: 25px;
    }
  }

  // Friend

  &__people {

    @include respond-to(xs) {
      padding: 0 20px;
    }

    &_wrapper {
      display: flex;
      flex-wrap: wrap;

      @include respond-to(xs) {
        justify-content: space-between;
      }
    }
  }

  .friend {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 15px;
    width: 110px;
    cursor: pointer;

    @include respond-to(xs) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__img {
      display: inline-block;
      margin-bottom: 20px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      transition: all $delay;

      img {
        @extend .friend__img;
      }
    }

    &__name {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: $black-custom;

      a {
        text-decoration-skip-ink: none;
        color: $black-custom;
      }
    }

    &__activity {
      font-family: "Roboto";
      font-weight: 500;
      line-height: 22px;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      width: 121px;
      margin-top: 10px;
      padding: 3px 5px;
      border-radius: 5px;
      color: #fff;
      background-color: #00D878;
      cursor: default;
    }

    &__state {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: #BDBDBD;

      &--active {
        background-color: #00D878;
      }
    }

    &:hover {
      & > .friend__img {
        box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.1);

        &.friend__add {
          box-shadow: 5px 5px rgba(0, 0, 0, 0.03);

          .friend__add-item {
            transform: scale(1.1);
          }
        }
      }

      & > .friend__name {
        text-decoration: underline;
      }
    }

    &:active {
      & > .friend__img {
        box-shadow: 0 0 0px 0px rgba(0,0,0,0.2);

        &.friend__add {
          box-shadow: 3px 3px rgba(0, 0, 0, 0.03);

          .friend__add-item {
            transform: scale(1);
          }
        }
      }

      & > .friend__name {
        text-decoration: none;
      }
    }

    &__add {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f2f2f2;
      cursor: pointer;
      box-shadow: 3px 3px rgba(0, 0, 0, 0.03);

      &-item {
        width: 33px;
        height: 33px;
        transition: all $delay;
      }
    }
  }

  &__ads {
    margin-left: 368px;
    margin-right: 232px;
    margin-bottom: 66px;
    max-width: 1320px;
    min-height: 110px;
    background-color: $light-gray;

    @include respond-to(xxl) {
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to(xs) {
      margin-top: 30px;
    }
  }

  .subscription,
  .subscription p {
    padding-top: 0;
  }

  .subscription {
    margin-bottom: 111px;

    @include respond-to(xs) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__activity {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -65px;
      width: 45px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all $delay;
    }

    &.active::before {
      transform: translateY(-50%) scale(1.1);
    }

    @include bg-before('-teddy','teddy-bear');
    @include bg-before('-car','car');
    @include bg-before('-health','health');
    @include bg-before('-motorcycle','motorcycle');
    @include bg-before('-fishing','fishing-rod');
    @include bg-before('-ecommerce','ecommerce');
    @include bg-before('-dog','dog');
    @include bg-before('-web','web');
    @include bg-before('-car','car');
    @include bg-before('-woofer','woofer');
    @include bg-before('-tv','tv');
    @include bg-before('-fashion','fashion');
    @include bg-before('-shoe','shoe');
    @include bg-before('-hair-dryer','hair-dryer');
  }

  .catalog-filter__mob-btn {
    position: relative;
  }

  .filter-found {
    right: 5%;
  }

  .cart-item-info-size {
    @include respond-to(md) {
      border-bottom: none;
    }
  }
}

.friend-activity__discount{

  @include respond-to(xxl) {
    right: 0;
  }
}
