.order {
  display: flex;
  margin: 130px auto 81px auto;
  padding-left: 230px;
  padding-right: 65px;
  max-width: 1500px;

  @include respond-to(xxl) {
    padding-left: 84px;
    padding-right: 49px;
  }

  @include respond-to(md) {
    margin-top: 45px;
    padding-left: 50px;
    padding-right: 15px;
  }

  @media screen and (max-width: 720px) {
    flex-direction: column;
    padding: 0 10px;
  }

  @include respond-to(xs) {
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 0;
  }

  &-page {

    &__head {
      @media screen and (max-width: 720px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @media screen and (max-width: 575px) {
        padding-top: 0;
      }
    }
  }

  &__line {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -7px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #F9F9F2;

      @include respond-to(md) {
        display: none;
      }
    }

    &_coment {
      @include respond-to(xs) {
        margin-top: 10px;
      }

      &::after {
        display: none;
      }
    }
  }

  &-forms {
    flex: 1;

    @include respond-to(sm) {
      padding-right: 40px;
    }

    @media screen and (max-width: 720px) {
      padding-right: 0;
    }

    &__title {
      position: relative;
      font-family: $Panton;
      font-weight: 700;
      font-size: 48px;
      line-height: 45px;
      color: $black-custom;

      @include respond-to(sm) {
        font-size: 40px;
        line-height: 38px;
      }

      @media screen and (max-width: 720px) {
        padding-left: 25px;
        font-size: 30px;
        line-height: 28px;
      }

      &::before {
        content: attr(data-order-num);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -100px;
        font-family: $Panton;
        font-weight: 700;
        font-size: 48px;
        line-height: 45px;
        color: $light-gray;

        @include respond-to(lg) {
          left: -70px;
        }

        @media screen and (max-width: 720px) {
          left: -4px;
          font-size: 28px;
          line-height: 25px;
          color: $black-custom;
        }
      }
    }

    &__subtitle {
      margin-top: 40px;
      font-family: $Panton;
      font-weight: 700;
      font-size: 28px;
      line-height: 26px;
      color: $black-custom;

      @include respond-to(md) {
        font-size: 20px;
        line-height: 22px;
      }

      @include respond-to(sm) {
        margin-top: 47px;
      }

      @include respond-to(xs) {
        margin-top: 33px;
      }

      &_total {
        margin-top: 0;
        margin-bottom: 20px;

        @include respond-to(md) {
          font-size: 18px;
          line-height: 17px;
        }

        @include respond-to(sm) {
          padding-left: 0;
          font-size: 16px;
          line-height: 15px;
        }

        @include respond-to(xs) {
          margin-top: 20px;
          letter-spacing: 0;
        }
      }
    }

    &__item {
      margin-bottom: 130px;

      @include respond-to(sm) {
        margin-bottom: 62px;
      }

      @include respond-to(xs) {
        margin-bottom: 43px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-wrapper {
        display: flex;
        margin-top: 30px;

        @include respond-to(sm) {
          margin-top: 44px;
        }

        @media screen and (max-width: 720px) {
          margin-top: 32px;
        }
      }
    }

    &__group {
      display: inline;
      width: 55%;

      @media screen and (max-width: 1400px) {
        width: 100%;
      }
    }

    &__info {
      padding: 0 75px;
      width: 45%;

      @include respond-to(xxl) {
        padding-left: 30px;
        padding-right: 0;
      }

      @include respond-to(lg) {
        display: none;
      }


      &_text {
        padding-top: 20px;
        font-family: $Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $gray;
      }
    }

    &__pay-full {
      padding-left: 18px;
      font-family: $Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-decoration: underline;
      color: $gray;

      @include respond-to(sm) {
        display: inline-block;
        margin-top: 28px;
        padding-left: 0;
        font-size: 14px;
        line-height: 16px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &__payment {
      margin-bottom: 130px;

      @include respond-to(sm) {
        margin-bottom: 50px;
      }

      @media screen and (max-width: 720px) {
        margin-top: 30px;
      }

      @include respond-to(xs) {
        margin-bottom: 22px;
      }

      &-wrapper {
        align-items: center;

        @include respond-to(sm) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }

  // TOTAL
  &-total {
    margin-top: -55px;
    padding-left: 130px;
    width: 400px;

    @include respond-to(md) {
      padding-top: 23px;
      padding-left: 15px;
      width: 252px;
    }

    @include respond-to(sm) {
      padding-left: 0;
    }

    @media screen and (max-width: 720px) {
      margin-top: 50px;
      padding: 0;
      width: 100%;
    }

    @include respond-to(xs) {
      display: none;
    }

    &__mobile {
      display: none;

      @include respond-to(xs) {
        display: block;
        margin-top: 19px;
        padding: 0 10px;
      }

      &-descr {
        font-family: $Panton;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #4f4f4f;
      }

      &-price {
        @include respond-to(xs)  {
          padding-left: 0;
          font-size: 42px;
        }
      }
    }

    &__container {
      padding: 16px 0;
      padding-left: 30px;
      border-bottom: 3px solid #f9f9f2;

      @include respond-to(md) {
        padding-left: 20px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &__item {
      position: relative;
      margin-bottom: 30px;
      font-family: $Panton;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $black-custom;

      @include respond-to(sm) {
        margin-bottom: 30px;
        line-height: 20px;
      }

      @media screen and (max-width: 720px) {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__count {
      position: absolute;
      top: 0;
      left: -25px;
      color: $light-gray;
    }

    &__delivery {
      @extend .order-total__item;

      &_img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
        width: 22px;
        height: 16px;
        background-image: url('../img/icons/express.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    .red-btn {
      margin-top: 30px;
    }

    &__btn {
      display: none;

      @include respond-to(xs) {
        display: flex;
        margin: 0 10px 54px 10px;
        width: auto;
        height: 40px;
      }
    }
  }
}

.input-search {

  &__item {
    padding-right: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 15px;
    height: 15px;
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

// Delivery
.delivery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 55%;
  margin-top: 44px;

  @media screen and (max-width: 1400px) {
    width: 100%;
  }

  @include respond-to(xs) {
    margin-top: 22px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    margin-right: 10px;
    width: 209px;
    min-height: 70px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: all $delay;
    overflow: hidden;

    @include respond-to(xxl) {
      width: 200px;
    }

    @include respond-to(md) {
      width: 164px;
    }

    @include respond-to(sm) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include respond-to(xs) {
      width: 144px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -40%;
      left: 27%;
      background-color: $second-red;
      transform: skewX(20deg) translateX(100%);
      transition: all $delay;

      @include respond-to(xxl) {
        left: 25%;
      }

      @include respond-to(lg) {
        left: 30%;
      }

      @include respond-to(xs) {
        left: 34%;
      }
    }

    &:hover {
      border-color: $second-red;
      background-color: #fff;

      &::after {
        transform: skewX(20deg) translateX(0);
      }

      .delivery__text {
        color: #fff;
      }
    }

    &.is-active {
      border-color: $second-red;
      background-color: #fff;

      &::after {
        transform: skewX(20deg) translateX(0);
      }

      .delivery__text {
        color: #fff;
      }
    }
  }

  &__img {
    margin: 0 15px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

    @include respond-to(xxl) {
      margin: 0;
      width: 40px;
    }

    @include respond-to(lg) {
      margin-left: 10px;
    }

    &_courier {
      background-image: url('../img/icons/courier.svg');
    }

    &_pickup {
      background-image: url('../img/icons/pickup.svg');
    }

    &_express {
      background-image: url('../img/icons/express.svg');
    }

    &_dpd {
      background-image: url('../img/icons/dpd.svg');
    }

    &_ru-mail {
      background-image: url('../img/icons/ru-mail.svg');
    }

    &_credit-card {
      background-image: url('../img/icons/credit-card.svg');
    }

    &_sberbank {
      background-image: url('../img/icons/sberbank.svg');
    }

    &_apple-pay {
      background-image: url('../img/icons/apple-pay.svg');
    }

    &_cash {
      background-image: url('../img/icons/cash.svg');
    }

    &_cod {
      background-image: url('../img/icons/cod.svg');
    }

    &_ya {
      background-image: url('../img/icons/ya.svg');
    }

    &_terminal {
      background-image: url('../img/icons/terminal.svg');
    }

  }

  &__text {
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $gray;
    z-index: 2;
    transition: all $delay;

    @include respond-to(xxl) {
      padding-left: 15px;
    }

    @include respond-to(sm) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__input {
    display: none;
  }
}
// End Delivery

// Advertisement
.bottom-ads {
  margin-bottom: 96px;
  padding: 0 367px 0 233px;
  width: 100%;

  @include respond-to(lg) {
    padding: 0 50px;
  }

  @media screen and (max-width: 720px) {
    padding: 0 15px;
  }

  &__item {
    width: 100%;
    min-height: 110px;
    background-color: $light-gray;
  }
}
// End Advertisement
