
.personal-area {

	.products-list .product__invite {

		&-list {
			@include respond-to(md) {
				left: -150px;
				transform: scale(-1,1);
			}
		}

		&-row {
			@include respond-to(md) {
				padding-left: 20px;
				transform: scale(-1,1);
			}
		}
	}

	.next-not-found {
		left: auto;
	}

	.price-container {
		@include respond-to(xs) {
			margin-bottom: 22px;
		}
	}

	.product.view .price-container__current {
		@include respond-to(xs) {
			width: 100%;
		}
	}

	.products-list .product {
		@include respond-to(xs) {
			width: 100%;
		}
	}

	.order-total__container {
		@include respond-to(md) {
			border-bottom: none;
		}
	}

	.recommendation-slider-tablet .slider-tablet-items .next-not-found,
	.recommendation-slider-tablet .slider-tablet-items .prev-not-found {
		@include respond-to(md) {
			position: absolute;
			top: 0;
			transform: translateY(0);
			height: 100%;
		}
		@include respond-to(xs) {
			top: auto;
			bottom: 0;
			transform: translateY(0);
			height: 50px;
		}
	}

	.recommendation-slider-tablet .slider-tablet-items .prev-not-found {
		@include respond-to(md) {
			left: -48px;
		}
		@include respond-to(xs) {
			left: 0;
		}
	}
	.recommendation-slider-tablet .slider-tablet-items .next-not-found {
		@include respond-to(md) {
			right: -40px;
		}
		@include respond-to(xs) {
			right: 0;
		}
	}

	.recommendation-slider-tablet .slick-dots {
		@include respond-to(xs) {
			display: flex;
	    visibility: visible;
	    justify-content: center;
			bottom: 10px;
		}
	}

	.desires .product {
		@include respond-to(xs) {
			width: 100vw;
		}
	}

	.desires__items .next-not-found,
	.desires__items .prev-not-found {
		@include respond-to(xs) {
			position: absolute;
			bottom: 20px;
		}
	}

	.desires__items .prev-not-found {
		@include respond-to(xs) {
			transform: rotate(180deg);
		}
	}

	.desires__items .next-not-found {
		@include respond-to(xs) {
			right: 0;
		}
	}

	.desires__items .slick-dots {
		@include respond-to(xs) {
			display: flex;
			visibility: visible;
			justify-content: center;
		}
	}

	.desires__items {
		@include respond-to(xs) {
			height: 460px;
		}
	}
}
.personal-area-block {
	margin: auto;
  max-width: 1467px;
  margin-top: 88px;
  padding-bottom: 100px;
  display: flex;
	justify-content:space-between;

	@media only screen and (max-width: 1455px) {
		margin: auto;
		margin-top: 88px;
  	max-width: 1030px;
	}

	@media only screen and (max-width: 992px) {
		flex-direction:column-reverse;
		margin-top: 44px;
    }

		@include respond-to(xs) {
			padding-bottom: 20px;
		}
}
.personal-area-content {
	padding-left: 221px;
    max-width: 946px;
    width: 100%;
    box-sizing: content-box;

	@include respond-to(xxl) {
		max-width: 800px;
		padding-left: 0;
	}
}

.personal-area-content-links-top {
	display: flex;
	justify-content:space-between;

	@include respond-to(md) {
		position: relative;
		margin-top: 80px;

		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 3px;
			top: -50px;
			left: 0;
			background-color: #f2f2f2;
		}
	}

	@media only screen and (max-width: 740px) {
		flex-direction:column;
		align-items:center;
	}

	a {
		display: flex;
		flex-direction:column;
		text-align: center;
		width: 100%;
		height: 100%;
		justify-content: flex-end;
		padding-bottom: 17px;
		font-family: $Panton;
		line-height: 28px;
		font-size: 22px;
		letter-spacing: 0.06em;
		color: #333333;
		font-weight: bold;
		cursor: pointer;
		@media only screen and (max-width: 575px) {
			font-size: 18px;
			line-height: 23px;
		}
		img {
			margin-bottom: 12px;
		}
	}
}
.personal-area-content-links-top-a {
	background: #F2F2F2;
	background-repeat: no-repeat;
	background-position: 50% 15%;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	max-width: 300px;
	height: 180px;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	transition: all .25s;

	@media only screen and (max-width: 1455px) {
	  	max-width: 260px;
    }

    @media only screen and (max-width: 1024px) {
    	max-width: 222px;
    }

    @media only screen and (max-width: 740px) {
			margin-bottom: 40px;
			max-width: 300px;
    }

    @media only screen and (max-width: 575px) {
			margin-bottom: 22px;
			max-height: 138px;
			background-size: 30%;
    }

		&:hover {
			background: #d2d2d2;
			background-repeat: no-repeat;
			background-position: 50% 15%;

			@media only screen and (max-width: 575px) {
				background-size: 30%;
			}
		}

		&:active {
			background: #f2f2f2;
			background-repeat: no-repeat;
			background-position: 50% 15%;
		}

		&.private-data {
			background-image: url('../img/icons/personal/smart-cat.png');
		}
		&.current-orders {
			background-image: url('../img/icons/personal/newspaper.png');

			@media only screen and (max-width: 575px) {
				background-size: 25%;

				&:hover {
					background-size: 25%;
				}
			}
		}
		&.shop-cart {
			background-image: url('../img/icons/personal/shop-cat.png');

			@media only screen and (max-width: 575px) {
				background-size: 35%;

				&:hover {
					background-size: 35%;
				}
			}
		}

    img {
    	@media only screen and (max-width: 1455px) {
    		height: 76px;
    		width: auto;
    		margin-top: 12px;
    	}

    }
}

.personal-area-content-links-top-a:last-child {
	@media only screen and (max-width: 740px) {
		margin-bottom: 0px;
    }
}

.products-list_small.personal-area-product-list {
	max-width: none;
	margin-left: 0;
	margin-bottom: 68px;
	.product:nth-child(even) {
		margin-right: 0;
	}
}
.section-name.personal-area-h3 {
	margin-bottom: 61px;
	margin-top: 84px;
	text-align: left;
	@media only screen and (max-width: 768px) {
		margin-top: 50px;
		margin-bottom: 45px;
	}
}

.desires-block-pa.desires .product:last-child {
	margin-right: 0;
}
.desires-block-pa.desires .product {
	margin-right: 15px;
}

.desires-block-pa.desires h3 {
	@media only screen and (max-width: 575px) {
		margin-top: 48px;
	}
}

.personal-area-block .order-total {
    margin-top: -16px;
    padding-left: 0;
    width: auto;
    @media only screen and (max-width: 1455px) {
    	width: max-content;
    }
}
.personal-area-h3 h3 {
	font-size: 47px;

	@media only screen and (max-width: 575px) {
	    font-size: 30px;
	    margin-bottom: 20px;
	    line-height: 28px;
	    margin-top: 0;
	}
}
.personal-area-sidebar .order-total {

	@media only screen and (max-width: 992px) {
		display: flex;
		justify-content:space-between;
		width: 100%;
		max-width: 600px;
		border-bottom: none;
	}

	@media only screen and (max-width: 768px) {
		max-width:none;
		padding-bottom: 0px;
		border-bottom: 3px solid #f9f9f2;
		margin-bottom: 0;
		border-bottom: none;
	}

	@media only screen and (max-width: 600px) {
		flex-direction:column-reverse;
		align-items:center;
	}

}
.personal-area-sidebar div {
	@media only screen and (max-width: 768px) {
		border-bottom: none;
		padding-bottom: 38px;
	}
}

.personal-area-sidebar .order-total .order-total__container {
	@media only screen and (max-width: 992px) {
		padding-left: 0;
	}
	@media only screen and (max-width: 600px) {
		text-align: center;
	}
}

.personal-area-sidebar .order-total .order-total__container:first-child {
	@media only screen and (max-width: 600px) {
		display: none;
	}
}

.personal-area-sidebar .order-total .order-forms__subtitle_total {
	@media only screen and (max-width: 992px) {
		margin-bottom: 6px;
	}
	@media only screen and (max-width: 768px) {
		margin-top: 0;
		margin-bottom: 5px;
	}
	@media only screen and (max-width: 575px) {
		font-size: 14px;
		font-weight: 900;
		margin-bottom: 0;
	}
}

.personal-area-sidebar .order-total .order-forms__title.personal-data__balanse {
	@media only screen and (max-width: 768px) {
		padding-left: 0;
	}
	@media only screen and (max-width: 575px) {
		font-size: 20px;
		font-weight: 900;
		margin-bottom: 12px;
	}
}

.personal-data__person {
	@media only screen and (max-width: 768px) {
		width: auto;
		max-width: 200px;
	}
}

.catalog-content__flex-personal-area.tablet-none{
	@media only screen and (max-width: 768px) {
		display: none;
	}
}
.recommendation-slider-tablet h2 {
	font-family: $Panton;
    line-height: 49px;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 52px;
    @media only screen and (max-width: 575px) {
		font-size: 30px;
    	margin-bottom: 20px;
    	line-height: 28px;
    }
}


.products-list .product {
	 @media only screen and (max-width: 575px) {
	 	padding:0;
	 }
}


.my-cards__new-card.add-pa {
	display: flex;
	@media only screen and (max-width: 575px) {
		background: #FF1400;
		border-radius: 5px;
		padding: 10px 15px;
	}
	p {
		@media only screen and (max-width: 575px) {
			display: none;
		}
	}
}

.my-cards__new-card.add-pa .my-cards__new-card_add {
	@media only screen and (max-width: 575px) {
		color: #ffffff;
		text-decoration: none;
	}
}

.desires__items.products-list {
	padding: 0;
}

.price-container {
	@media only screen and (max-width: 575px) {
		width: 86%;
	}
}

.product__images .slick-slide img {
	height: 100%;
	width: 100%;
	object-fit:cover;
	min-height: 220px;
}

.catalog-content__flex-personal-area .products-list_small.personal-area-product-list .product {
	margin-right: 10px;

	&:nth-child(even) {
		margin-right: 10px;
	}
}

.catalog-content__flex-personal-area .products-list {
	@media only screen and (max-width: 576px) {
		padding-bottom: 0;
	}
}
