.personal-data {
  margin-top: 70px;
  padding-right: 0;
  max-width: 1700px;
  padding-left: 330px;

  @include respond-to(lg) {
    flex-direction: column-reverse;
    padding-left: 50px;
  }

  @include respond-to(md) {
    padding-left: 0;
    padding-right: 0;
  }

  @include respond-to(sm) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 720px) {
    flex-direction: column-reverse;
  }

  &__balanse {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 36px;
  }

  &__link {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &_item {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: $black-custom;
    }

    &:hover &_item {
      text-decoration: none;
    }
  }

  .order-total,
  .order-forms__item-wrapper {
    margin-top: 0;
  }

  .order-total {
    padding-left: 170px;

    @include respond-to(xl) {
      padding-left: 70px;
    }

    @include respond-to(lg) {
      display: flex;
      margin-bottom: 40px;
      padding-left: 0;
      padding-bottom: 30px;
      border-bottom: 3px solid #f9f9f2;
      width: 100%;
    }

    @include respond-to(xs) {
      display: none;
    }

    &__container {

      @include respond-to(lg) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 65px;
        padding-left: 0;
        border-bottom: none;
      }
    }
  }

  .order-forms {

    &__info {
      @include respond-to(xl) {
        display: block;
      }

      @include respond-to(xs) {
        display: none;
      }
    }

    &__group {

      @include respond-to(lg) {
        margin-top: 20px;
      }

      @include respond-to(sm) {
        margin-top: 0;
      }
    }

    &__subtitle_total {

      @include respond-to(lg) {
        margin-top: 0;
        font-size: 28px;
        line-height: 26px;
      }
    }

    &__info_text {

      @include respond-to(sm) {
        padding-top: 0;
      }
    }
  }

  &__person {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;

    @include respond-to(lg) {
      margin-top: 0;
    }

    &-img {
      @extend .personal-data__person;
    }

    &-name {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $black-custom;
    }
  }

  &_page-head {
    @include respond-to(xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// Cards
.my-cards {
  position: relative;
  margin-top: 40px;
  font-family: $Panton;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: $black-custom;

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__num {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__new-card {
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    &_add {
      text-decoration-skip-ink: none;
      text-decoration: underline;
    }

    &:hover &_add {
      text-decoration: none;
    }
  }

  &__dots {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 40px;

    &_dot {
      display: inline-block;
      margin-right: 3px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $black-custom;
    }
  }

  &__edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    width: 100px;

    &_item {
      flex: 1;
      height: 30px;
      cursor: pointer;

      .modal-close {
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }

  &__save {
    margin-top: 44px;

    @include respond-to(xs) {
      margin: 53px auto 0 auto;
      height: 40px;
    }
  }
}

.edit-pen path {
  transition: all $delay;
}

.edit-pen:hover path {
  fill: $red;
}
// End Cards
