.privacy-policy-wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1230px;
  margin: 0 auto;
  margin-top: 91px;

    @media only screen and (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		margin-top: 0;
    }

	.policy-content {
		max-width: 832px;
  	width: 100%;
  	padding-left: 102px;

    	@media only screen and (max-width: 1550px) {
    		padding-left: 86px;
    	}

    	@media only screen and (max-width: 575px) {
    		padding-left: 0;
    		padding: 0 10px;
    	}
		h5 {
			margin-bottom: 70px;
			font-family: $Panton;
			line-height: 22px;
			font-size: 20px;
			color: #4F4F4F;
			@media only screen and (max-width: 1550px) {
				padding-right: 45px;
			}
			@media only screen and (max-width: 1550px) {
				margin-bottom: 26px;
			}
			@media only screen and (max-width: 767px) {
				padding-right: 0px;
			}
		}
	}
}
.prolog {
	margin-bottom: 69px;
	p {
		font-family:$Roboto;
		font-weight: 500;
		line-height: 22px;
		font-size: 16px;
		color: #4F4F4F;
		@media only screen and (max-width: 1550px) {
			padding-right: 45px;
		}
	}
}
.policy-content-paragraf {
	margin-bottom: 88px;
	@media only screen and (max-width: 767px) {
		margin-bottom: 44px;
	}
	h4 {
		margin-bottom: 44px;
		font-family: $Panton;
		line-height: 26px;
		font-size: 28px;
		color: #4F4F4F;
		font-weight: 900;
		@media only screen and (max-width: 1550px) {
			padding-right: 45px;
		}
		@media only screen and (max-width: 767px) {
			padding-right: 0px;
		}
	}
	p {
		font-family:$Roboto;
		font-weight: 500;
		line-height: 22px;
		font-size: 16px;
		color: #4F4F4F;
		@media only screen and (max-width: 1550px) {
			padding-right: 45px;
		}
		@media only screen and (max-width: 767px) {
			padding-right: 0px;
		}
	}
}

.cart-sidebar-wrapper {
    max-width: 324px;
    width: 100%;
}


.policy-sidebar {
	max-width: 324px;
	transition: all .25s;

	@media only screen and (max-width: 1550px) {
		display: block;
	}

	@media only screen and (max-width: 767px) {
		max-width: none;
		padding-left: 74px;
	}

	@media only screen and (max-width: 575px) {
		padding: 0 10px;
	}

	&.fixed {
		position: fixed;
	    right: 2%;
	    top: 4%;
	    @media only screen and (max-width: 767px) {
			position: static;
			padding-left: 0;
	    }
	}

	p {
		font-family:$Roboto;
		font-weight: 500;
		line-height: 22px;
		font-size: 16px;
		color: #BDBDBD;
		margin-bottom: 43px;
		@media only screen and (max-width: 767px) {
			margin-bottom: 22px;
		}
	}
	p:first-child {
		@media only screen and (max-width: 767px) {
			padding-top: 44px;
			border-top: 1px solid #E0E0E0;
		}
	}

}
.policy-sidebar.mobile-policy {
	display: none;

	@media only screen and (max-width: 767px) {
		display: block;
		position: static;
		border-bottom: 1px solid #E0E0E0;
		margin-bottom: 44px;
		width: 100%;
  	max-width: none;
  	padding-left: 0;
	}

	p:first-child {
		@media only screen and (max-width: 767px) {
			padding-top: 0;
			border-top: none;
		}
	}

}
.policy-sidebar-links a:last-child {
	@media only screen and (max-width: 767px) {
		margin-bottom: 44px;
	}
}
.policy-sidebar-links {
	a {
		display: block;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 16px;
		text-decoration-line: underline;
		color: #333333;
		margin-bottom: 22px;
		transition:.3s ease;
		&:hover {
			color: #FF1400;
			text-decoration: none;
		}
	}
}
.policy-sidebar-links a.active {
	color: #FF1400;
	text-decoration: none;
}


.page-head__breadcrumbs{

	@include respond-to(xs) {
		margin: 10px auto;
	}
}

.product-card-wrap h1 {
	word-break: break-word;
}
