.product-page {
	.freebie {
		&.two {
			padding: 14px 36px;
			margin-top: 57px;
			margin-left: 50px;

			&:before {
				top: -7px;
				left: -25px;
			}

			@include respond-to(xs) {
				margin: 30px auto 15px;
				left: 0;
				right: 0;
			}
		}
	}

	.product-slider-share {
		&.two {
			@include respond-to(md) {
				flex-wrap: wrap;
			}

			@include respond-to(xs) {
				justify-content: center;
			}

			span {
				@include respond-to(md) {
					margin-right: 0;
					margin-bottom: 12px;
					width: 100%;
				}

				@include respond-to(xs) {
					text-align: center;
				}
			}
		}
	}

	.recommendation-slider-tablet {

		@include respond-to(md) {
			display: block;
			max-width: 100%;
			width: calc(100% - 50px);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 70px;
		}

		@include respond-to(xs) {
			padding-left: 0;
			width: 100%;
			margin-bottom: 30px;
		}

		.price-container__current-wrapper {
			@include respond-to(md) {
				justify-content: center;
			}
		}

		& .product__socials{
			@include respond-to(xs) {
				margin-top: 20px;
			}
		}

		.price-container__old {
			@include respond-to(xs) {
				display: block;
				padding: 15px 0;
			}

			&::after {
				@include respond-to(xs) {
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%) rotate(30deg);
				}
			}
		}
	}

	.slider-tablet-items {

		.prev-not-found {
			@include respond-to(md) {
				left: -40px;
			}

			@include respond-to(xs) {
				left: 0;
			}
		}

		.next-not-found {

			@include respond-to(md) {
				right: -40px;
			}

			@include respond-to(xs) {
				right: 0;
			}
		}

		.prev-not-found,
		.next-not-found {
			@include respond-to(md) {
				position: absolute;
				top: 50%;
				bottom: auto;
				transform: translateY(-50%);
				display: block;
				margin-right: 0;
				height: 40px;
			}

			@include respond-to(xs) {
				top: auto;
				bottom: 0;
			}
		}

		.slick-dots {
			@include respond-to(md) {
				display: flex !important;
			}

			@include respond-to(xs) {
		    visibility: visible;
		    justify-content: center;
			}
		}
	}

	.product-slider-share {

		@include respond-to(xs) {
			display: none;
		}

		&__mobile {
			display: none !important;

			@include respond-to(xs) {
				display: flex !important;
			}
		}
	}

	.other-products .section-name {
		@include respond-to(md) {
			margin-right: 0;
			text-align: left;
		}
	}
}

.other-products {

	.section-name {
		@include respond-to(md) {
			margin-right: 0;
			text-align: left;
		}
	}

	.products-list_big {
		transform: translateX(0);
	}

	.products-list .product.view {
		@include respond-to(md) {
			margin: 0;
			margin-right: 60px;
		}
	}

	.products-list.view-list.slider-tablet-items {
		@include respond-to(md) {
			padding-left: 30px;
		}
	}

	.slider-tablet-items .prev-not-found {
		@include respond-to(md) {
			left: -20px;
		}
	}

	.slider-tablet-items .next-not-found {
		@include respond-to(md) {
			right: -20px;
		}
	}

	.products-list .product__invite {

		&-list  {
			@include respond-to(md) {
				left: -158px;
				transform: scale(-1,1);
			}
		}

		&-row {
			@include respond-to(md) {
				padding-left: 20px;
				transform: scale(-1,1);
			}
		}
	}

	.price-container__current-wrapper {
		justify-content: center;
	}
}

.product-card-wrap {
	max-width: 1467px;
	margin: 0 auto;

	@include respond-to(xs) {
		display: flex;
		flex-direction: column;
	}

	.product-card {
		display: flex;
		justify-content: space-between;
		margin-top: 88px;

		@media only screen and (max-width: 1170px)  {
			margin-top: 54px;
		}
		@media only screen and (max-width: 767px)  {
			margin-top: 95px;
			flex-direction:column;
		}
		@media only screen and (max-width: 575px)  {
			margin-top: 23px;
		}

		.friends-list{

		}
	}
}
.product-card-wrap h2 {
	font-family: $Panton;
	line-height: 49px;
	font-size: 52px;
	font-weight: 700;
	margin-bottom: 22px;
}
.product-slider {
	display: flex;
	width: 490px;
	height: 404px;
	margin-bottom: 79px;
	//@media only screen and (max-width: 1210px)  {
	//	width: 100%;
	//	height: auto;
	//}
	@media only screen and (max-width: 767px)  {
		flex-direction: column-reverse;
		margin-bottom: 44px;
	}

	@include respond-to(xs) {
		width: 100%;
		height: auto;
	}
}
.product-slider-nav {
	width: 44px;
	margin-right: 81px;
	@media only screen and (max-width: 1210px)  {
		margin-right: 24px;
	}
	@include respond-to(xl)  {
		margin-right: 0;
		padding-right: 24px;
		width: 19%;
	}
	@media only screen and (max-width: 767px)  {
		width: 100%;
		margin-right: 0;
		padding-right: 0;
		margin-top: 27px;
	}
	.product-slider-nav-item {
		width: 44px;
		height: 44px;
		border: 2px solid transparent;
		outline: none;
		box-sizing:border-box;
		margin-bottom: 22px;
		cursor: pointer;

		img {
			height: 40px;
			width: 44px;
		}
		@media only screen and (max-width: 767px)  {
			height: 40px!important;
			width: 44px!important;
			padding-bottom: 40px;
			margin-right: 19px;
			margin-bottom: 0;
		}
	}
	.product-slider-nav-item:last-child {
		@media only screen and (max-width: 767px)  {
			margin-right: 0;
		}
	}
	.slick-current.slick-active {
		border: 2px solid #FF1400;
		outline: none;
	}

}

.product-slider-nav .slick-track {
	@media only screen and (max-width: 767px)  {
		width: max-content!important;
	}
}

.product-slider-slides {
	width: 365px;
	height: 404px;
	@media only screen and (max-width: 1210px)  {
		width: 100%;
		height: auto;
	}
	@media only screen and (max-width: 767px)  {
		width: 100%;
	}

	.product-slider-slides-item {
		// width: 365px !important;
		height: 404px;
		outline: none;

		@media only screen and (max-width: 767px)  {
			width: initial !important;
		}
		@media only screen and (max-width: 575px)  {
			width: calc(100vw - 20px) !important;
			max-height: initial;
			height: auto;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit:cover;

			@media only screen and (max-width: 1170px)  {
				object-fit:contain;
			}

			@include respond-to(lg) {
				width: 60%;
			}

			@include respond-to(xs)  {
				max-height: 325px;
				width: 100%;
			}
		}
	}
}

.product-slider-share {
	display: flex;
	align-items:center;
	span {
		display: block;
		margin-right: 25px;
		font-size: 16px;
		color:$black-custom;
		font-family:$Roboto;
		font-weight: 500;
	}
	a {
		padding: 0 3px;
		display: block;
		width: 20px;
		height: 20px;
		box-sizing: content-box;
		svg {
			width: 20px;
			height: 20px;
		}
	}
	@media only screen and (max-width: 1210px)  {
		display: none;
	}
}

.product-slider-share.two {
	display: none;
	padding-left: 0;

	@media only screen and (max-width: 1210px)  {
		display: flex;
		margin-top: 50px;
		margin-bottom: 0;
		flex-wrap:wrap;
	}

	@include respond-to(xs)  {
		margin-top: 30px;
		justify-content: center;
	}
}
.product-characteristics {
	@include respond-to(lg) {
		display: none;
	}
}
.product-description.two {
	display: none;

	@media only screen and (max-width: 1210px)  {
		display: block;
	}

	.product-characteristics.two {
		display: none;

		@media only screen and (max-width: 1210px)  {
			display: block;
		}
	}

	.product-description__descr {
		display: none;

		@include respond-to(xs) {
			display: block;
			padding: 0 10px;
		}
	}
}
.product-description p {
	@media only screen and (max-width: 767px)  {
		display: none;
	}
}

.product-description.two p {
	display: block;

	@media only screen and (max-width: 575px)  {
		line-height: 22px;
		font-size: 16px;
	}
}

.product-slider-delivery-info {
	position: relative;
	margin-top: 70px;
	padding: 47px 59px 55px 122px;
	background: #F9F9F9;
	border-radius: 5px;
	max-width: 584px;
	margin-left: -122px;

	@include respond-to(xl)  {
		display: none;
	}
	@media only screen and (max-width: 575px)  {
		padding: 47px 14px 55px 14px;
	}

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 200px;
		height: 100px;
		top: 130px;
		left: -100px;
		background-image: url('../img/claws-paw.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		@include respond-to(md) {
			width: 270px;
			height: 120px;
			top: 130px;
			left: -180px;
		}

		@include respond-to(xs) {
			top: initial;
			height: 90px;
			bottom: 20px;
			left: -95px;
		}
	}

	&__tablet {
		display: none;

		@include respond-to(xl) {
			display: block;
			margin-left: 0;
		}
	}

	h2 {
		line-height: 26px;
		font-size: 28px;
		font-family:$Panton;
		color: $black-custom;
		font-weight: 700;
	}
	h3 {
		font-family:$Roboto;
		font-weight: 500;
		line-height: 26px;
		font-size: 22px;
		color: #828282;
	}
	p {
		font-family:$Roboto;
		font-weight: 500;
		line-height: 22px;
		font-size: 16px;
		color: #828282;
	}
}

.product-slider-delivery-info.two {
	display: 	none;

	@media only screen and (max-width: 1210px)  {
		display: block;
		margin-left: 40px;
		margin-top: 66px;
	}

	@media only screen and (max-width: 575px)  {
		margin-top: 22px;
		margin-left: 10px;
		padding: 22px 14px 100px 14px
	}
}
.product-slider-delivery-info.two h3, .product-slider-delivery-info.two h4 {
	line-height: 23px;
	font-size: 24px;
}
.product-slider-delivery-info.two p {
	line-height: 22px;
	font-size: 16px;
}



.content-delivery p:first-child {
	margin-top: 20px;
	margin-bottom: 23px;
}


.product-info-part {
	margin-left: 116px;
	width: 100%;
	z-index: 0;

	@include respond-to(xl)  {
		margin-left: 0;
	}

	@include respond-to(md) {
		width: 40%;
	}

	@include respond-to(xs) {
		width: 100%;
	}

	@media only screen and (max-width: 767px) {
		margin-left: 116px;
	}

	@include respond-to(xs) {
		margin-left: auto;
		margin-right: auto;
	}
}

.product-slider-part {

	@media only screen and (max-width: 1210px)  {
		width: 50%;
	}
	@media only screen and (max-width: 767px)  {
		width: 100%;
	}

	.product-slider-share {
		padding-left: 0;
	}
}

.product-info-cost {
	display: flex;
	align-items:center;

	@media only screen and (max-width: 1170px)  {
		align-items:flex-end;
		width: 130px;
	}
	@media only screen and (max-width: 767px)  {
		width: 239px;
		margin: 0 auto;
	}

	&_tablet.second {
		display: none;

		@include respond-to(xl) {
			display: flex !important;
			margin: 100px auto;
	    width: 80%;
			align-items: center;
		}

		@include respond-to(lg) {
			width: 90%;
		}

		@include respond-to(md) {
			height: 100px;
		}

		@include respond-to(xs) {
			margin-top: 50px;
			margin-bottom: 50px;
			height: 350px;
			width: 100%;
		}

		.price-wrap {
			@include respond-to(xs) {
				position: absolute;
				bottom: -20px;
				left: 20px;
			}

			.old-price-block {
				@include respond-to(xs) {
					top: auto;
					right: -110px;
					bottom: 50px;
				}
			}
		}

		.congratulations {
			@include respond-to(xs) {
				margin: 0 auto;
			}

			h4::after {

				@include respond-to(xs) {
					left: 50%;
					transform: translateX(-50%);
					top: -190px;
				}
			}
		}
	}

	.old-price-block .price-container__current-wrapper span,
	.old-price-block .price-container__current-wrapper p {
		font-size: 26px;
		font-family: "Roboto";
		font-weight: bold;
		color: #333;
	}
}

.price-block {
	background: #FF1400;
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.03);
	border-radius: 5px;
	position: relative;
	text-align: center;
	width: 238px;
	padding: 6px 0 7px;
	cursor: pointer;
	outline: none;
	border: none;
	transition: all $delay;

	&:hover,
	&:active {
		box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.03);
	}

	&__price {
		display: inline;
	}
	p {
		font-family:$Roboto;
		font-weight: bold;
		line-height: 24px;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.05em;
		color: $white;
	}

	&__current {
		font-family:$Roboto;
		font-weight: bold;
		display: block;
		line-height: 33px;
		font-size: 35px;
		text-align: center;
		letter-spacing: -0.03em;
		-webkit-text-stroke: 1px $black-custom;
		text-shadow: 5px 3px 0px #333333;
		color: $white;
	}
	.discount {
		width: 50px;
		height: 50px;
		position: absolute;
		right: -15px;
		top: -14px;
		background-image: url(../img/star-price.png);
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content:center;
		align-items:center;
		span {
			display: block;
			font-family:$Roboto;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			letter-spacing: 0.05em;
			color: $black-custom;
			transform: rotate(-15deg);
		}
	}
}
.price-wrap {
	display: flex;
	@media only screen and (max-width: 1170px)  {
		flex-direction: column;
	}
}

.old-price-block {
	position: relative;
	padding: 0px 20px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width: 200px;

	span {
		font-family:$Roboto;
		font-weight: normal;
		line-height: 14px;
		font-size: 11px;
		letter-spacing: 0.05em;
		color: #D9D9D9;
	}
	.price-block__old {
		font-family:$Roboto;
		font-weight: bold;
		line-height: 26px;
		font-size: 25px;
		margin-left: 18px;

		span {
			@extend .price-block__old;
			margin-left: 0;
			color: $black;
		}
	}

	&:after {
		position: absolute;
		content: url(../img/icons/throuth.svg);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media only screen and (max-width: 1170px)  {
		margin: 0;
		padding: 0;
		width: max-content;
		margin-top: 50px;
	}

}
.favorite {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	display: flex;
	align-items:center;
	@media only screen and (max-width: 1170px)  {
		padding:0;
		margin-left: -87px;
	}
	span {
		font-family:$Roboto;
		font-weight: normal;
		line-height: normal;
		font-size: 11px;
		letter-spacing: 0.05em;
		color: #C4C4C4;
		display: block;
		margin-right: 14px;
		@media only screen and (max-width: 1170px)  {
			display: none;
		}
	}
	svg {
		path {
			transition: fill $delay;
		}
		&:hover,
		&.liked {
			path {
				fill: $second-red;
			}
		}
	}

}

.mobile-favorite-span {
	display: none!important;
	@media only screen and (max-width: 1170px)  {
		display: block!important;
	}
}

.advertising-place {
	@media only screen and (max-width: 1210px)  {
		display: none;
	}
}
.advertising-place.two {
	display: none;
	@media only screen and (max-width: 1210px)  {
		display: block;
		width: 100%;
		max-width: none;
	}
	@media only screen and (max-width: 575px)  {
		height: 110px;
	}
}


.freebie {
	display: inline-block;
	position: relative;
	width: max-content;
	padding: 12px 30px;
	margin-left: 20px;
	margin-top: 50px;

	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #FFFC59;
		box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.03);
		transform: skewX(-25deg);
		border-radius: 10px;
		z-index: -1;
	}

	span {
		display: block;
		line-height: 17px;
		font-size: 18px;
		color: $black-custom;
		font-family: $Panton;
		font-weight:700;
	}

	&:before {
		position: absolute;
		content: "";
		background: url(../img/404-icat.svg);
		top: -11px;
		left: -40px;
		z-index: -1;
		width: 48px;
		height: 46px;
	}
	@media only screen and (max-width: 1170px)  {
		display: none;
	}
}

.freebie.two {
	display: none;

	@media only screen and (max-width: 1170px)  {
		display: inline-block;
	}

	@media only screen and (max-width: 540px)  {
		width: 278px;
		height: 65px;
	}
}
.freebie.two:before {
	position: absolute;
	content: "";
	background: url(../img/404-icat.svg);
	top: 2px;
	left: -23px;
	z-index: -1;
	width: 48px;
	height: 46px;
}

.advertising-place {
	margin-top: 35px;
	width: 100%;
	max-width: 666px;
	height: 176px;
	background: #E0E0E0;
}
.product-description {
	margin-top: 21px;

	p {
		font-family:$Roboto;
		font-weight: 500;
		line-height: 22px;
		font-size: 16px;
		color: #828282;
		@media only screen and (max-width: 767px)  {
			text-align: center;
		}
	}
	h2 {
		line-height: 26px;
		font-size: 28px;
		color: $black-custom;
		font-family: $Panton;
		font-weight: 900;
		margin-bottom: 21px;
		margin-top: 31px;
		@media only screen and (max-width: 575px)  {
			line-height: 23px;
			font-size: 24px;
		}
	}
	h2.about-product {
		margin-top: 47px;
	}
	.about-product-p {
		max-width: 666px;
		@media only screen and (max-width: 1210px)  {
			width: 100%;
			max-width: none;
		}
		@media only screen and (max-width: 575px)  {
			text-align: left;
		}
	}
}
.characteristics-table-row {
	max-width: 666px;

	.table-row-item {
		display: flex;
		flex-direction:row;
		align-items:center;
		padding: 15px 0;
		border-bottom: 1px solid #f2f2f2;

		@media only screen and (max-width: 575px)  {
			flex-direction:column;
			align-items:flex-start;
			margin-bottom: 13px;
		}
		span.left {
			margin-right: 70px;
			font-family: $Roboto;
			color: $black-custom;
			font-weight: bold;
			line-height: 22px;
			font-size: 16px;
			display: block;
			max-width: 250px;
			width: 100%;
			//padding-right: 42px;
			@media only screen and (max-width: 575px)  {
				padding-right: 0;
				line-height: 24px;
			}
		}
		span.right {
			font-family:$Roboto;
			font-weight: 500;
			color: #828282;
			line-height: 32px;
			font-size: 16px;
			display: block;
			@media only screen and (max-width: 575px)  {
				line-height: 24px;
			}
		}
	}
	.table-row-item:last-child {
		margin-bottom: 0;
	}
}
.product-card-other-products {
	padding-bottom: 90px;

	@include respond-to(md) {
		display: none;
	}

	.products-list.view-list {
		justify-content: space-between;
		margin: 50px auto 0 auto;
	}
}
// ****

.range-share {
	background-image: url(../img/range-share.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 49px;
	padding-top: 34px;

	.modal_progress-bar_product {
		transform: translateX(-40px);
		max-width: 100%;
		width: calc(100% - 170px);
		margin: 0 auto;
		background-image: url(../img/modal/rubs.svg);
		background-repeat: repeat;
		background-position: 0 0;
		background-color: $white;


		span {
			font-family: $Roboto;
			font-weight: bold;
			font-size: 11px;
		}
	}
}

.range-share-item.third-tablet .range-share-item {
	 width: 85%;
	 margin: 0 auto;
}

.range-share-item.second {
	display: flex;
	max-width: 775px;
	margin: 0 auto;
	padding-bottom: 30px;

	.product__invite {

		&-list {
			@include respond-to(xs) {
				left: -158px;
				transform: scale(-1,1);
			}
		}

		&-row {
			@include respond-to(xs) {
				padding-left: 20px;
				transform: scale(-1,1);
			}
		}
	}
}

.range-share-wrap.second-tablet .range-share-item.second .product__socials {
	@include respond-to(xs) {
		margin-top: 30px;
		order: -1;
	}
}

.product__socials {
	margin-top: 32px;
	display: flex;
	align-items: center;
}
.product__invite {
	position: relative;
	font-family:$Roboto;
	display: flex;
	align-items: center;
}
.product__invite-btn {
	margin: 0 10px 0 20px;
	width: 33px;
	height: 33px;
	background: url(../img/icons/invite-g.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.5s;
	position: relative;
	z-index: 3;
	cursor: pointer;
}
.range-share-item.second .product__invite-title {
	font-size: 16px;
	font-weight: 600;
	color: #BDBDBD;
	position: relative;
	z-index: 2;
}
.product__invite-list {
	width: 242px;
	min-height: 262px;
	position: absolute;
	left: -31px;
	bottom: -43px;
	padding: 11px 51px 115px 65px;
	background: url(../img/invite-bg.png);
	background-size: cover;
	z-index: -1;
	transition: 0.5s;
	opacity: 0;
	display: none;
}
.product__invite-list.active {
	z-index: 2;
	opacity: 1;
	display: block;
}
.product__invite-row {
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
}
.product__invite-link {
	margin-right: 31px;
	width: 32px;
	min-width: 32px;
	height: 32px;
	position: relative;
}
.product__invite-link span {
	position: absolute;
	right: -16px;
	top: -3px;
	min-width: 25px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF1400;
	border-radius: 5px;
	border: 2px solid #ffffff;
	font-family:$Roboto;
	font-size: 10px;
	color: #ffffff;
	z-index: 1;
}
.product__invite-link img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.range-share-item.second .friends-list {
	padding-left: 0px;
}
span.provider {
	display: block;
	font-family:$Roboto;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
	color: #828282;
	margin-top: 60px;
	margin-bottom: 45px;
}
.progress-bar__empty.second {
	width: 100%;
}

// ***
.product-info-cost.second .price-block {
	background-image: url(../img/star-price.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 130px;
	height: 130px;
	box-shadow: none;
	display: flex;
	align-items: center;
	justify-content: center;

	@include respond-to(xl) {
		width: 150px;
		height: 150px;
	}

	@include respond-to(md) {
		width: 120px;
		height: 120px;
	}

	.price-container__current-wrapper {
		transform: rotate(-13.4deg);
	}
}

.product-info-cost.second .price-wrap {

	.old-price-block {
		position: absolute;
		top: -50px;
		right: -70px;
		left: auto;
	}
}
.congratulations{
	display: flex;
	align-items:center;
	height: inherit;

	h4 {
		position: relative;
		font-family:$Roboto;
		font-weight: bold;
		line-height: 22px;
		font-size: 38px;
		color: #4F4F4F;
		margin-left: 124px;

		@include respond-to(xl) {
			font-size: 53px;
		}

		@include respond-to(lg) {
			margin-left: 90px;
		}

		@include respond-to(md) {
			margin-left: 63px;
			font-size: 38px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: scale(0) translate(-50%, -50%);
			display: block;
			width: 100%;
			height: 800%;
			background-image: url("../img/fireworks.svg");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			animation: firework 1s ease forwards;
			animation-iteration-count: 5;
			transform-origin: left center;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -190px;
			display: block;
			width: 100px;
			height: 100px;
			background-image: url("../img/cat.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@include respond-to(xxl) {
				left: -160px;
			}

			@include respond-to(lg) {
				left: -130px;
			}

			@include respond-to(md) {
				width: 90px;
				height: 90px;
				left: -110px;
			}
		}
	}

	span {
		display: block;
		max-width: 228px;
		font-family:$Roboto;
		font-weight: bold;
		line-height: 16px;
		font-size: 14px;
		color: #F2C94C;
		margin-left: 34px;

		@include respond-to(xl) {
			font-size: 19px;
			line-height: 22px;
		}

		@include respond-to(md) {
			font-size: 15px;
			line-height: 18px;
		}
	}
}

@keyframes firework {
	0%{
		transform: scale(0) translate(-50%, -50%);
	}
	100% {
		transform: scale(1) translate(-50%, -50%);
	}
}
.product-info-cost.second {
	position: relative;
	height: 110px;

	.product-info-cost__border {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border: 3px solid #ececec;
		border-radius: 15px;
		box-shadow: 20px 20px 10px rgba(0,0,0,0.02);
		transform: skewX(-15deg);

		@include respond-to(xs) {
			top: 30px;
			border-radius: 10px;
			transform: skewX(0);

			border: 3px solid #F1F1F2;
			background-color: #F1F1F2;
			box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.03);
			border-radius: 5px;
		}
	}
}

.product-info-cost.second .old-price-block:after {
	position: absolute;
	content: url(../img/icons/throuth.svg);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.hidden-price-block .product-info-cost.third {
	@include respond-to(lg) {
		flex-direction: row;
	}
}

.product-info-cost.third {
	position: relative;
	height: 120px;
	background: none;
	align-items:center;

	@media only screen and (max-width: 767px) {
		background: #F1F1F2;
		height: auto;
		padding-top: 20px;
		padding-bottom: 30px;
	}

	@include respond-to(xs) {
		border-radius: 5px;
	}

	.product-info-cost__border {
		position: absolute;
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 230px;
		border: 3px solid #ececec;
		border-radius: 15px;
		box-shadow: 20px 20px 10px rgba(0,0,0,0.02);
		transform: skewX(-15deg);

		@include respond-to(xxl) {
			top: 0;
			bottom: 0;
			right: 210px;
		}

		@include respond-to(md) {
			right: 100px;
		}

		@include respond-to(xs) {
			border: none;
		}
	}

	.congratulations {
		position: relative;
		display: flex;
		align-items:center;

		@media only screen and (max-width: 767px) {
			flex-direction:column;
			align-items:flex-start;
		}

		@include respond-to(xs) {
			margin-bottom: 25px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -50px;
			display: block;
			width: 110px;
			height: 110px;
			background-image: url("../img/sadcat1.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@include respond-to(lg) {
				left: -30px;
			}

			@include respond-to(xs) {
				top: 70px;
				left: -70px;
				width: 150px;
				height: 150px;
			}
		}

		.under-h {
			display: none;

			@media only screen and (max-width: 767px)  {
				display: block;
				text-align: left;
				padding-right: 10px;
				margin-left: 106px;
				margin-top: 20px;
				font-family: $Roboto;
				font-weight: 500;
				line-height: 22px;
				font-size: 16px;
			}

			@include respond-to(xs) {
				margin-left: 88px;
			}
		}

		h4 {
			line-height: 26px;
			font-size: 28px;

			@media only screen and (max-width: 1465px) {
				margin-left: 64px;
				padding-right: 40px;
			}

			@include respond-to(lg) {
				margin-left: 84px;
			}

			@media only screen and (max-width: 768px) {
				margin-left: 94px;
				// padding-right: 165px;
			}
			@media only screen and (max-width: 767px) {
				padding-right: 10px;
				margin-left: 106px;
			}

			@include respond-to(xs) {
				margin-left: 88px;
			}

			&::after,
			&::before {
				display: none;
			}

		}
	}
	@media only screen and (max-width: 1600px)  {
		width: auto;
	}
	@include respond-to(xl)  {
		display: none;
	}

}

.product-info-cost.third .price-block {
	background: #FF1400;
	border-radius: 5px;
	position: relative;
	text-align: center;
	width: 260px;
	padding: 15px 40px 15px 10px;
	white-space: nowrap;
	box-shadow: none;

	@include respond-to(md) {
		margin-top: 0;
	}

	p {
		display: flex;
		font-weight: bold;
		line-height: 13px;
		font-size: 16px;
		text-align: center;
	}

	@media only screen and (max-width: 768px)  {
		margin-left: 0px;
		width: 214px;
	}
}

// *** fancybox
.fancybox-thumbs {
	background: transparent!important;
	bottom: 0;
	display: none;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 2px 2px 4px;
	position: absolute;
	right: auto!important;
	-webkit-tap-highlight-color: transparent;
	top: auto!important;
	width: 100%!important;
	z-index: 99995;
	bottom: 20%!important;
	padding: 0!important;
}
.fancybox-thumbs ul {
	width: max-content!important;
	margin: 0 auto!important;
}
.fancybox-show-thumbs .fancybox-inner {
	right: 0!important;
}
.fancybox-thumbs>ul>li.fancybox-thumbs-active {
	border: 2px solid #FF1400;
	outline: none!important;
}
.fancybox-thumbs>ul>li:before {
	display: none;
}
.fancybox-thumbs>ul>li {
	background-position: top center!important;
	width: 44px!important;
	height: 44px!important;
	margin: 10px!important;
}
.fancybox-button {
	background: transparent!important;
	width: 37px!important;
	height: 37px!important;
	padding: 0!important;
	opacity:1!important;
	visibility: visible!important;
}
.fancybox-toolbar {
	opacity: 1!important;
}
.fancybox-content {
	max-width: 630px!important;
	max-height: 698px!important;
	background: #FFFFFF!important;
	border-radius: 10px!important;
	box-sizing: content-box!important;
	img {
		max-width:none;
		max-height:none;
		width: 100%!important;
		height: 100%!important;
		object-fit:cover!important;
		padding: 15px!important;
	}
}
.fancybox-navigation .fancybox-button--arrow_right {
	right: 33%!important;
}
.fancybox-navigation .fancybox-button--arrow_left {
	left: 33%!important;
}



@media only screen and (max-width: 1300px)  {
	.fancybox-navigation .fancybox-button--arrow_left {
		left: 28% !important;
	}
	.fancybox-navigation .fancybox-button--arrow_right {
		right: 28% !important;
	}
}
@media only screen and (max-width: 1024px)  {
	.fancybox-navigation .fancybox-button--arrow_left {
		left: 23% !important;
	}
	.fancybox-navigation .fancybox-button--arrow_right {
		right: 23% !important;
	}
}
@media only screen and (max-width: 768px)  {
	.fancybox-navigation .fancybox-button--arrow_left {
		left: 17% !important;
	}
	.fancybox-navigation .fancybox-button--arrow_right {
		right: 17% !important;
	}
}
@media only screen and (max-width: 665px)  {
	.fancybox-navigation .fancybox-button--arrow_left {
		left: 11% !important;
	}
	.fancybox-navigation .fancybox-button--arrow_right {
		right: 11% !important;
	}
}
@media only screen and (max-width: 575px)  {
	.fancybox-navigation .fancybox-button--arrow_left {
		left: 7% !important;
	}
	.fancybox-navigation .fancybox-button--arrow_right {
		right: 7% !important;
	}
}
@media only screen and (max-width: 480px)  {
	.fancybox-navigation .fancybox-button--arrow_left {
		left: 2% !important;
	}
	.fancybox-navigation .fancybox-button--arrow_right {
		right: 2% !important;
	}
}
@media only screen and (max-width: 450px)  {
	.fancybox-navigation .fancybox-button--arrow_left {
		left: 1% !important;
	}
	.fancybox-navigation .fancybox-button--arrow_right {
		right: 1% !important;
	}
}
.products-list.view-list.slider-tablet-items {
	padding-left: 0;
}
.slider-tablet-items .prev-not-found {
	@media only screen and (max-width: 768px)  {
		width: 40px;
		height: 30px;
		background-size: 100%;
		background-image: url(../img/prev-not-found.svg);
		position: absolute;
		left: -40px;
		top: 0;
		bottom: 0;
		margin: auto;

	}
}
.slider-tablet-items .next-not-found {
	@media only screen and (max-width: 768px)  {
		width: 40px;
		height: 30px;
		background-size: 100%;
		background-image: url(../img/next-not-found.svg);
		position: absolute;
		right: -40px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
.slider-tablet-items .prev-not-found {
	@media only screen and (max-width: 575px)  {
		margin-top: 0;
		top: auto;
		bottom: 10px;
		left: 0;
	}
}
.slider-tablet-items .next-not-found {
	@media only screen and (max-width: 575px)  {
		margin-top: 0;
		top: auto;
		bottom: 10px;
		right: 0;
	}
}

.slider-tablet-items .slick-dots {
	visibility: hidden;
	pointer-events: none;
}

.recommendation-slider-tablet .product__images .slick-dots {
	display: flex;
	visibility: visible;
	pointer-events: all;
}

.fancybox-thumbs {
	bottom: 0!important;
}
.fancybox-show-thumbs .fancybox-thumbs {
	display: block!important;
}


// other pages width product card

// product-card1
.range-share-wrap.second {
	@media only screen and (max-width: 1210px) {
		display: none;
	}
}
.range-share-wrap.second .progress-bar {
	@media only screen and (max-width: 1500px) {
		width: 85%;
	}
}
.range-share-wrap.second .range-share {
	@media only screen and (max-width: 1500px) {
		background-size: 100% 100%;
	}
	@media only screen and (max-width: 575px) {
		background-size: cover;
		background-position: 50%;
	}
}
.range-share-wrap.second .range-share-item.second {
	@media only screen and (max-width: 1500px) {
		flex-wrap: wrap;
		padding-left: 55px;
		padding-right: 15px;
	}
	@media only screen and (max-width: 575px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.range-share-wrap.second .product__socials {
	padding-left: 15px;

	@media only screen and (max-width: 1500px) {
		margin-left: 0;
	}
}
// *
.range-share-wrap.second-tablet {
	display: none;

	@media only screen and (max-width: 1210px) {
		display: block;
	}
}
.range-share-wrap.second-tablet .range-share-item.second {
	@media only screen and (max-width: 1500px) {
		flex-wrap: wrap;
		padding-left: 55px;
		padding-right: 15px;
	}
	@media only screen and (max-width: 575px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.range-share-wrap.second-tablet .progress-bar {

	@include respond-to(xxl) {
		margin: 0 auto;
		width: 85%;
	}

	@media only screen and (max-width: 576px) {
		display: block;
		width: 90%;
	}

}
.range-share-wrap.second-tablet .range-share {
	@media only screen and (max-width: 1500px) {
		background-size: 100% 100%;
	}
	@media only screen and (max-width: 575px) {
		background-size: cover;
		background-position: 50%;
	}
}
.range-share-wrap.second-tablet .product__socials {
	@media only screen and (max-width: 576px) {
		margin-left: 0;
		margin-top: 2px;
	}
}
.range-share-wrap.second-tablet .product__invite-title {
	@media only screen and (max-width: 576px) {
		display: none;
	}
}

span.provider {
	@media only screen and (max-width: 576px) {
		display: none;
	}
}
// ****

.product-info-cost.second .congratulations {
	@media only screen and (max-width: 1650px) {
		height: 170px;
	}
	@media only screen and (max-width: 700px) {
		padding-top: 111px;
		height: auto;
		padding-bottom: 111px;
	}
}
.product-info-cost.second  .congratulations span {
	@media only screen and (max-width: 700px) {
		margin-left: 0;
		max-width: 263px;
		margin-top: 43px;
		display: none;
	}
}

.range-share-wrap.third-tablet {
	@include respond-to(xs) {
		display: none;
	}
}

.range-share-wrap.third-tablet .progress-bar {
	@media only screen and (max-width: 576px) {
		display: block;
		width: 90%;
	}
}
.range-share-wrap.third-tablet .range-share-item {
	width: 85%;
	margin: 0 auto;

	&.second {
		@include respond-to(xxl) {
			flex-wrap: wrap;
			max-width: 100%;
		}
	}
}
.range-share-wrap.third-tablet .range-share {
	@media only screen and (max-width: 1500px) {
		background-size: 100% 100%;
	}
	@media only screen and (max-width: 575px) {
		background-size: cover;
		background-position: 50%;
	}
}

.product-info-cost.second {

	@include respond-to(xl) {
		display: none;
	}

}

.hidden-price-block .congratulations {
	@media only screen and (max-width: 700px)  {
		flex-direction: column;
		align-items: center;
	}
}
.product-info-cost.second .congratulations h4 {
	@media only screen and (max-width: 700px)  {
		margin-left: 0;
		text-align: center;
		font-size: 38px;
		line-height: 22px;
	}
}

.product-card-wrap .product-card.third {

	@include respond-to(xl) {
		margin-top: 54px;
		flex-direction: column;
		align-items: center;
		background-position: left 60%,50% 19px;
	}

	@media only screen and (max-width: 768px) {
		background-position: left 28%,50% 176%;
	}

	@include respond-to(xs) {
		order: 2;
	}

	.range-share {
		margin-top: 20px;
	}

	.product-info-part {
		z-index: 0;

		@include respond-to(md) {
			width: 100%;
		}
	}

	.product-slider {

		@include respond-to(lg) {
			margin-bottom: -30px;
		}

		@include respond-to(md) {
			margin: 0 auto;
		}

		&-part {
			@include respond-to(md) {
				width: 100%;
			}
		}
	}

	.product-slider-slides .product-slider-slides-item img {
		@include respond-to(md) {
			width: 100%;
		}
	}

	.provider {
		@include respond-to(lg) {
			display: none;
		}
	}
}

.hidden-price-block {
	display: none;

	@include respond-to(xl) {
		display: block;
		max-width: 721px;
		margin: 50px auto;
	}

	@include respond-to(lg) {
		margin-bottom: 0;
	}

	@include respond-to(xs) {
		order: 3;
		margin-top: 0;
		margin-bottom: 0;
	}

	.product-info-cost.third {
		@include respond-to(xl) {
			display: flex;
			flex-direction:column;
		}
		@media only screen and (max-width: 768px) {
			display: flex;
			flex-direction:row;
		}
		@media only screen and (max-width: 767px) {
			display: flex;
			flex-direction:column;
		}
	}
}
.product-info-cost.second .price-wrap .old-price-block {
	position: absolute;
	top: -50px;
	right: -70px;
	left: auto;

	@include respond-to(xl) {
		top: -90px;
		right: -20px;
	}
}

.recommendation-slider-tablet .product__invite {
	&-list {
		@include respond-to(md) {
			left: -140px;
			transform: scale(-1,1);
		}
	}

	&-row {
		@include respond-to(md) {
			padding-left: 20px;
			transform: scale(-1,1);
		}
	}
}

.provider {
	margin: 60px 0;
	font-family: "Roboto";
  font-weight: 500;
  color: #828282;
  line-height: 32px;
  font-size: 16px;
  display: block;

	@include respond-to(md) {
		display: none;
	}
}

.range-share-wrap {

	&__desctop.second-tablet {
		@include respond-to(xs) {
			display: none;
		}
	}

	&__mobile.second-tablet {
		display: none;

		@media only screen and (max-width: 1210px) {
			display: none;
		}

		@include respond-to(xs) {
			display: block;
			margin-bottom: 50px;
		}
	}
}

.congratulations__text-prod-card2 {
	display: none;

	@include respond-to(xs) {
		display: block;
		margin: 0 auto;
		width: 80%;
		font-family: "Roboto";
    font-weight: bold;
		font-size: 15px;
    line-height: 18px;
		color: #F2C94C;
	}
}

.product-card-wrap .friends-list__card-mob {
	display: none;

	@include respond-to(xs) {
		display: flex;
		justify-content: center;
		padding-left: 0;
	}
}

.product-slider-share__card2 {
	display: none !important;

	@include respond-to(xs) {
		display: flex;
	}
}

.recommendation-slider-tablet .price-container__current-wrapper {
	justify-content: center;
}

.products-list.products-list__show-dots .product__images .slick-dots{
	@include respond-to(xs) {
		display: flex !important;
	}
}

.recommendation-slider-tablet {

	@include respond-to(xs) {
		max-width: 100%;
	}

	.slider-tablet-items .slick-dots {
		@include respond-to(xs) {
			display: flex;
			justify-content: center;
			visibility: visible;
		}
	}
}

.money-return {
	@include respond-to(lg) {
		display: none;
	}

	&_mobile {
		display: none;

		@include respond-to(lg) {
			display: block;
		}

		@include respond-to(xs) {
			display: none;
		}
	}

	&__text {
		padding-left: 130px;
		font-size: 16px;
	  color: #333;
	  font-family: "Roboto";
	  font-weight: 500;

		@include respond-to(xxl) {
			display: inline-block;
			padding-left: 40px;
			padding-top: 20px;
		}

		@include respond-to(lg) {
			padding-left: 100px;
		}
	}
}

.product-slider-share__icons {
	display: flex;

	// SVG Animation
	@include animateSvg(vk, #4D76A1);
	@include animateSvg(wu, #8BC34A);
	@include animateSvg(tele, #61A8DE);
	@include animateSvg(wechat, #7AD06D);
	@include animateSvg(viber, #7D3DAF);
	@include animateSvg(insta, #DC44BA);
	@include animateSvg(email, #41B471);

	// End SVG Animation
}

.product-card.second {

	.product-slider-share.two {
		flex-direction: column;

		.product-slider-share__icons {
			margin-top: 15px;
		}
	}

	.price-block {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: none;

		&__current {
			padding-left: 5px;
			letter-spacing: 0;
			text-shadow: none;
			-webkit-text-stroke: 0px #fff;
			font-size: 18px;
		}
	}

	.product-info-cost {
		justify-content: space-around;

		@media only screen and (max-width: 1170px) {
			width: 100%;
		}
	}
}

.product__invite_disabled {
	pointer-events: none;
}

// *****



.page-head h1 {
    font-family: $Panton;
    line-height: 49px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 22px;
    @media only screen and (max-width: 576px) {
		line-height: 30px;
    	font-size: 32px;
    }
    @media only screen and (max-width: 575px) {
		padding: 0;
    }
}

.section-name h2 {
	font-size: 52px;
    font-weight: 700;
    letter-spacing: 0;
	@media only screen and (max-width: 576px) {
	    font-size: 32px;
	    line-height: 30px;
	}
}
