.price-container {
  margin-top: 22px;
  padding: 7px 0 0 20px;
  background: $yellow;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  width: 341px;
  height: 70px;
  font-family: $Roboto;
  display: flex;
  position: relative;

  @include respond-to(md) {
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-to(xs) {
    margin-top: 25px;
    justify-content: center;
  }

  @media only screen and (max-width: 574px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: 75%;
  }

  &__label {
    display: inline-block;
    margin-bottom: 7px;
    line-height: 10px;
    font-size: 11px;
    color: #A4A726;
    letter-spacing: 0.5px;

    @include respond-to(xs) {
      color: #A4A726;
    }
  }
  p {
    margin-top: 3px;
  }

  &__current {

    @include respond-to(xs) {
      text-align: center;
    }

    &-wrapper {

      display: flex;
      align-items: center;

      @include respond-to(xs) {
        justify-content: center;
      }
    }

    p,
    &-price {
      display: block;
      line-height: 23px;
      font-size: 35px;
      letter-spacing: -0.03em;
      color: $white;
      font-family: $Roboto;
      font-weight: 900;
      text-shadow: 4px 2px 0 $black-custom;
      -webkit-text-stroke: 1px $black-custom;

      @include respond-to(xs) {
        font-size: 35px;
        line-height: 33px;
        text-shadow: 5px 4px 0 $black-custom;
      }
    }

    p {
      padding-left: 7px;
    }
  }
  &__old {
    margin-left: 35px;
    position: relative;
    font-family: $Roboto;

    @include respond-to(xs) {
      display: none;
    }

    &_mobile {
      display: none;

      @include respond-to(xs) {
        display: inline-block;
        margin-left: 130px;
        padding-left: 0px;
        width: auto;
      }

      .price-container__label {
        color: #D9D9D9;
      }

      @include respond-to(xs) {
        margin-top: 27px;
        display: block;
        margin-left: 0;
        text-align: center;
      }
    }

    p,
    &-price {
      line-height: 20px;
      font-size: 21px;
      color: $black-custom;
      font-weight: 600;

      @include respond-to(xs) {
        font-size: 25px;
      }
    }

    &:after {
      content: '';
      top: 20px;
      left: -11px;
      position: absolute;
      width: 91.72px;
      height: 4px;
      background: rgba(242, 153, 74, 0.5);
      border-radius: 2px;
      transform: rotate(30deg);

      @include respond-to(xs) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(30deg);
      }
    }
  }
  &__discount {
    position: absolute;
    background-image: url("../img/star-price.png");
    background-size: cover;
    top: -13px;
    right: -47px;
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0 0 3px;

    @include respond-to(xs) {
      width: 50px;
      height: 50px;
      right: -20px;
    }

    span {
      line-height: 23px;
      font-size: 25px;
      font-weight: 600;
      color: $black-custom;
      transform: rotate(-15deg);

      @include respond-to(xs) {
        font-size: 14px;
        line-height: 13px;
      }
    }
  }

  &_small {
    margin-top: 17px;
    width: 243px;
    height: 50px;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.03);
    padding: 4px 0 0 20px;

    @include respond-to(xs) {
      height: 70px;
    }

    .price-container__current p,
    .price-container__current-price {
      margin-top: 0;
      line-height: 23px;
      font-size: 25px;

      @include respond-to(xs) {
        font-size: 35px;
        line-height: 33px;
      }
    }

    .price-container__old p,
    .price-container__old-price {
      font-size: 18px;
    }
    .price-container__old {
      margin-left: 22px;

      p {
        margin-top: -2px;
        font-size: 18px;
      }

      &:after {
        top: 19px;
      }
    }
    .price-container__discount {
      top: -9px;
      right: -32px;
      width: 65px;
      height: 65px;

      @include respond-to(xs) {
        top: -20px;
        right: -20px;
        width: 50px;
        height: 50px;
      }

      span {
        font-size: 16px;

        @include respond-to(xs) {
          font-size: 14px;
        }
      }
    }
  }
}

.progress-bar {
  height: 18px;
  position: relative;
  //background-image: linear-gradient(270deg, #FF0000 -3.83%, #FFEC06 65.01%, #1EDA75 100%);
  background: url("../img/modal/arrow-bar.png") 0 0;

  @include respond-to(xs) {
    display: none;
  }

  &_mobile {
    display: none;

    @include respond-to(xs) {
      display: block;
      position: relative;
      // width: 108%;
      // left: -4%;
    }
  }

  &__empty {
    position: absolute;
    height: 100%;
    left: 0;
    width: 33%;
    background-image: url("../img/bg-progressbar.png");
    background-color: $white;
  }
}

.friends-list {
  margin-top: 35px;
  position: relative;
  padding-left: 21px;
  display: flex;

  @include respond-to(xs) {
    margin-top: 21px;
  }

  &__item {
    border-radius: 50%;
    width: 47px;
    height: 47px;

    @include respond-to(xs) {
      margin-bottom: 25px;
      width: 35px;
      height: 35px;
    }

    &:not(:first-child) {
      margin-left: -13.6px;
    }
    &_empty {
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.03);
      background-color: $white;
    }
    &_add {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $second-red;
      font-size: 33px;
      cursor: pointer;
      transition: all .25s linear;

      &:hover {
        transform: scale(1.1);
        box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.03);
      }

      &:active {
        transform: scale(1);
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.03);
      }
    }
  }

  &_small {
    margin-top: 20px;
    padding-left: 0;

    @include respond-to(xs) {
      padding-left: 25px;
    }

    .friends-list__item {
      width: 17px;
      height: 17px;

      @include respond-to(xs) {
        width: 35px;
        height: 35px;
      }

      &:not(:first-child) {
        margin-left: -4px;

        @include respond-to(xs) {
          margin-left: -10px;
        }
      }
    }
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  //@include respond-to(xxl) {
  //  padding-left: 85px;
  //}

  @include respond-to(xs) {
    padding-left: 0;
    padding-bottom: 77px;
  }

  &_small {
    margin-left: 15px;
    max-width: 975px;

    @include respond-to(xxl) {
      max-width: 100%;
      margin-left: 0;
    }

    @include respond-to(xs) {
      margin-left: 0;
    }
  }

  &_big {
    margin: auto;
    transform: translateX(15px);
    max-width: 1440px;
  }

  .product {
    margin-right: 30px;
    margin-bottom: 19px;
    width: 450px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    position: relative;
    transition: $delay;

    position: relative;
    z-index: 0;

    @media screen and (max-width: 574px) {
      margin-right: 0;
      width: 100vw;
    }

    @include respond-to(xs) {
      padding: 0 20px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.8);
      z-index: -1;
      opacity: 0;
    }

    &.active {
      &:before {
        opacity: 1;
        z-index: 2;
      }
    }

    &__like {
      position: absolute;
      top: 21px;
      right: 58px;
      z-index: 1;
      cursor: pointer;


      path {
        transition: fill $delay;
      }

      &:hover,
      &.liked {
        path {
          fill: $second-red;
        }
      }
      &-count {
        top: 3px;
        right: -21px;
        position: absolute;
        min-width: 33px;
        height: 20px;
        background-color: $second-red;
        border: 2px solid $white;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        color: $white;
        font-family: $Roboto;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
      }
    }

    .slick-dots {
      height: 100%;
      bottom: 14px;
      display: flex;
      padding: 0;
      justify-content: center;
      z-index: 1;

      @include respond-to(xs) {
        display: none !important;
      }

      li {
        width: 135px;
        //height: 2px;
        height: 100%;
        background-color: transparent;
        display: none;

        button {
          width: 100%;
          height: 100%;

          &:before {
            background-color: $white;
            width: 100%;
            height: 2px;
            content: '';
            opacity: .5;
            top: auto;
            bottom: 0;
          }
        }

        &.slick-active {
          button {
            &:before {
              background-color: #7AF356;
              opacity: 1;
            }
          }
        }
      }
    }

    &__info {
      padding: 21px 0 38px 30px;
      background-color: $white;
      border-radius: 5px;

      @include respond-to(md) {
        padding-left: 0;
      }

      @media only screen and (max-width: 575px) {
        padding-top: 20px;
      }
    }
    &__name {
      font-family: $Panton;
      line-height: 22px;
      font-size: 22px;
      color: $black-custom;
      letter-spacing: 0;

      @include respond-to(md) {
        padding-left: 20px;
      }

      @include respond-to(xs) {
        padding-left: 0;
        margin-top: 3px;
        text-align: center;
        font-size: 18px;
      }
    }

    &__socials {
      margin-top: 32px;
      display: flex;
      align-items: center;

      @include respond-to(xs) {
        justify-content: center;
      }

      &_discount {
        margin-left: 0;
        justify-content: center;
      }

      .red-btn {
        font-size: 14px;

        @include respond-to(xs) {
          min-width: 200px;
          width: 200px;
          font-size: 16px;
          height: 37px;
        }
      }
    }

    &__invite {
      position: relative;
      z-index: 2;
      font-family: $Roboto;
      display: flex;
      align-items: center;

      &-btn {
        margin: 0 10px 0 20px;
        width: 33px;
        min-width: 33px;
        height: 33px;
        background: url("../img/icons/invite.svg");
        background-size: cover;
        transition: $delay;
        position: relative;
        z-index: 3;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }

      &-title {
        font-size: 16px;
        font-weight: 600;
        color: $second-red;
        position: relative;
        z-index: 3;
        cursor: pointer;

        @include respond-to(xs) {
          display: none;
        }
      }
      &-list {
        width: 242px;
        min-height: 262px;
        position: absolute;
        left: -31px;
        bottom: -43px;
        padding: 11px 51px 115px 65px;
        background: url('../img/invite-bg.png');
        background-size: cover;
        z-index: -1;
        transition: $delay;
        opacity: 0;
        display: none;

        @include respond-to(xs) {
          transform: scale(-1,1);
          left: -150px;
        }

        &.active {
          z-index: 2;
          opacity: 1;
          display: block;
        }
      }
      &-row {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;

        @include respond-to(xs) {
          padding-left: 15px;
          transform: scale(-1,1);
        }
      }
      &-link {
        margin-right: 31px;
        width: 32px;
        min-width: 32px;
        height: 32px;
        position: relative;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        span {
          position: absolute;
          right: -16px;
          top: -3px;
          min-width: 25px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $second-red;
          border-radius: 5px;
          border: 2px solid $white;
          font-family: $Roboto;
          font-size: 10px;
          color: $white;
          z-index: 1;
        }
      }
    }
  }

  .show-dots .slick-dots li{
    display: block;
  }

  .slick-arrow {
    width: 65px;
    height: 100%;
    background-image: url('../img/icons/arrow-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    transition: all $delay;

    @include respond-to(xs) {
      top: auto;
      bottom: 0;
      width: 50px;
      height: 40px;
      background-color: transparent;
    }

    &:hover {
      background-color: #fff;
    }

    &::before {
      display: none;
    }
  }

  .slick-prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }

  .slick-next {
    right: -3px;
  }

  .slick-dots {

    @include respond-to(xs) {
      bottom: 25px;
    }

    li button:before {

      @include respond-to(xs) {
        font-size: 12px;
      }
    }

    li.slick-active button:before {
      @include respond-to(xs) {
        color: $second-red;
      }
    }
  }
}


.product.view .price-container__current {
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.03);
}

/*  hover-slider */

.product__images {

  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 228px;
  overflow: hidden;

  position: relative;
  z-index: 0;

  @include respond-to(xs) {
    height: 200px;
  }

  &-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -3;

    @include respond-to(xxl) {
      display: flex;
      justify-content: center;
    }

    img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      object-fit: cover;
      display: block;
    }
  }

  &-button{
    position: relative;
    z-index: 4;
    bottom: 0;
    flex: 1;
    min-height: 7px;
    opacity: 1;
    transform: translateY(100%);
    transition: transform ease-out 0.15s, opacity 0.2s;

    &::after{
      content: "";
      position: absolute;
      top: 1px;
      right: 3px;
      bottom: 2px;
      left: 3px;
      height: 3px;
      background-color: #fff;
      opacity: 0.5;
      transition: 0.2s;
    }
  }

  &.hover-show .product__images-button{
    transform: translateY(0);
  }
}

.hover-slider{

  &__tools{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
  }

  &__part{
    position: static;
    display: flex;
    align-items: flex-end;
    flex: 1;
    height: 100%;
    margin: 0;

    &:first-child{

      & .product__images-item{
        z-index: -2;
      }
    }
  }

  &__part:hover{

    & > .product__images-item{
      z-index: -1;
    }

    & > .product__images-button:after{
      opacity: 1;
      background-color: #7AF356;
    }
  }
}

