.product-description-detail {
	padding-bottom: 70px;

	&.product-card-wrap {
		@media only screen and (max-width: 575px) {
			padding: 0;
		}
	}

	.cart-sidebar {
		.product-slider-share {
			@media only screen and (max-width: 1210px) {
				display: flex;
			}

			@include respond-to(md) {
				display: none;
			}
		}
	}

	.cart-main-content {
		@include respond-to(md)  {
			flex-direction:column-reverse;
		}
	}
	.products-list {

		.product {
			@include respond-to(xs) {
				width: 100%;
			}

			.price-container__current {
				@include respond-to(xs) {
					transform: translateY(-5px);
				}
			}
		}

		&_description {
			&__flex {
				display: flex;

				.product__images .slick-slide img {
					@include respond-to(xs) {
						//width: 100%;
						//min-height: auto;
						//height: auto;
						height: 200px;
					}
				}
			}
		}
		&.products-list_small {
			max-width: 100%;

			&.description {
				display: block;
				padding-left: 102px;

				@include respond-to(md) {
					padding-left: 91px;
				}

				@include respond-to(xs) {
					padding-left: 0;
				}

				.discount {
					h2 {
						width: 100%;
						padding-left: 0;
					}
				}
			}
		}
	}
}

.product-card-wrap .article-items {
	max-width: 832px;
	width: 100%;

	@include respond-to(xl) {
		padding-right: 15px;
	}

	.product-slider-share {

		@media only screen and (max-width: 1210px) {
			display: flex;
		}

		@include respond-to(md) {
			padding-left: 91px;
		}

		@include respond-to(xs) {
			padding-left: 0;
			flex-direction: column;
		}
	}

	@include respond-to(md) {
		padding-right: 0;
		max-width: 100%;
	}

	p {
		color: $black-custom;
		font-family: $Roboto;
		font-weight: 500;
		line-height: 22px;
		font-size: 16px;
		max-width: 730px;
		padding-left: 102px;
		box-sizing: content-box;
		margin-bottom: 27px;

		@media only screen and (max-width: 1550px)  {
			max-width: none;
		}

		@include respond-to(md) {
			padding-left: 91px;
		}

		@include respond-to(xs) {
			padding: 0;
		}
	}

	h2 {
		font-family: $Panton;
		line-height: 45px;
		font-size: 48px;
		color: #333333;
		max-width: 730px;
		padding-left: 102px;
		box-sizing: content-box;
		margin-bottom: 60px;
		margin-top: 80px;

		@media only screen and (max-width: 1550px) {
			max-width: none;
		}

		@include respond-to(md) {
			padding-left: 91px;
		}

		@include respond-to(xs) {
			padding: 0;
			font-size: 30px;
			margin-bottom: 22px;
			line-height: 32px;
		}
	}
	span {
		display: block;
		font-family:$Roboto;
		font-style: italic;
		line-height: 22px;
		font-size: 16px;
		color: #BDBDBD;
		font-weight: 400;

		@include respond-to(xs)  {
			padding: 0;
		}
	}
}

.article-item-img {
	margin-bottom: 60px;

	img {
		margin-bottom: 22px;

		@media only screen and (max-width: 1550px)  {
			width: 100%;
		}
		@include respond-to(xs) {
			min-height: 154px;
		}

	}
}

.product-slider-share {
	padding-left: 102px;
	margin-top: 57px;
	margin-bottom: 67px;
}
.product-card-wrap .discount h2 {
	padding-left: 102px;
	margin-bottom: 66px;
	font-size: 48px;
	@media only screen and (max-width: 1550px)  {
		max-width: none;
	}
	@include respond-to(xs) {
		padding: 0;
		font-size: 30px;
		margin-bottom: 22px;
		line-height: 27px;
	}
}
.products-list.products-list_small.description {
	//margin-left: 0;
	//padding-left: 102px;
	//margin-bottom: 100px;
	line-height: 27px;
	margin: 0 auto;
	padding-left: 0;

	//margin-right:0;
	margin: 0 auto;
}

.cart-sidebar .product-slider-share {
	padding-left: 0;
	margin-top: 0;

}
.product-slider-share {
	@media only screen and (max-width: 575px)  {
		padding: 0;
		padding-left: 0;
	}
}

.cart-sidebar-view-product {

	.product.view {
		margin-bottom: 65px;
	}

	.price-container__current-wrapper {
		justify-content: center;
	}
}

.product__socials.sidebar a {
	margin: 0 auto;
}
.span-before-btn-sidebar {
	margin-bottom: 25px;
	p {
		display: block;
		font-family:$Roboto;
		font-weight: 400;
		line-height: 17px;
		font-size: 16px;
		text-align: center;
		color: #C5C5C5;
	}
}
.description-items-wrap {
	max-width: 1230px;
	margin: 0 auto;
	margin-top: 88px;

    @media only screen and (max-width: 575px)  {
		margin-top: 22px;
	}
}
.h5-p {
	margin:0;
	display: flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom: 44px;
	max-width: 832px;

	@media only screen and (max-width: 1550px)  {
		max-width: none;
	}
	@media only screen and (max-width: 575px)  {
		padding: 0;
		flex-direction:column-reverse;
		align-items:flex-start;
		margin-bottom: 22px;
	}
	h5 {
		max-width: none;
		margin: 0;
		padding-left: 102px;
		@media only screen and (max-width: 575px)  {
			padding-left: 0;
		}
	}
}
.video-youtube-block-img {
	position: relative;
	.video-youtube-block-absolute {
		position: absolute;
		width: 71px;
		height: 50px;
		top: 50%;
		margin-top: -25px;
		left: 50%;
		margin-left: -35.5px;
	}
}

.video-youtube-block {
	span {
		margin-top: 16px;
		display: block;
		font-family: $Panton;
		line-height: 26px;
		font-size: 27px;
		color: #333333;
		font-weight: 900;
	}
}

.product-card-wrap .article-items p.h5-p-p {
	font-family:$Roboto;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
	color: #BDBDBD;
	margin-bottom: 0;

	@media only screen and (max-width: 575px)  {
		padding: 0;
		margin-bottom: 22px;
	}
}


.cart-main-content {

	.page-head__breadcrumbs.mobile-breadcrums-description a {
		@include respond-to(xs) {
			display: none;
		}
	}
	.page-head__breadcrumbs.mobile-breadcrums-description span {
		@include respond-to(xs) {
			display: none;
		}
	}
	.page-head__breadcrumbs.mobile-breadcrums-description {
		@include respond-to(xs) {
			padding: 0 10px;
		}
	}
	.page-head__breadcrumbs a.mobile-breadcrums {
		@include respond-to(xs) {
			display: block;
		}
	}

	.page-head h2 {
		@media only screen and (max-width: 575px) {
			padding: 0 10px;
			font-size: 32px;
			line-height: 35px;
		}
	}
	.products-list .product {
		@media only screen and (max-width: 575px) {
			width: 100%;
			padding: 0 10px;
		}
	}
	.price-container {
		@media only screen and (max-width: 575px) {
			flex-direction: column;
			align-items: center;
			padding-bottom: 10px;
			height: auto;
			margin: 0 auto;
			margin-top: 22px;
			width: 100%;
		}
	}
	.price-container__old {
		@media only screen and (max-width: 575px) {
			margin-left: 0;
		}
	}
	.products-list .product__info {
		@media only screen and (max-width: 575px) {
			padding: 0;
		}
	}
	.price-container__discount {
		@media only screen and (max-width: 575px) {
			right: -26px;
		}
	}
	.products-list .product__socials .product__invite-title {
		@media only screen and (max-width: 575px) {
			display: none;
		}
	}
	.products-list .product__socials {
		@media only screen and (max-width: 575px) {
			margin: 0 auto;
			margin-top: 32px;
			justify-content: center;
		}
	}
	.products-list .product__name {
		@media only screen and (max-width: 575px) {
			margin-top: 21px;
			font-size: 18px;
		}
	}
}

.socials-group {
	display: flex;
	margin-top: 10px;
}

.cart-sidebar-view-product .products-list .product.view {
	margin-bottom: 65px;
}

.product.view .price-container__old:after {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(30deg);
}

.description-items-wrap {
	width: 100%;

	.products-list .product__invite {

		&-list {
			@include respond-to(lg) {
				left: -150px;
				transform: scale(-1,1);
			}
		}

		&-row {
			@include respond-to(lg) {
				padding-left: 20px;
				transform: scale(-1,1);
			}
		}
	}
}

.mobile-breadcrums {
	display: none;

	@include respond-to(xs) {
		display: inline-block;
	}

	&-description span,
	&-description a:not(.mobile-breadcrums) {
		@include respond-to(xs) {
			display: none;
		}
	}
}
