.quality {

  &__title {
    margin-top: 85px;
    padding-right: 170px;
    color: $black-custom;

    @include respond-to(md) {
      margin-top: 40px;
      padding-right: 70px;
      letter-spacing: 0;
    }

    @include respond-to(xs) {
      margin-top: 25px;
      padding-right: 0;
    }
  }

  .return {

    &__container {
      padding-right: 100px;

      @include respond-to(md) {
        padding-right: 50px;
      }

      @include respond-to(xs) {
        padding-left: 10px;
      }
    }

    &__info {
      @include respond-to(xs) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__form {

      @include respond-to(xs) {
        margin-top: 80px;
        padding-left: 24px;
        padding-right: 40px;
      }
    }

    &__title {
      @include respond-to(xs) {
        padding-left: 30px;
      }
    }
  }

  .quality__container {
    @include respond-to(xs) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .red-btn.return__form_btn {
    @include respond-to(xs) {
      margin: 0 auto;
      margin-top: 30px;
      height: 40px;
    }
  }

  .quality__title {
    @include respond-to(md) {
      font-size: 30px;
      line-height: 28px;
    }

    @include respond-to(xs) {
      margin-bottom: 25px;
      padding-left: 0;
      font-size: 24px;
      line-height: 23px;
    }
  }

  .page-head {

    @include respond-to(md) {
      padding-left: 15px;
    }

    @include respond-to(xs) {
      padding-left: 10px;
    }
  }

  .input-group {
    @include respond-to(xs) {
      margin-top: 35px;
      z-index: 10;
    }
  }
}
