.reference-wrap h2 {
    font-family: $Panton;
    line-height: 49px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 22px;
}
.reference-block h4 {
	font-family: $Panton;
	line-height: 22px;
	font-size: 20px;
	color: #4F4F4F;
	font-weight: bold;
	margin-bottom: 44px;
  margin-top: 88px;
   @media only screen and (max-width: 768px)  {
      margin-top: 44px;
   }
}
.reference-wrap {
    padding-bottom: 110px;
    max-width: 1467px;
    margin: 0 auto;
    @media only screen and (max-width: 575px)  {
        padding: 0 10px;
    }
}
// **
.accordion {
  width:100%;
  max-width: 804px;
  border-bottom: 1px solid #E0E0E0;
}

ol {
  list-style-type: decimal;
  counter-reset: item;

  li {
    display: block;

    &:before {
      content: counters(item, ".") " ";
      counter-increment: item;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Roboto";
      font-weight: 500;
      line-height: 22px;
      font-size: 16px;
    }
  }
}

.accordion .accordion_item {
  border-top: 1px solid #E0E0E0;
  position:relative;
  max-width: 804px;
  cursor: pointer;

  &:first-child {
    border-top: none;
  }
}
.accordion .title_block {
  cursor:pointer;
  padding:21px 55px 21px 25px;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0;
  	font-family:$Roboto;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
  cursor: pointer;

  @include respond-to(xs) {
    padding: 21px 10px 21px 20px;
    font-size: 14px;
  }
}
.accordion .title_block:before {
  // content:url(../img/icons/more.svg);
  content: "";
  height:5px;
  // width:10px;
  display:block;
  position:absolute;
  right:20px;
  top:29px;
  transition:.3s ease-in-out;
  border: 5px solid transparent;
  border-top: 5px solid #333333;
  @include respond-to(xs) {
    right:0px;
  }
}
.accordion .active_block .title_block:before {
  transform: rotate(-180deg);
  top: 20px;
  @include respond-to(xs) {
    right:0px;
  }
}
.accordion .info {
  display: none;
  max-width: 804px;
  padding: 20px 0 0 70px;

  @include respond-to(xs) {
    padding: 10px 0 10px 0;
  }
  span {
  	display: block;
  	font-family:$Roboto;
  	font-weight: 500;
  	line-height: 22px;
  	font-size: 16px;
  }
}
.accordion .info_item {
  padding-left: 20px;
  font-family:$Roboto;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  text-indent: 20px;

  @include respond-to(xs) {
    padding-left: 40px;
    font-size: 14px;
  }
}
// ****
.info-content {
	display: flex;
  flex-direction: column;
}
.number-content {
	margin-right: 30px;
  @include respond-to(xs) {
    margin-right:20px;
  }
}
.info_item strong {
	font-weight: bold;
}
.reference-block {
	margin: auto;
    max-width: 1030px;
}

.info-content .content {
  position: relative;
	padding-bottom: 45px;
  width: 100%;

  &::before {
    top: 10px;
    left: -50px;

    @include respond-to(xs) {
      left: 0;
    }
  }
}
