.return {

  @media screen and (max-width: 1400px) {
    padding: 0;
  }

  &__steps {
    margin-top: 87px;
    margin-bottom: 65px;

    @include respond-to(md) {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }
    }
  }

  &__container {
    margin: 0 auto;
    padding-left: 130px;
    max-width: 1300px;

    @include respond-to(xl) {
      padding: 0 50px;
    }

    @include respond-to(md) {
      padding-left: 15px;
      padding-right: 0;
    }

    @include respond-to(xs) {
      padding-left: 10px;
    }
  }

  &__title {
    margin-bottom: 50px;
    font-family: $Panton;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #4F4F4F;
  }

  &__info {
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4F4F4F;

    @include respond-to(xs) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__step {
    width: 300px;

    @include respond-to(lg) {
      width: 250px;
    }

    @include respond-to(md) {
      width: 170px;
    }

    @media screen and (max-width: 720px) {
      margin-bottom: 30px;
      width: 100%;
    }

    &_img {
      margin-bottom: 20px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;

      @include respond-to(lg) {
        background-position: left;
      }

      @media screen and (max-width: 720px) {
        background-position: center;
      }

      &--application {
        background-image: url('../img/icons/application-form.svg');
      }

      &--house {
        background-image: url('../img/icons/house.svg');
      }

      &--courier {
        background-image: url('../img/icons/courier-big.svg');
      }
    }

    &_info {
      position: relative;

      &::before {
        content: attr(data-return-step);
        position: absolute;
        top: 0;
        left: -30px;
        display: block;
        width: 10px;
        height: 10px;
      }
    }
  }

  // DELIVERY
  &__delivery {
    position: relative;
    display: flex;
    margin: 0 332px 65px 113px;
    padding: 45px 66px 45px 125px;
    min-height: 198px;
    background-color: #f9f9f9;

    @include respond-to(xxl) {
      margin-right: 113px;
    }

    @include respond-to(xl) {
      margin-right: 50px;
    }

    @include respond-to(lg) {
      flex-direction: column;
      margin-left: 50px;
    }

    @include respond-to(sm) {
      padding: 34px 26px 45px 95px;
    }

    @include respond-to(xs) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 25px;
      padding-bottom: 150px;
    }

    &_title {
      font-family: $Panton;
      font-weight: 700;
      font-size: 28px;
      line-height: 26px;
      color: $black-custom;

      @include respond-to(xs) {
        font-size: 24px;
      }
    }

    &_address {
      color: $gray;
    }

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 355px;

      @include respond-to(lg) {
        margin-bottom: 40px;
        min-height: 120px;
      }

      @include respond-to(xs) {
        width: 100%;
        min-height: 90px;
      }
    }

    &_text {
      flex: 1;
      letter-spacing: 0;

      @include respond-to(xs) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &_paw {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -160px;
      width: 300px;
      height: 90px;
      background-image: url('../img/claws-paw.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include respond-to(sm) {
        top: 23%;
      }

      @include respond-to(xs) {
        top: auto;
        bottom: 0;
        left: -50px;
      }
    }
  }
  // END DELIVERY

  // DOCUMENTS
  &__documents {

    &_info {
      margin-top: 35px;

      @include respond-to(xs) {
        margin-top: 15px;
      }
    }

    .return__container {
      padding-right: 250px;

      @include respond-to(xxl) {
        padding-right: 50px;
      }

      @include respond-to(xs) {
        padding-right: 15px;
        padding-left: 40px;
      }
    }

    .return__title {
      font-size: 28px;
      line-height: 26px;

      @include respond-to(xs) {
        font-size: 24px;
        line-height: 23px;
      }
    }
  }
  // END DOCUMENTS

  // FORM
  &__form {
    position: relative;
    margin-top: 130px;
    margin-bottom: 112px;
    padding: 38px 47px 47px 53px;
    max-width: 767px;
    min-width: 320px;
    background-color: #f9f9f9;

    @include respond-to(xl) {
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to(xs) {
      min-width: 220px;
    }

    &_wrapper {
      @include respond-to(xs) {
        padding: 0;
        overflow: hidden;
      }
    }

    &_btn {
      margin-top: 50px;
    }

    .return__title {
      position: relative;
      font-size: 48px;
      line-height: 45px;
      color: $black-custom;
      z-index: 2;

      @include respond-to(xs) {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 36px;
      }
    }

    .input-group__item {
      background-color: #f9f9f9;
    }

    &_comment-input {
      @include respond-to(xs) {
        height: 45px;
      }
    }
  }
  // END FORMS

  // CLOUDS AND CAT
  &__cloud {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__big-cloud {
    top: -20px;
    left: -50px;
    width: 150px;
    height: 100px;
    background-image: url('../img/clouds/cloud_modal_1.svg');
  }

  &__small-cloud {
    top: 40%;
    left: -35px;
    width: 70px;
    height: 45px;
    background-image: url('../img/clouds/small-cloud.svg');

    &_2 {
      top: 45%;
      right: -35px;
      width: 77px;
      height: 50px;
      background-image: url('../img/clouds/small-cloud_2.svg');
    }
  }

  &__cat {
    top: -212px;
    right: 0;
    width: 300px;
    height: 300px;

    @include respond-to(xs) {
      top: -143px;
      right: -50px;
    }

    .svg {
      width: 300px;
      height: 300px;

  		transform-origin: 100% 71%;
  		transform: rotate3d(1, 0, 0, 90deg);
  		transition: all 0.42s ease;
      transform: rotate3d(1, 0, 0, 0deg);

      @include respond-to(xs) {
        width: 200px;
        height: 200px;
      }

  		& .cat-tail {
  			transform-origin: 93% 50%;
  			transform: rotate3d(0, 0, 1, 0deg);
        animation: moveTail 2s infinite;
    		animation-delay: 200ms;
    		transition-timing-function: ease-out;
  		}
  	}
  }
  // END CLOUDS

  .page-head {
    @include respond-to(xs) {
      padding-left: 10px;
    }
  }
}

.off-r {
  padding-right: 250px;

  @include respond-to(lg) {
    padding-right: 50px;
  }

  @include respond-to(xs) {
    padding-right: 0;
  }
}