.with-arrows {

  .slick-prev,
  .slick-next {
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
    z-index: 3;

    &:before {
      content: none;
    }

  }

  .slick-prev {
    background-image: url("../img/icons/slide-left-arrow.svg");
    left: -45px;
    top: 53%;

    &:hover {
      background-image: url("../img/icons/slide-left-arrow.svg");
    }
  }

  .slick-next {
    background-image: url("../img/icons/slide-right-arrow.svg");
    top: 53%;
    right: -45px;

    &:hover {
      background-image: url("../img/icons/slide-right-arrow.svg");
    }
  }
}