.static-page {

  &__title {
    font-family: $Panton;
    font-weight: 700;
    font-size: 48px;
    line-height: 45px;
    color: $black-custom;

    @include respond-to(xs) {
      font-size: 30px;
      line-height: 32px;
    }
  }

  &__subtitle {
    font-family: $Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #4F4F4F;

    @include respond-to(xs) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .post-title {
    font-family: $Panton;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    color: $black-custom;

    @include respond-to(xs) {
      font-size: 26px;
      line-height: 24px;
    }
  }

  .section {
    margin: 0 auto;
    padding-top: 83px;
    max-width: 1030px;

    @include respond-to(xs) {
      padding-top: 50px;
    }

    &__content {
      display: flex;
      margin-top: 44px;

      @include respond-to(lg) {
        flex-direction: column;
      }

      @include respond-to(xs) {
        margin-top: 20px;
      }
    }

    &__text {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      width: 70%;
      color: #4F4F4F;

      @include respond-to(lg) {
        width: 100%;
      }

      @include respond-to(xs) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }

      p {
        margin-bottom: 40px;

        @include respond-to(xs) {
          margin-bottom: 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__sidebar {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      right: -200px;
      width: 30%;

      @include respond-to(xxl) {
        right: -100px;
      }

      @include respond-to(lg) {
        right: 0;
        width: 100%;
      }

      &-text {
        width: 100%;
      }
    }

    &__figure {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @include respond-to(lg) {
        width: 50%;
        max-height: 400px;
        overflow: hidden;
        margin-top: 40px;
      }

      @include respond-to(md) {
        width: 70%;
        max-height: 450px;
      }

      @include respond-to(xs) {
        width: 100%;
      }

      &-img {
        overflow: hidden;

        img {
          width: 100%;
          max-height: 330px;

          @include respond-to(lg) {
            max-height: none;
          }
        }
      }

      &.ml {
        position: relative;
        width: 120%;
        left: -20%;
        margin-bottom: 40px;

        @include respond-to(lg) {
          width: 100%;
          left: 0;
        }
      }
    }

    &__figcaption {
      margin-top: 20px;
      font-family: $Roboto;
      font-size: 16px;
      line-height: 22px;
      font-style: italic;
      color: #bdbdbd;

      @include respond-to(xs) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .quote-text {
    position: relative;
    margin-bottom: 88px;
    font-family: $Roboto;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: $black-custom;

    @include respond-to(xs) {
      font-size: 18px;
      line-height: 22px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100px;
      display: block;
      width: 72px;
      height: 50px;
      background-image: url('../img/icons/quote.svg');
      background-size: contain;
      background-position: left;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -30px;
      display: block;
      width: 100%;
      height: 22px;
      background-color: #f2f2f2;
    }
  }

  .unnumeric-text__item {
    position: relative;

    @include respond-to(xs) {
      padding-left: 15px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: -57px;
      display: block;
      width: 10px;
      height: 10px;
      background-image: url('../img/icons/more-arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include respond-to(md) {
        left: -17px;
      }

      @include respond-to(xs) {
        left: -5px;
      }
    }
  }

  .numeric-text {
    margin-top: 30px;
    list-style-type: decimal;
    counter-reset: item;

    @include respond-to(xs) {
      padding-left: 15px;
    }

    &__item {
      position: relative;

      &::before {
        content: counters(item, ".") ".";
        counter-increment: item;
        position: absolute;
        top: 10px;
        left: -57px;

        @include respond-to(md) {
          left: -17px;
        }
      }
    }
  }

  .fs {
    justify-content: flex-start;

    @include respond-to(lg) {
      margin-bottom: 80px;
    }
  }
}

.custom-table {
  margin-top: 66px;
  margin-bottom: 111px;

  @include respond-to(lg) {
    margin-bottom: 40px;
  }

  .delivery-information .delivery-information-string-top p,
  .delivery-information .delivery-information-string p {
    margin: 10px 0;

    @include respond-to(xs) {
      font-size: 14px;
    }
  }

  .delivery-information-string .delivery-information-string-cost p {
    background: transparent;
  }

}
