.stock-detail-big {

  &__img {
    position: relative;
    margin: 88px auto 40px auto;
    max-width: 1469px;

    @include respond-to(xl) {
      margin-top: 45px;
      margin-bottom: 0;
    }

    @include respond-to(xs) {
      margin-top: 20px;
    }

    &-btn {
      position: absolute;
      bottom: 90px;
      left: 210px;

      @include respond-to(lg) {
        display: none;
      }
    }
  }

  &__info {
    margin: 0 auto;
    padding: 72px 0 80px 0;
    max-width: 1030px;


    @media screen and (max-width: 1400px) {
      padding: 45px 0 80px 0;
    }

    @include respond-to(xs) {
      padding: 25px 0 80px 0;
    }
  }

  &__text {
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
  }

  .product-slider-share {
    padding-left: 0;

    @media screen and (max-width: 1209px) {
      display: block;
    }

    @include respond-to(xs) {
      flex-direction: column;
      margin-top: 35px;
    }

    &__icons {
      display: flex;
      align-items: center;

      @include respond-to(xs) {
        margin-top: 10px;
      }
    }
  }

  .email,
  .email svg {
    width: 30px;
    height: 30px;
  }

  .email {
    padding-left: 0;
  }

  .vk path,
  .wu path {
    transition: all $delay;
  }

  // SVG Animation
  @include animateSvg(vk, #4D76A1);
  @include animateSvg(wu, #8BC34A);
  @include animateSvg(tele, #61A8DE);
  @include animateSvg(wechat, #7AD06D);
  @include animateSvg(viber, #7D3DAF);
  @include animateSvg(insta, #DC44BA);
  @include animateSvg(email, #41B471);

  // End SVG Animation

  .page-head,
  .catalog {
    @include respond-to(xs) {
      padding: 0 10px;
    }
  }

  .catalog-filter__mob-btn {
    position: relative;
    width: auto;

    @include respond-to(xs) {
      width: 100%;
    }
  }

  .product-slider-share {
    margin-bottom: 17px;
  }
}

.stock-detail__breadcrumbs {

  @include respond-to(xs) {
    display: none;
  }

  &-mobile {
    display: none;

    @include respond-to(xs) {
      display: block;
    }
  }
}

.filter-found {
  display: none;
  position: absolute;
  top: -50%;
  transform: translateY(50%);
  right: 25%;
  justify-content: center;
  align-items: center;
  padding: 2px 7px;
  min-width: 22px;
  min-height: 18px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: $second-red;
  color: #fff;

  @include respond-to(xs) {
    display: flex;
  }
}
