.subscription {
  padding-top: 84px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  &__grey{
    background-color: #f7f8ef;
    margin: 0 -30px;

    @include respond-to(xs) {
      width: 100vw;
      margin: 0 -10px;
    }
  }

  @include respond-to(md) {
    padding: 0 30px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include respond-to(xs) {
    padding: 0 10px;
    padding-top: 90px;
    padding-bottom: 30px;
  }

  & .input-group__item {
    background-color: transparent;
  }

  &__form {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
    width: 30%;

    @include respond-to(xxl) {
      width: 55%;
    }

    @include respond-to(lg) {
      margin-top: 47px;
      margin-left: -64px;
      width: 85%;
    }

    @include respond-to(xs) {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      width: 100%;
    }

    .input-box {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 16px;
      width: 70%;
      color: #828282;

      @include respond-to(xxl) {
        width: 75%;
      }

      @include respond-to(xs) {
        margin-bottom: 20px;
        width: 100%;
      }

      &__field {
        margin-right: 40px;
        color: #BDBDBD;
        border: none;
        border-bottom: 3px solid #C4C4C4;
        width: 412px;
        height: 35px;
        font-weight: 500;

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #BDBDBD;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #BDBDBD;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #BDBDBD;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #BDBDBD;
        }
      }
    }
    .red-btn {
      min-width: 122px;
      width: 122px;

      @include respond-to(xs) {
        font-size: 18px;
        height: 40px;
      }
    }
  }
  p {
    max-width: 1000px;
    padding-top: 75px;
    font-family: $Roboto;
    text-align: center;
    font-weight: 700;
    line-height: 38px;
    font-size: 26px;
    letter-spacing: 0;
    color: $black-custom;

    @include respond-to(md) {
      padding-top: 50px;
    }

    @include respond-to(xs) {
      font-size: 18px;
      line-height: 26px;
    }

    span {
      display: block;
    }
  }
  &__line {
    margin-top: 17px;
    background: #F2F2F2;
    width: 464px;
    height: 22px;

    @include respond-to(xs) {
      width: 100%;
    }
  }
}

.subscribe {
  display: none;
  margin-bottom: 60px;
  padding: 0 30px;
  font-family: $Panton, Arial, sans-serif;

  @include respond-to(md) {
    display: block;
  }

  @include respond-to(xs) {
    margin: 50px 0;
    padding: 0;
  }

  &__title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    color: $black-custom;

    @include respond-to(xs) {
      font-size: 32px;
      line-height: 30px;
      letter-spacing: 0;
    }
  }

  p {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 3px;
    color: $black-custom;

    @include respond-to(xs) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    margin-top: 40px;

    @include respond-to(xs) {
      margin-top: 25px;
      flex-direction: column;
    }
  }

  &__input {
    margin-right: 20px;
    width: 60%;

    @include respond-to(xs) {
      margin-bottom: 20px;
      margin-right: 0;
      width: 100%;
    }

    &-placeholder {
      font-family: $Roboto, Arial, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 1px;
      color: #bdbdbd;
    }
  }

  &__btn {
    @include respond-to(xs) {
      font-size: 16px;
      height: 40px;
      width: auto;
      min-width: 130px;
    }
  }
}
