.tip-cat{

  &__tools{
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: visible;

    @include respond-to(lg) {
      display: none;
    }
  }

  &__wrapp{
    position: fixed;
    top: auto;
    bottom: 0.5vh;
    right: 1vw;
    width: 161px;
    min-height: 250px;
    overflow: hidden;
    z-index: 99;
    //transition: all 400ms ease;

/*    @include respond-to(xxl) {
      top: 37vw;
      right: 0;
    }*/

/*    &.tip-cat__fixed{
      position: fixed;
      top: 33vw;
      right: 1.5vw;
      z-index: 99;
      transition: $delay;

      @include respond-to(xxl) {
        top: 37vw;
      }
    }*/

  }

  &__content{
    min-height: 130px;
    padding-top: 14px;
    padding-left: 22px;
    padding-bottom: 24px;
    padding-right: 6px;
    margin-bottom: 28px;

    color: #4F4F4F;
    font-size: 14px;
    font-family: $Roboto;
    line-height: 16px;
    font-weight: 700;
    text-align: left;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
    background-color: #ffffff;

    position: relative;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    opacity: 0;
    //transition-delay: 1000ms;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);

    &::before{
      content: '';
      display: block;
      width: 109%;
      height: 133px;

      position: absolute;
      bottom: -38px;
      left: 8px;
      right: 0;
      z-index: 2;
      background: url(../img/tip.png) no-repeat center bottom;
    }
  }

  &__content_padding{
   position: relative;
    z-index: 2;
    margin-bottom: 10px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__content_title{
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 7px;
  }

  &__icon{
    width: 75px;
    height: 65px;
    margin: 0 auto;
    margin-left: 25px;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.cat-loader{

  &__cheeks{
    animation: colorCheeks 4s infinite;
    animation-delay: 400ms;
    transition-timing-function: ease-out;
  }
}

@keyframes colorCheeks {
  0% {fill: #FFFC59;}
  50% {fill: #F71300;}
  100% {fill: #FFFC59;}
}

.tip-cat.is-active{

  & .tip-cat__content{
    transition-delay: 700ms;
    transform: scaleY(1);
    opacity: 1;
  }

  & .tip-cat__icon{
    transition-delay: 100ms;
    transform: translateX(0);
    opacity: 1;
  }
}